{% extends 'main_base.html' %}
{% load static %}
{% load i18n %}
{% load thumbnail %}

{% block head_container %}
    <title>{{ site_info.site_name }}</title>
    <meta name="keywords" content="{{ site_info.meta_keywords }}"/>
    <meta name="description" content="{{ site_info.meta_description }}">
    <meta property="og:url" content="{{ request.build_absolute_uri }}"/>
    <meta property="og:type" content="home"/>
    <meta property="og:title" content="{{ site_info.site_name }}"/>
    <meta property="og:description" content="{{ site_info.meta_description }}"/>
    <meta property="og:image" content="{{ site_info.image|thumbnail_url:'facebook_image' }}"/>
{% endblock %}

{% block main_container %}
    {% load embed_video_tags %}

{% endblock %}