{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load thumbnail %}
{% block head_container %}
    <title>{{ site_info.site_name }} - {% trans 'all_news' %}</title>
    <meta name="keywords" content="{% trans 'all_news' %}"/>
    <meta name="description" content="{% trans 'all_news' %}">

    <meta property="og:url" content="{{ request.build_absolute_uri }}"/>
    <meta property="og:type" content="{% trans 'all_news' %}"/>
    <meta property="og:title" content="{{ site_info.site_name }} - {% trans 'all_news' %}"/>
    <meta property="og:description" content="{{ site_info.site_name }} - {% trans 'all_news' %}"/>
    <meta property="og:image" content="{{ site_info.image|thumbnail_url:'facebook_image' }}"/>
{% endblock %}


{% block css_container %}
    {% include 'include/css/_index.html' %}
{% endblock %}
{% block main_container %}
    <div class="l-side-margins">
        <section id="{% trans 'all_news' %}" class="fc-container fc-container--has-show-more js-container--toggle "
                 data-link-name="container-5 | {% trans 'all_news' %}" data-id="d972-2641-c242-f3ac"
                 data-component="{% trans 'all_news' %}" aria-expanded="true">
            <div class="fc-container__inner">
                <div class="fc-container__header js-container__header">
                    <div class="fc-container__header__title">
                        <span tabindex="0">{% trans 'all_news' %}</span>
                    </div>
                </div>
                <div class="fc-container--rolled-up-hide fc-container__body fc-show-more--hidden js-container--fc-show-more"
                     data-title="{% trans 'all_news' %}" data-id="d972-2641-c242-f3ac">
                    <div class="fc-slice-wrapper">
                        <ul class="u-unstyled l-row  l-row--cols-3 fc-slice fc-slice--t-t-t">
                            {% for data in datas %}
                                <li class="fc-slice__item l-row__item l-row__item--span-1 u-faux-block-link">
                                    <div class="fc-item fc-item--has-image fc-item--has-metadata fc-item--is-commentable js-fc-item tone-news--item fc-item--standard-mobile fc-item--third-tablet js-snappable"
                                         data-discussion-id="/p/5q9bg" data-discussion-closed="false"
                                         data-discussion-url="{% url 'news' data.id data.slug %}#comments"
                                         data-link-name="news | group-0 | card-1" data-item-visibility="all"
                                         data-test-id="facia-card"
                                         data-id="{% url 'news' data.id data.slug %}">
                                        <div class="fc-item__container">
                                            <div class="fc-item__media-wrapper">
                                                <div class="fc-item__image-container u-responsive-ratio ">
                                                    <picture>
                                                        <!--[if IE 9]><video style="display: none;"><![endif]-->
                                                        <source media="(min-width: 980px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 980px) and (min-resolution: 120dpi)"
                                                                sizes="300px"
                                                                srcset="{{ data.image.url }} 600w">
                                                        <source media="(min-width: 980px)" sizes="300px"
                                                                srcset="{{ data.image.url }} 300w">
                                                        <source media="(min-width: 740px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 740px) and (min-resolution: 120dpi)"
                                                                sizes="220px"
                                                                srcset="{{ data.image.url }} 440w">
                                                        <source media="(min-width: 740px)" sizes="220px"
                                                                srcset="{{ data.image.url }} 220w">
                                                        <source media="(min-width: 0px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 0px) and (min-resolution: 120dpi)"
                                                                sizes="95vw"
                                                                srcset="{{ data.image.url }} 600w, {{ data.image.url }} 440w, {{ data.image.url }} 890w, {{ data.image.url }} 1210w">
                                                        <source media="(min-width: 0px)" sizes="95vw"
                                                                srcset="{{ data.image.url }} 300w, {{ data.image.url }} 220w, {{ data.image.url }} 445w, {{ data.image.url }} 605w">
                                                        <!--[if IE 9]></video><![endif]-->
                                                        <img class="responsive-img" alt="">
                                                    </picture>
                                                </div>
                                            </div>
                                            <div class="fc-item__content">
                                                <div class="fc-item__header">
                                                    <h2 class="fc-item__title"><a
                                                            href="{% url 'news' data.id data.slug %}"
                                                            class="fc-item__link" data-link-name="article"><span
                                                            class="fc-item__kicker">{{ data.first_name }}</span> <span
                                                            class="u-faux-block-link__cta fc-item__headline"> <span
                                                            class="js-headline-text">{{ data.second_name }}</span></span>
                                                    </a></h2>
                                                </div>
                                                <aside class="fc-item__meta js-item__meta">
                                                </aside>
                                            </div>
                                            <a href="{% url 'news' data.id data.slug %}"
                                               class="u-faux-block-link__overlay js-headline-text"
                                               data-link-name="article"
                                               tabindex="-1">{{ data.second_name }}</a>
                                        </div>
                                    </div>
                                </li>
                                {% if forloop.counter|divisibleby:3 and not forloop.last %}
                        </ul>
                    </div>
                    <div class="fc-slice-wrapper">
                        <ul class="u-unstyled l-row  l-row--cols-3 fc-slice fc-slice--t-t-t">
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </section>
            <section class="fc-container fc-container--lazy-load js-container--lazy-load ">
                <div class="fc-container__inner">
                    <div class="fc-container--rolled-up-hide fc-container__body" style="text-align: center;">

                        {% if datas.has_previous %}
                            <a href="?page={{ datas.previous_page_number }}" style="padding: 0 1.5rem;"
                               class="button button--medium button--primary button--show-more collection__show-more js-show-more-button"
                               data-test-id="show-more" data-link-name="more"> <span
                                    class="inline-plus inline-icon ">
                                </span> <span class="inline-minus inline-icon ">
                                 </span> <span class="js-button-text">
                                <i class="fa fa-chevron-left" aria-hidden="true"></i>
                            </span>
                            </a>
                        {% endif %}
                        <a disabled="" href="javascript:void(0)" style="padding: 0 1.5rem;"
                           class="button button--medium button--primary button--show-more collection__show-more js-show-more-button"
                           data-test-id="show-more" data-link-name="more"> <span
                                class="inline-plus inline-icon ">
                                </span> <span class="inline-minus inline-icon ">
                                 </span> <span class="js-button-text">
                                <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                                 {% trans 'page' %} {{ datas.number }} - {{ datas.paginator.num_pages }} <i
                                class="fa fa-angle-double-right" aria-hidden="true"></i>
                            </span>
                        </a>
                        {% if datas.has_next %}
                            <a href="?page={{ datas.next_page_number }}" style="padding: 0 1.5rem;"
                               class="button button--medium button--primary button--show-more collection__show-more js-show-more-button"
                               data-test-id="show-more" data-link-name="more"> <span
                                    class="inline-plus inline-icon ">
                                </span> <span class="inline-minus inline-icon ">
                                 </span> <span class="js-button-text">
                                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            </span>
                            </a>
                        {% endif %}


                    </div>
                </div>
            </section>
            <section id="site-info"
                     class="fc-container fc-container--has-show-more fc-container--lazy-load js-container--lazy-load js-container--toggle "
                     data-link-name="container-10 | site-info"
                     data-id="7b297ef5-a3f9-45e5-b915-b54951d7f6ec"
                     data-component="site-info" aria-expanded="true">
                <div class="fc-container__inner">
                    <div class="fc-container__header
                        js-container__header
                        ">
                        <div class="fc-container__header__title">
                            <span tabindex="0"></span>
                        </div>
                    </div>
                    <div class="fc-container--rolled-up-hide fc-container__body fc-show-more--hidden js-container--fc-show-more"
                         data-title=""
                         data-id="7b297ef5-a3f9-45e5-b915-b54951d7f6ec">
                        <div class="fc-slice-wrapper">
                            <p style="margin-bottom: 0.3rem;"><span style=" padding-bottom: 0.3rem;">Qaynar xətt: +994 050 400 67 67</span></p>
                            <p style="margin-bottom: 0.3rem;"><span style=" padding-bottom: 0.3rem;">E-mail: goldnews@gmail.com</span></p>
                            <p style="margin-bottom: 0.3rem;"><span style=" padding-bottom: 0.3rem;">Əhməd Rəcəbli 198, Comərd iş mərkəzi 5-ci mərtəbə</span></p>
                        </div>
                    </div>
                </div>
            </section>
    </div>
{% endblock %}