{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load thumbnail %}
{% load embed_video_tags %}
{% load templates_tags_c %}
{% block head_container %}
    <title>{{ site_info.site_name }}</title>
    <meta name="keywords" content="{{ site_info.meta_keywords }}"/>
    <meta name="description" content="{{ site_info.meta_description }}">
    <meta property="og:url" content="{{ request.build_absolute_uri }}"/>
    <meta property="og:type" content="home"/>
    <meta property="og:title" content="{{ site_info.site_name }}"/>
    <meta property="og:description" content="{{ site_info.meta_description }}"/>
    <meta property="og:image" content="{{ site_info.image|thumbnail_url:'facebook_image' }}"/>
{% endblock %}

{% block css_container %}
    {% include 'include/css/_index.html' %}
{% endblock %}

{% block main_container %}
    <style>
        body {
            font-family: "Helvetica Neue", Helvetica, Arial;
            font-size: 14px;
            line-height: 20px;
            font-weight: 400;
            color: #3b3b3b;
            -webkit-font-smoothing: antialiased;
            font-smoothing: antialiased;
            background: #2b2b2b;
        }

        .wrapper {
            margin: 0 auto;
            padding: 40px;
            max-width: 800px;
        }

        .table {
            margin: 0 0 40px 0;
            width: 100%;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
            display: table;
        }

        @media screen and (max-width: 580px) {
            .table {
                display: block;
            }
        }

        .row {
            display: table-row;
            background: #f6f6f6;
        }

        .row:nth-of-type(odd) {
            background: #e9e9e9;
        }

        .row.header {
            font-weight: 900;
            color: #ffffff;
            background: #00456e;
        }

        .row.green {
            background: #27ae60;
        }

        .row.blue {
            background: #2980b9;
        }

        @media screen and (max-width: 580px) {
            .row {
                padding: 8px 0;
                display: block;
            }
        }

        .cell {
            padding: 6px 12px;
            display: table-cell;
        }

        @media screen and (max-width: 580px) {
            .cell {
                padding: 2px 12px;
                display: block;
            }
        }

    </style>
    <div class="l-side-margins">
        <div class="facia-page" data-link-name="Front | /international" role="main">
            <section id="currency" class="fc-container fc-container--first js-container--first "
                     data-link-name="container-1 | currency"
                     data-component="headlines" aria-expanded="true">
                <div class="fc-container__inner">
                    <div class="fc-container__header
                js-container__header
                ">
                        <div class="fc-container__header__title">
                            <span tabindex="0">{% trans 'currency' %}</span>
                        </div>
                    </div>
                    <div class="fc-container--rolled-up-hide fc-container__body" data-title="currency">
                        <div class="fc-slice-wrapper">

                            <div style="text-align: center;">
                                {% if base_ads.header_horizontal_ads_1_script %}
                                    {{ base_ads.header_horizontal_ads_1_script }}
                                {% elif base_ads.header_horizontal_ads_1_image %}
                                    <a target="_blank" href="{{ base_ads.header_horizontal_ads_1_link }}">
                                        <img src="{{ base_ads.header_horizontal_ads_1_image.url }}">
                                    </a>
                                {% endif %}
                            </div>
                            <div class="wrapper">

                                <div class="table" style='font-family:"Source Sans Pro";text-align: center;'>

                                    <div class="row header" style="background: #d0b160;font-size: 18px;">
                                        <div class="cell">
                                            {% trans 'code' %}
                                        </div>
                                        <div class="cell">
                                            {% trans 'currency' %}
                                        </div>
                                        <div class="cell">
                                            {% trans 'rate' %}
                                        </div>
                                        <div class="cell">
                                        </div>
                                    </div>
                                    {% for currency_today in currencies_today %}
                                        <div class="row">
                                            <div class="cell">
                                                {{ currency_today.code }}
                                            </div>
                                            {#                                        <div class="cell">#}
                                            {#                                            {{ key.1.nominal }}#}
                                            {#                                        </div>#}
                                            <div class="cell">
                                                {{ currency_today.currency }}
                                            </div>
                                            <div class="cell">
                                                {{ currency_today.rate }}
                                            </div>
                                            <div class="cell">
                                                {% if currency_today.difference < currency_today.rate %}
                                                    <img src="{% static 'main/custom/image/up.png' %}">
                                                {% elif currency_today.difference > currency_today.rate %}
                                                    <img src="{% static 'main/custom/image/down.png' %}">
                                                {% else %}
                                                    <img src="{% static 'main/custom/image/no.png' %}">
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endfor %}

                                </div>

                            </div>


                        </div>
                    </div>
                </div>
            </section>

        </div>
    </div>

{% endblock %}