{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load thumbnail %}
{% load embed_video_tags %}
{% load templates_tags_c %}
{% block head_container %}
    <title>{{ site_info.site_name }}</title>
    <meta name="keywords" content="{{ site_info.meta_keywords }}"/>
    <meta name="description" content="{{ site_info.meta_description }}">
    <meta property="og:url" content="{{ request.build_absolute_uri }}"/>
    <meta property="og:type" content="home"/>
    <meta property="og:title" content="{{ site_info.site_name }}"/>
    <meta property="og:description" content="{{ site_info.meta_description }}"/>
    <meta property="og:image" content="{{ site_info.image|thumbnail_url:'facebook_image' }}"/>
{% endblock %}

{% block css_container %}
    {% include 'include/css/_index.html' %}
{% endblock %}

{% block main_container %}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css">
    <link rel="stylesheet" href="{% static 'select2/select2-bootstrap.css' %}">
    <style>
        body {
            font-family: "Helvetica Neue", Helvetica, Arial;
            font-size: 14px;
            line-height: 20px;
            font-weight: 400;
            color: #3b3b3b;
            -webkit-font-smoothing: antialiased;
            font-smoothing: antialiased;
            background: #2b2b2b;
        }

        .wrapper {
            margin: 0 auto;
            padding: 40px;
            max-width: 800px;
        }

        .table {
            margin: 0 0 40px 0;
            width: 100%;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
            display: table;
        }

        @media screen and (max-width: 580px) {
            .table {
                display: block;
            }
        }

        .row {
            display: table-row;
            background: #f6f6f6;
        }

        .row:nth-of-type(odd) {
            background: #e9e9e9;
        }

        .row.header {
            font-weight: 900;
            color: #ffffff;
            background: #00456e;
        }

        .row.green {
            background: #27ae60;
        }

        .row.blue {
            background: #2980b9;
        }

        @media screen and (max-width: 580px) {
            .row {
                padding: 8px 0;
                display: block;
            }
        }

        .cell {
            padding: 6px 12px;
            display: table-cell;
        }

        @media screen and (max-width: 580px) {
            .cell {
                padding: 2px 12px;
                display: block;
            }
        }

        .select2-container {
            width: 100% !important;
        }
    </style>
    <div class="l-side-margins" style="    background: #fff;">
        <div class="facia-page" data-link-name="Front | /international" role="main">
            <section id="currency" class="fc-container fc-container--first js-container--first "
                     data-link-name="container-1 | currency"
                     data-component="headlines" aria-expanded="true">
                <div class="fc-container__inner">
                    <div class="fc-container__header
                js-container__header
                ">
                        <div class="fc-container__header__title">
                            <span tabindex="0">{% trans 'weather' %}</span>
                        </div>

                    </div>
                    <div class="fc-container--rolled-up-hide fc-container__body" data-title="weather">
                        <div class="fc-slice-wrapper">

                            {#                            <div class="select2-wrapper" style="margin: 10px 0;">#}
                            {#                                <select id="weather-select-id" class="form-control input-lg select2-single"#}
                            {#                                        data-placeholder="{% trans 'city' %}" dir="ltr">#}
                            {#                                    <option></option>#}
                            {#                                                        {% for base_products_or_service in base_products_or_services %}#}
                            {#                                    {% for city in cities %}#}
                            {#                                        <option value="{{ city.id }}">{{ city.name }}</option>#}
                            {#                                    {% endfor %}#}
                            {#                                                        {% endfor %}#}
                            {#                                </select>#}
                            {#                            </div>#}
                            <div style="text-align: center;">
                                {% if base_ads.header_horizontal_ads_1_script %}
                                    {{ base_ads.header_horizontal_ads_1_script }}
                                {% elif base_ads.header_horizontal_ads_1_image %}
                                    <a target="_blank" href="{{ base_ads.header_horizontal_ads_1_link }}">
                                        <img src="{{ base_ads.header_horizontal_ads_1_image.url }}">
                                    </a>
                                {% endif %}
                            </div>
                            <div class="wrapper">

                                <div class="table"
                                     style="    text-align: center;font-size: 18px;font-weight: 600;color: #967110;"
                                     id="weather-table-div-id">
                                    {% if cities %}
                                        {% for city in cities %}
                                            {#{% for w in weather.0.items %}#}
                                            <div class="row">
                                                <div style="vertical-align: middle;" class="cell">
                                                    {{ city.name }}
                                                </div>
                                                <div style="vertical-align: middle;" class="cell">
                                                    {{ city.low }} / {{ city.high }}
                                                </div>
                                                <div style="vertical-align: middle;" class="cell">
                                                    <img src="{{ city.icon_url }}"/>
                                                </div>
                                            </div>

                                        {% endfor %}
                                    {% endif %}
                                </div>

                            </div>


                        </div>
                    </div>
                </div>
            </section>

        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="{% static 'select2/select2.full.js' %}"></script>
    <script type="text/javascript">
        {#  $('select').select2({#}
        {#  theme: "classic",#}
        {#          language: "az",#}
        {#  placeholder: "Select a state",#}
        {#allowClear: true#}
        {#{);#}
        {#        $("#dropdown").select2({#}
        {#            theme: "bootstrap"#}
        {#        });#}
    </script>
    <script>
        $(".select2-single, .select2-multiple").select2({
            theme: "bootstrap",
            language: "az",
            placeholder: "Select a State",
            maximumSelectionSize: 6,
            containerCssClass: ':all:'
        });

        $(":checkbox").on("click", function () {
            $(this).parent().nextAll("select").prop("disabled", !this.checked);
        });
    </script>
    <script>
        $("#weather-select-id").change(function () {
            {#            alert("Handler for .change() called.");#}
            $.ajax({
                url: '', // the endpoint,commonly same url
                dataType: "json",
                type: "GET",
                data: {
                    city: $("#weather-select-id").val()
                },
                success: function (json) {
                    if (json['message_code'] == 1) {
                        var weather_table = $('#weather-table-div-id')
                        weather_table.html(json['html'])
                    } else {

                    }
                },
                // handle a non-successful response
                error: function (xhr, errmsg, err) {
                    alert('error')
                }
            });
        });
    </script>
{% endblock %}