{% extends 'main_base.html' %}
{% load static %}
{% load i18n %}
{% load thumbnail %}

{% block head_container %}
        <title>{{ site_info.site_name }}</title>
        <meta name="keywords" content="{{ site_info.site_name }}" />
        <meta name="description" content="{{ site_info.site_name }}">

{% endblock %}

{% block main_container %}

{% endblock %}