{% extends 'userprofile_base.html' %}
{% load static %}
{% load thumbnail %}
{% load i18n %}
{% block head_container %}
    <title>{{ site_info.site_name }}</title>
    <meta name="keywords" content="{{ site_info.meta_keywords }}"/>
    <meta name="description" content="{{ site_info.meta_description }}">
    <meta property="og:url" content="{{ request.build_absolute_uri }}"/>
    <meta property="og:type" content="home"/>
    <meta property="og:title" content="{{ site_info.site_name }}"/>
    <meta property="og:description" content="{{ site_info.meta_description }}"/>
    <meta property="og:image" content="{{ site_info.image|thumbnail_url:'facebook_image' }}"/>

{% endblock %}
    {% block up_main_container %}
    <div class="page-content">
                        <!-- BEGIN PAGE HEADER-->
                        <!-- BEGIN THEME PANEL -->
{#                        <div class="theme-panel">#}
{#                            <div class="toggler tooltips" data-container="body" data-placement="left" data-html="true" data-original-title="Click to open advance theme customizer panel">#}
{#                                <i class="icon-settings"></i>#}
{#                            </div>#}
{#                            <div class="toggler-close">#}
{#                                <i class="icon-close"></i>#}
{#                            </div>#}
{#                            <div class="theme-options">#}
{#                                <div class="theme-option theme-colors clearfix">#}
{#                                    <span> THEME COLOR </span>#}
{#                                    <ul>#}
{#                                        <li class="color-default current tooltips" data-style="default" data-container="body" data-original-title="Default"> </li>#}
{#                                        <li class="color-grey tooltips" data-style="grey" data-container="body" data-original-title="Grey"> </li>#}
{#                                        <li class="color-blue tooltips" data-style="blue" data-container="body" data-original-title="Blue"> </li>#}
{#                                        <li class="color-dark tooltips" data-style="dark" data-container="body" data-original-title="Dark"> </li>#}
{#                                        <li class="color-light tooltips" data-style="light" data-container="body" data-original-title="Light"> </li>#}
{#                                    </ul>#}
{#                                </div>#}
{#                                <div class="theme-option">#}
{#                                    <span> Theme Style </span>#}
{#                                    <select class="layout-style-option form-control input-small">#}
{#                                        <option value="square" selected="selected">Square corners</option>#}
{#                                        <option value="rounded">Rounded corners</option>#}
{#                                    </select>#}
{#                                </div>#}
{#                                <div class="theme-option">#}
{#                                    <span> Layout </span>#}
{#                                    <select class="layout-option form-control input-small">#}
{#                                        <option value="fluid" selected="selected">Fluid</option>#}
{#                                        <option value="boxed">Boxed</option>#}
{#                                    </select>#}
{#                                </div>#}
{#                                <div class="theme-option">#}
{#                                    <span> Header </span>#}
{#                                    <select class="page-header-option form-control input-small">#}
{#                                        <option value="fixed" selected="selected">Fixed</option>#}
{#                                        <option value="default">Default</option>#}
{#                                    </select>#}
{#                                </div>#}
{#                                <div class="theme-option">#}
{#                                    <span> Top Dropdown</span>#}
{#                                    <select class="page-header-top-dropdown-style-option form-control input-small">#}
{#                                        <option value="light" selected="selected">Light</option>#}
{#                                        <option value="dark">Dark</option>#}
{#                                    </select>#}
{#                                </div>#}
{#                                <div class="theme-option">#}
{#                                    <span> Sidebar Mode</span>#}
{#                                    <select class="sidebar-option form-control input-small">#}
{#                                        <option value="fixed">Fixed</option>#}
{#                                        <option value="default" selected="selected">Default</option>#}
{#                                    </select>#}
{#                                </div>#}
{#                                <div class="theme-option">#}
{#                                    <span> Sidebar Style</span>#}
{#                                    <select class="sidebar-style-option form-control input-small">#}
{#                                        <option value="default" selected="selected">Default</option>#}
{#                                        <option value="compact">Compact</option>#}
{#                                    </select>#}
{#                                </div>#}
{#                                <div class="theme-option">#}
{#                                    <span> Sidebar Menu </span>#}
{#                                    <select class="sidebar-menu-option form-control input-small">#}
{#                                        <option value="accordion" selected="selected">Accordion</option>#}
{#                                        <option value="hover">Hover</option>#}
{#                                    </select>#}
{#                                </div>#}
{#                                <div class="theme-option">#}
{#                                    <span> Sidebar Position </span>#}
{#                                    <select class="sidebar-pos-option form-control input-small">#}
{#                                        <option value="left" selected="selected">Left</option>#}
{#                                        <option value="right">Right</option>#}
{#                                    </select>#}
{#                                </div>#}
{#                                <div class="theme-option">#}
{#                                    <span> Footer </span>#}
{#                                    <select class="page-footer-option form-control input-small">#}
{#                                        <option value="fixed">Fixed</option>#}
{#                                        <option value="default" selected="selected">Default</option>#}
{#                                    </select>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
                        <!-- END THEME PANEL -->
                        <h1 class="page-title"> {{ request.user.first_name }} {{ request.user.last_name }}
                            <small>@{{ request.user.username }} </small>
                        </h1>
                        <!-- END PAGE HEADER-->
                        <div class="row">
                            <div class="col-md-12">
                                <!-- BEGIN PROFILE SIDEBAR -->
                                <div class="profile-sidebar">
                                    <!-- PORTLET MAIN -->
                                    <div class="portlet light profile-sidebar-portlet ">
                                        <!-- SIDEBAR USERPIC -->
                                        <div class="profile-userpic">
                                            <img src="{% if user_profile.prof_img %}{{ user_profile.prof_img|thumbnail_url:'userprofile_image_icon' }}{% else %}{% static 'userprofile/assets/global/img/icon-user-default.png' %}{% endif %}" class="img-responsive" alt=""> </div>
                                        <!-- END SIDEBAR USERPIC -->
                                        <!-- SIDEBAR USER TITLE -->
                                        <div class="profile-usertitle">
                                            <div class="profile-usertitle-name"> {{ request.user.first_name }} {{ request.user.last_name }} </div>
                                            <div class="profile-usertitle-job"> @{{ request.user.username|lower }}  </div>
                                        </div>
                                        <!-- END SIDEBAR USER TITLE -->
                                        <!-- SIDEBAR BUTTONS -->
{#                                        <div class="profile-userbuttons">#}
{#                                            <button type="button" class="btn btn-circle green btn-sm">Follow</button>#}
{#                                            <button type="button" class="btn btn-circle red btn-sm">Message</button>#}
{#                                        </div>#}
                                        <!-- END SIDEBAR BUTTONS -->
                                        <!-- SIDEBAR MENU -->
                                        <div class="profile-usermenu">
                                            <ul class="nav">
                                                <li>
                                                    <a href="{% url 'myprofile' %}">
                                                        <i class="icon-home"></i> {% trans 'Profile' %} </a>
                                                </li>
{#                                                <li class="active">#}
{#                                                    <a href="{% url 'books' %}">#}
{#                                                        <i class="icon-info"></i> {% trans 'Books' %} </a>#}
{#                                                </li>#}
                                            </ul>
                                        </div>
                                        <!-- END MENU -->
                                    </div>
                                    <!-- END PORTLET MAIN -->
{#                                    <!-- PORTLET MAIN -->#}
{#                                    <div class="portlet light ">#}
{#                                        <!-- STAT -->#}
{#                                        <div class="row list-separated profile-stat">#}
{#                                            <div class="col-md-4 col-sm-4 col-xs-6">#}
{#                                                <div class="uppercase profile-stat-title"> 37 </div>#}
{#                                                <div class="uppercase profile-stat-text"> Projects </div>#}
{#                                            </div>#}
{#                                            <div class="col-md-4 col-sm-4 col-xs-6">#}
{#                                                <div class="uppercase profile-stat-title"> 51 </div>#}
{#                                                <div class="uppercase profile-stat-text"> Tasks </div>#}
{#                                            </div>#}
{#                                            <div class="col-md-4 col-sm-4 col-xs-6">#}
{#                                                <div class="uppercase profile-stat-title"> 61 </div>#}
{#                                                <div class="uppercase profile-stat-text"> Uploads </div>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        <!-- END STAT -->#}
{#                                        <div>#}
{#                                            <h4 class="profile-desc-title">About Marcus Doe</h4>#}
{#                                            <span class="profile-desc-text"> Lorem ipsum dolor sit amet diam nonummy nibh dolore. </span>#}
{#                                            <div class="margin-top-20 profile-desc-link">#}
{#                                                <i class="fa fa-globe"></i>#}
{#                                                <a href="http://www.keenthemes.com">www.keenthemes.com</a>#}
{#                                            </div>#}
{#                                            <div class="margin-top-20 profile-desc-link">#}
{#                                                <i class="fa fa-twitter"></i>#}
{#                                                <a href="http://www.twitter.com/keenthemes/">@keenthemes</a>#}
{#                                            </div>#}
{#                                            <div class="margin-top-20 profile-desc-link">#}
{#                                                <i class="fa fa-facebook"></i>#}
{#                                                <a href="http://www.facebook.com/keenthemes/">keenthemes</a>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <!-- END PORTLET MAIN -->#}
                                </div>
                                <!-- END BEGIN PROFILE SIDEBAR -->
                                <!-- BEGIN PROFILE CONTENT -->
                                <div class="profile-content">
                                    <div class="row">
{#                                    {% for bookNews in bookNewss|slice:'9' %}#}
{#                                        <div class="col-lg-12">#}
{#                                            <div class="blog-post-lg bordered blog-container">#}
{#                                                <div class="blog-img-thumb">#}
{#                                                    <a href="{% url 'book_detail' bookNews.id %}">#}
{#                                                        <img src="{{ bookNews.image|thumbnail_url:'gallery_image' }}" />#}
{#                                                    </a>#}
{#                                                </div>#}
{#                                                <div class="blog-post-content">#}
{#                                                    <h2 class="blog-title blog-post-title">#}
{#                                                        <a href="{% url 'book_detail' bookNews.id %}">{{ bookNews.name }}</a>#}
{#                                                    </h2>#}
{#                                                    <p class="blog-post-desc"> {% if bookNews.description %}{{ bookNews.description|slice:'200' }}{% endif %}</p>#}
{#                                                    <div class="blog-post-foot">#}
{##}
{#                                                        <div class="blog-post-meta">#}
{#                                                            <i class="icon-calendar font-blue"></i>#}
{#                                                            <a href="{% url 'book_detail' bookNews.id %}">{{ bookNews.publish_start_date|date:'d F Y' }}</a>#}
{#                                                        </div>#}
{##}
{#                                                    </div>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    {% endfor %}#}
                                    </div>
                                </div>
                                <!-- END PROFILE CONTENT -->
                            </div>
                        </div>

    </div>
    {% endblock %}