{% extends 'userprofile_base.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}
{% block head_container %}
        <title>{{ site_info.site_name }}</title>
        <meta name="keywords" content="{{ site_info.site_name }}" />
        <meta name="description" content="{{ site_info.site_name }}">

    <link href="{% static 'userprofile/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css' %}"
          rel="stylesheet" type="text/css"/>
    <link href="{% static 'userprofile/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css' %}"
          rel="stylesheet" type="text/css"/>
    <link href="{% static 'userprofile/assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css' %}"
          rel="stylesheet" type="text/css"/>
    <link href="{% static 'userprofile/assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css' %}"
          rel="stylesheet" type="text/css"/>
    <link href="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/build/css/bootstrap-datetimepicker.css"
          rel="stylesheet">

{% endblock %}
{% block up_main_container %}
<style>
.invalid{
	border: 1px solid red;
}
.errorlist {
    list-style-type: none;
}
</style>
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <!-- BEGIN THEME PANEL -->

        <!-- END THEME PANEL -->
        <h1 class="page-title"> New News | News
            <small>Create News Page</small>
        </h1>
        <!-- END PAGE HEADER-->
        <div class="row">
            <div class="col-md-12">

                <!-- BEGIN PROFILE CONTENT -->
                <div class="profile-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet light ">
                                <div class="portlet-title tabbable-line">
                                    <div class="caption caption-md">
                                        <i class="icon-globe theme-font hide"></i>
                                        <span class="caption-subject font-blue-madison bold uppercase">New News</span>
                                    </div>
                                    <ul class="nav nav-tabs">
                                        <li class="active">
                                            <a href="#tab_1_1" data-toggle="tab">News Details</a>
                                        </li>
                                    </ul>
                                </div>
                                <div id="change-profile-error"
                                     style="text-align: center; padding: 10px; border: 1px solid #ff0000; border-radius: 5px !important; background: antiquewhite; display: none;">
                                    test
                                </div>
                                <div id="change-profile-success"
                                     style="text-align: center; padding: 10px; border: 1px solid darkgreen; border-radius: 5px !important; background: rgba(0, 100, 0, 0.25); display: none;">
                                    test
                                </div>
                                <div class="portlet-body">
                                    <div class="tab-content">
                                        <!-- PERSONAL INFO TAB -->
                                        <div class="tab-pane active" id="tab_1_1">
                                            <form role="form" action="{% if next_url %}?next_url={{ next_url }}{% endif %}" method="post" id="changeprofile_form" enctype="multipart/form-data" >
                                                {% csrf_token %}
{#                                                {{ form.identified_data }}#}
{#                                                <input type="text" id="identified" name="identified" value="{{ news_c.unique_name }}">#}
                                                <div class="form-group">
                                                    <label class="control-label">{% trans 'Is Publish' %}</label>
                                                    {{ form.is_active }}
                                                </div>
                                                <div class="form-group {% if form.image.errors %}has-error{% endif %}">
                                                    <label class="control-label">{% trans 'Image' %}</label>
                                                    {{ form.image }}
                                                    {% if multimedia %}
                                                        <hr>
                                                        <img style="border: 1px solid; padding: 2px;" src="{{ multimedia.image.url }}" height="200px">
                                                    {% endif %}
                                                    {% if form.image.errors %}
                                                        <div class="alert alert-danger" style="padding: 7px 0;">
                                                            <button style="margin: 5px 10px;" type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                                                ×
                                                            </button>
                                                            <strong>{{ form.image.errors }}</strong>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                                <div class="form-group {% if form.first_name.errors %}has-error{% endif %}">
                                                    <label class="control-label">{% trans 'prefix_title' %}</label>
                                                    {{ form.first_name|add_class:"form-control" }}
                                                    {% if form.first_name.errors %}
                                                        <div class="alert alert-danger" style="padding: 7px 0;">
                                                            <button style="margin: 5px 10px;" type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                                                ×
                                                            </button>
                                                            <strong>{{ form.first_name.errors }}</strong>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                                <div class="form-group {% if form.second_name.errors %}has-error{% endif %}">
                                                    <label class="control-label">{% trans 'suffix_title' %}</label>
                                                    {{ form.second_name|add_class:"form-control" }}
                                                    {% if form.second_name.errors %}
                                                        <div class="alert alert-danger" style="padding: 7px 0;">
                                                            <button style="margin: 5px 10px;" type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                                                ×
                                                            </button>
                                                            <strong>{{ form.second_name.errors }}</strong>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                                <div class="form-group {% if form.type.errors %}has-error{% endif %}">
                                                    <label class="control-label">{% trans 'Name' %}</label>
                                                    {{ form.type|add_class:"form-control" }}
                                                    {% if form.type.errors %}
                                                        <div class="alert alert-danger" style="padding: 7px 0;">
                                                            <button style="margin: 5px 10px;" type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                                                ×
                                                            </button>
                                                            <strong>{{ form.type.errors }}</strong>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                                <div class="form-group {% if form.short_text.errors %}has-error{% endif %}">
                                                    <label class="control-label">{% trans 'Short Text' %}</label>
                                                    {{ form.short_text|add_class:"form-control" }}
                                                        {% if form.short_text.errors %}
                                                            <div class="alert alert-danger" style="padding: 7px 0;">
                                                                <button style="margin: 5px 10px;" type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                                                    ×
                                                                </button>
                                                                <strong>{{ form.short_text.errors }}</strong>
                                                            </div>
                                                        {% endif %}
                                                </div>
                                                <div class="form-group {% if form.meta_keywords.errors %}has-error{% endif %}">
                                                    <label class="control-label">{% trans 'Meta Keywords' %}</label>
                                                    {{ form.meta_keywords|add_class:"form-control" }}
                                                        {% if form.meta_keywords.errors %}
                                                            <div class="alert alert-danger" style="padding: 7px 0;">
                                                                <button style="margin: 5px 10px;" type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                                                    ×
                                                                </button>
                                                                <strong>{{ form.meta_keywords.errors }}</strong>
                                                            </div>
                                                        {% endif %}
                                                </div>
                                                <div class="form-group {% if form.meta_description.errors %}has-error{% endif %}">
                                                    <label class="control-label">{% trans 'Meta Description' %}</label>
                                                    <br>
                                                    {{ form.meta_description|attr:"width:100%" }}
                                                        {% if form.meta_description.errors %}
                                                            <div class="alert alert-danger" style="padding: 7px 0;">
                                                                <button style="margin: 5px 10px;" type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                                                    ×
                                                                </button>
                                                                <strong>{{ form.meta_description.errors }}</strong>
                                                            </div>
                                                        {% endif %}
                                                </div>
{#                                                <div class="form-group">#}
{#                                                    <div class="g-recaptcha"#}
{#                                                         data-sitekey="6Lf9vw0UAAAAAOwYYpIO2z5iV8izeYYa0Ieeu5cF"></div>#}
{#                                                </div>#}
                                                <div class="form-group">
                                                    <input class="btn btn-success" type="submit" value="Create"/>
                                                </div>
                                            </form>
                                        </div>
                                        <!-- END PERSONAL INFO TAB -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END PROFILE CONTENT -->
            </div>
        </div>
    </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
{% endblock %}