{% extends 'userprofile_base.html' %}
{% load static %}
{% load i18n %}

{% block head_container %}
        <title>{{ site_info.site_name }}</title>
        <meta name="keywords" content="{{ site_info.site_name }}" />
        <meta name="description" content="{{ site_info.site_name }}">

{% endblock %}
{% block up_main_container %}

    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <!-- BEGIN THEME PANEL -->

        <!-- END THEME PANEL -->
        <h1 class="page-title"> New User Profile
        </h1>
        <!-- END PAGE HEADER-->
        <div class="row">
            <div class="col-md-12" >
                {% if create_messages%}
                    <div style="text-align: center;" id="news-list-error-message" class="alert alert-success"><strong>{{ create_messages }}</strong></div>
                {% endif %}
                <!-- BEGIN PROFILE CONTENT -->
                <div class="profile-content" style="background: #fff">
                <div class="row">
                    <a href="{% url 'createnews' %}?next_url={{ request.path }}" class="col-md-3 col-sm-6 col-xs-12 btn btn-primary btn-md" role="button">{% trans 'Create News' %}</a>
                </div>
                </br>
                    <div class="row">
                        <a href="{% url 'listnews' 'all' %}"><div class="col-md-4 btn btn-success">{% trans 'all_news' %}</div></a>
                        <a href="{% url 'listnews' 'unpublished' %}"><div class="col-md-4 btn btn-danger">{% trans 'unpublished' %}</div></a>
                        <a href="{% url 'listnews' 'published' %}"><div class="col-md-4 btn btn-primary">{% trans 'published' %}</div></a>
                        <div class="col-md-12">
                                <div style="display: none;" id="news-list-error-message" class="alert alert-danger"></div>
                                <table class="table table-users">
                                    <thead>
                                    <tr>
                                        {#			<th class="min-width"></th>#}
                                        <th><i class="fa fa-eye" aria-hidden="true"></i> {% trans 'preview' %}</th>
                                        <th>{% trans 'image' %}</th>
                                        <th>{% trans 'first_тame' %}</th>
                                        <th>{% trans 'second_name' %}</th>
                                        <th>{% trans 'create_date' %}</th>
                                        <th class="min-width"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for news in newss %}
                                        <tr id="profile-list-item-{{ news.id }}">
                                            {#                    <td class="min-width"><input type="checkbox" /></td>#}
                                            <td>
                                                <span class="user-image"
                                                      style="background-image: url('{% static 'main/assets/img/tmp/agent-1.jpg' %}');"></span>
                                                <a target="_blank" href="{% url 'preview_news' news.id news.slug %}" class="btn btn-default"><i class="fa fa-eye" aria-hidden="true"></i> {% trans 'view' %}</a>
                                            </td>
                                            <td>
                                                <span class="user-image"
                                                      style="background-image: url('{% static 'main/assets/img/tmp/agent-1.jpg' %}');"></span>
                                                <img src=" {{ news.image.url }}" height="40"/>
                                            </td>
                                            <td>
                                                <span class="user-image"
                                                      style="background-image: url('{% static 'main/assets/img/tmp/agent-1.jpg' %}');"></span>
                                                {{ news.first_name|slice:'20' }}
                                            </td>
                                            <td>
                                                <span class="user-image"
                                                      style="background-image: url('{% static 'main/assets/img/tmp/agent-1.jpg' %}');"></span>
                                                {{ news.second_name|slice:'20' }}
                                            </td>
                                            <td>{{ news.publish_start_date|date:'h:f d F Y' }}</td>
                                            <td class="min-width">
                                                <a href="{% url 'editnews' news.id %}?next_url={{ request.path }}" class="btn btn-primary"><i class="fa fa-pencil"></i>
                                                    {% trans 'Edit' %}</a>
                                                <a onclick="deleteNews( '{% url 'deletenews' news.id %}?next_url={{ request.path }}')" class="btn btn-danger">
                                                    {% trans 'Remove' %}
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}


                                    </tbody>
                                </table>

                                <div class="pagination-wrapper">
                                    <ul class="pagination">
                                        {% if newss.has_previous %}
                                            <li class="page-item "><a class="page-link"
                                                                      href="?page={{ newss.previous_page_number }}">«</a>
                                            </li>
                                        {% else %}
                                            <li class="page-item disabled"><a class="page-link" href="">»</a></li>
                                        {% endif %}
                                        {% for i in newss.paginator.page_range %}
                                            {% if newss.number == i %}
                                                <li class="page-item active"><a class="page-link" href="">{{ i }} <span
                                                        class="sr-only">(current)</span></a>
                                                </li>
                                            {% else %}
                                                <li class="page-item "><a class="page-link"
                                                                          href="?page={{ i }}">{{ i }}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                        {% if newss.has_next %}
                                            <li class="page-item "><a class="page-link"
                                                                      href="?page={{ newss.next_page_number }}">»</a>
                                            </li>
                                        {% else %}
                                            <li class="page-item disabled"><a class="page-link" href="">»</a></li>
                                        {% endif %}
                                    </ul>
                                </div><!-- /.pagination-wrapper -->
                        </div>
                    </div>
                </div>
                <!-- END PROFILE CONTENT -->
            </div>
        </div>
    </div>
    <script src="{% static 'userprofile/assets/global/plugins/jquery.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'userprofile/assets/js/userprofile.js' %}"></script>
		<script>
			function deleteNews($url){
				$.confirm.show({
					"message":"Silmək istədyinizdən Əminsiniz.",
					"type":"danger",
					"yes":function(){
                        window.location.replace($url);
					}
				})
			}
		</script>
{% endblock %}