{% extends 'userprofile_base.html' %}
{% load static %}
{% load i18n %}

{% block head_container %}
        <title>{{ site_info.site_name }}</title>
        <meta name="keywords" content="{{ site_info.site_name }}" />
        <meta name="description" content="{{ site_info.site_name }}">

{% endblock %}
{% block up_main_container %}

    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <!-- BEGIN THEME PANEL -->

        <!-- END THEME PANEL -->
        <h1 class="page-title"> New User Profile | Account
            <small>user account page</small>
        </h1>
        <!-- END PAGE HEADER-->
        <div class="row">
            <div class="col-md-12">

                <!-- BEGIN PROFILE CONTENT -->
                <div class="profile-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet light ">
                                <div class="portlet-title tabbable-line">
                                    <div class="caption caption-md">
                                        <i class="icon-globe theme-font hide"></i>
                                        <span class="caption-subject font-blue-madison bold uppercase">Profile Account</span>
                                    </div>
                                    <ul class="nav nav-tabs">
                                        <li class="active">
                                            <a href="#tab_1_1" data-toggle="tab">Personal Info</a>
                                        </li>
                                    </ul>
                                </div>
                                <div id="change-profile-error"
                                     style="text-align: center; padding: 10px; border: 1px solid #ff0000; border-radius: 5px !important; background: antiquewhite; display: none;">
                                    test
                                </div>
                                <div id="change-profile-success"
                                     style="text-align: center; padding: 10px; border: 1px solid darkgreen; border-radius: 5px !important; background: rgba(0, 100, 0, 0.25); display: none;">
                                    test
                                </div>
                                <div class="portlet-body">
                                    <div class="tab-content">
                                        <!-- PERSONAL INFO TAB -->
                                        <div class="tab-pane active" id="tab_1_1">
                                            <form role="form" action="{% url 'change_profile_ajax' %}"
                                                  id="changeprofile_form">
                                                {% csrf_token %}
                                                <div class="form-group">
                                                    <label class="control-label">{% trans 'First Name' %}</label>
                                                    <input type="text" placeholder="John" name="first_name"
                                                           id="first_name" class="form-control"
                                                           value="{{ request.user.first_name }}"/>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">{% trans 'Last Name' %}</label>
                                                    <input type="text" placeholder="Doe" name="last_name" id="last_name"
                                                           class="form-control" value="{{ request.user.last_name }}"/>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">{% trans 'Password' %}</label>
                                                    <input type="password" name="password" placeholder="Password"
                                                           class="form-control"/>
                                                </div>
                                                <div class="form-group">
                                                    <a onclick="profileChange()" id="change-profile-button"
                                                       class="btn green"> {% trans 'Save Changes' %}</a>
                                                </div>
                                            </form>
                                        </div>
                                        <!-- END PERSONAL INFO TAB -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END PROFILE CONTENT -->
            </div>
        </div>
    </div>
    <script src="{% static 'userprofile/assets/js/userprofile.js' %}"></script>
{% endblock %}