{% extends 'main_base.html' %}
{% load static %}
{% load i18n %}
{% load thumbnail %}

{% block head_container %}
    <title>{{ site_info.site_name }} - {{ user_profile.prof_sponsor_name }}</title>
    <meta name="keywords" content="{{ site_info.meta_keywords }},{{ user_profile.prof_sponsor_name }}"/>
    <meta name="description" content="{{ site_info.meta_description }}">
    <meta property="og:url" content="{{ request.build_absolute_uri }}"/>
    <meta property="og:type" content="home"/>
    <meta property="og:title" content="{{ site_info.site_name }} - {{ user_profile.prof_sponsor_name }}"/>
    <meta property="og:description" content="{{ user_profile.prof_sponsor_name }}"/>
    <meta property="og:image" content="{{ site_info.prof_facebook|thumbnail_url:'facebook_image' }}"/>
{% endblock %}

{% block main_container %}
    <style type="text/css">


        .pic {
            margin-top: 156px;
            width: 120px;
            margin-left: 50px;
            margin-bottom: -46px;
        }

        .panel {
            background-image: url("http://lorempixel.com/700/300/nature/5/");
            height: 220px;
        }

        .name {
            position: absolute;
            padding-left: 200px;
            font-size: 30px;
        }

        .dropdown {
            position: absolute;
        }

        .change {
            position: relative;
            bottom: 20px;
            padding: 1px;
            color: white;
            text-decoration: none;
        }

        .change:hover {
            text-decoration: none;
            background-color: black;
            color: white;
        }

        /*
        ************************************************************************************************
        */
        .thumbnail {
            margin-bottom: 20px;
            padding: 0px;
            -webkit-border-radius: 0px;
            -moz-border-radius: 0px;
            border-radius: 0px;
        }

        .item.list-group-item {
            float: none;
            width: 100%;
            background-color: #fff;
            margin-bottom: 10px;
        }

        .item.list-group-item:nth-of-type(odd):hover, .item.list-group-item:hover {
        {#    background: #428bca;#}
        }

        .item.list-group-item .list-group-image {
            margin-right: 10px;
        }

        .item.list-group-item .thumbnail {
            margin-bottom: 0px;
        }

        .item.list-group-item .caption {
            padding: 9px 9px 0px 9px;
        }

        .item.list-group-item:nth-of-type(odd) {
            background: rgba(238, 238, 238, 0.13);
        }

        .item.list-group-item:before, .item.list-group-item:after {
            display: table;
            content: " ";
        }

        .item.list-group-item img {
            float: left;
        }

        .item.list-group-item:after {
            clear: both;
        }

        .list-group-item-text {
            margin: 0 0 11px;
        }

        /*
        ************************************************************************************************
        */
    </style>

    <div id="main-content" class="container clearfix">


        <div id="main-col" class="pull-left">
            <ul class="breadcrumb">
                <li><a href="index-2.html">Home</a></li>
                <li class="active">Cagegory posts</li>
            </ul>
            <div class="panel" style="
                    {% if user_profile.prof_cover %}
                        background-image: url('{{ user_profile.prof_cover|thumbnail_url:'profile_cover' }}');
                    {% else %}
                        background-image: url('{% static 'main/image/profile/cover.jpg' %}');
                    {% endif %}">
                {% if user_profile.prof_img %}
                    <img class="pic " src="{{ user_profile.prof_img.url }}" alt="...">
                {% else %}
                    <img class="pic " src="{% static 'main/image/profile/default.png' %}" alt="...">
                {% endif %}
                <div class="name">
                    <small>{{ user_profile.prof_sponsor_name }}</small>
                </div>
                {#                    <a href="#" class="btn btn-xs btn-primary pull-right" style="margin:10px;"><span class="glyphicon glyphicon-picture"></span> Change cover</a>#}
            </div>
            <div style="margin-top: 70px;" class="widget widget-tabs">
                <div class="kp-tabs">
                  <ul>
                    <li><a href="#tabs-1">{% trans 'Posts' %}</a></li>
                    <li><a href="#tabs-2">{% trans 'Comments' %}</a></li>
{#                    <li><a href="#tabs-2">{% trans 'Recent' %}</a></li>#}
                  </ul>
                  <div id="tabs-1" class="tabs-1">
                    <div class="tab-content">
                        <div class="list-posts-cat clearfix">
                            {% for news in newss %}
                              <div class="item clearfix">
                                <div class="pull-left">
                                  <a href="{% url 'news' news.id news.slug %}"><img src="{{ news.image|thumbnail_url:'category_post_thumb' }}" alt=""></a>
                                </div>

                                <div class="item-right">
                                  <p class="kp-metadata style-2">
            {#                                <i class="icon-heart"></i><span>50</span>#}
                                            <i class="icon-eye"></i><span>{{ news.read_count }}</span>
            {#                                <i class="icon-comment"></i><span>50</span>#}
                                          </p>
                                  <h3><a href="{% url 'news' news.id news.slug %}">{{ news.name }}</a></h3>
                                  <p class="kp-metadata"><span>- {{ news.publish_start_date|date:'d F ,Y' }}</span></p>
                                  <p>{{ news.short_text|slice:'200' }}</p>
                                  <a href="{% url 'news' news.id news.slug %}" class="continue-reading">{% trans 'Continue Reading' %} ...</a>
                                </div>
                                <!-- item-right -->
                              </div>
                              <!-- item -->
                            {% endfor %}
                        </div>
                        <div class="clearfix"></div>
                        <ul class="page-numbers clearfix">
                            {% if newss.has_previous %}
                              <li><a href="?page={{ newss.previous_page_number }}" class="prev page-numbers">{% trans 'Previous' %}</a></li>
                            {% else %}
                                <li class="prev page-numbers disabled"><a >{% trans 'Previous' %}</a></li>
                            {% endif %}
                            {% for i in newss.paginator.page_range %}
                                {% if newss.number == i %}
                                    <li class="page-numbers current"><span class="page-numbers current">{{ i }} </span>
                                    </li>
                                {% else %}
                                    <li><a href="?page={{ i }}" class="page-numbers">{{ i }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if newss.has_next %}
                              <li><a href="?page={{ newss.next_page_number }}" class="prev page-numbers">{% trans 'Next' %}</a></li>
                            {% else %}
                                <li class="prev page-numbers disabled"><a >{% trans 'Next' %}</a></li>
                            {% endif %}
                          </ul>
                    </div>
                    <!-- tab-content -->

                  </div>
                  <div id="tabs-2" class="tabs-2">
                    <div class="tab-content">
                        <!-- comment-post -->
                        <div class="fb-comments " width="100%" data-href="{{ request.build_absolute_uri }}"></div>
                        <!-- End post comments -->
                    </div>
                    <!-- tab-content -->
                  </div>
                </div>
            </div>
        </div>
        <!-- main-col -->
        <div id="sidebar" class="pull-left">
            <div class="widget widget-random-post">
                {% if user_profile.facebook %}
                    <!-- WIDGET START -->
                    <div class="sidebar-right-wrap widget-box widget_text">
                        <h3 class="widget-title">Facebook</h3>
                        <div class="widget-content">
                            <div id="fb-root"></div>
                            <div class="fb-page" data-href="{{ user_profile.facebook }}" data-width="370px"
                                 data-height="350" data-small-header="false" data-adapt-container-width="true"
                                 data-hide-cover="false" data-show-facepile="true" data-show-posts="false"></div>
                        </div>
                    </div>
                    <!-- WIDGET END -->
                {% endif %}
            </div>
            <div class="widget widget-random-post">
                {% if user_profile.twitter %}
                    <h3 class="widget-title">Twitter</h3>
                    <!-- WIDGET START -->

                    <div class="widget-content">
                        <a class="twitter-timeline" href="{{ user_profile.twitter }}"
                           data-widget-id="633189639201890304"></a>
                        <script>!function (d, s, id) {
                            var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                            if (!d.getElementById(id)) {
                                js = d.createElement(s);
                                js.id = id;
                                js.src = p + "://platform.twitter.com/widgets.js";
                                fjs.parentNode.insertBefore(js, fjs);
                            }
                        }(document, "script", "twitter-wjs");</script>
                    </div>
                    <!-- WIDGET END -->
                {% endif %}
            </div>
        </div>
        <!-- sidebar -->
    </div>
    <!-- main-content -->

<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/az_AZ/sdk.js#xfbml=1&version=v2.8&appId=1297304813676702";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
{% endblock %}