{% extends 'main_base.html' %}
{% load static %}
{% load i18n %}
{% load thumbnail %}
{% block head_container %}
    <title>{{ site_info.site_name }} - {% trans 'All Newses' %}</title>
    <meta name="keywords" content="{% trans 'All Newses' %}"/>
    <meta name="description" content="{% trans 'All Newses' %}">
    <meta property="og:url" content="{{ request.build_absolute_uri }}"/>
    <meta property="og:type" content="{% trans 'All Newses' %}"/>
    <meta property="og:title" content="{% trans 'All Newses' %}"/>
    <meta property="og:description" content="{% trans 'All Newses' %}"/>
    <meta property="og:image" content="{{ site_info.image|thumbnail_url:'facebook_image' }}"/>

    <style>

    </style>
{% endblock %}

{% block main_container %}

    <div id="main-content" class="container clearfix">
            {% include 'include/main_top.html' %}
            <!-- owl-carousel-text -->
        <!-- main-top -->
        <div id="main-col" class="pull-left">
            <ul class="breadcrumb">
              <li><a href="{% trans 'index' %}">{% trans 'Home' %}</a></li>
              <li class="active">{% trans 'All Newses' %}</li>
            </ul>
            <div class="list-posts-cat clearfix">
              <p class="page-nav">
                {% if newss.has_previous %}
                    <a class="prev" href="?page={{ newss.previous_page_number }}"></a>
                {% else %}
                    <a class="prev"></a>
                {% endif %}
                {% if newss.has_next %}
                    <a class="next" href="?page={{ newss.next_page_number }}"></a>
                {% else %}
                    <a class="next"></a>
                {% endif %}
              </p>
            {% for news in newss %}
                  <div class="item pull-left" style="min-height: 480px;">
                    <p class="kp-metadata style-2">
                        <i class="icon-eye"></i><span>{{ news.read_count }}</span>
                        {% if user.is_authenticated %}
                            {% if user.is_superuser or news.author == request.user and request.is_staff %}
                                <span><a href="{% url 'admin:content_news_change' news.id %}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></span>
                            {% endif %}
                        {% endif %}
                        <span class="pull-right"><a class="icon-facebook3" href="https://www.facebook.com/sharer/sharer.php?u={{ full_host }}{% url 'news' news.id news.slug %}"></a></span>
                        <span class="pull-right"><a class="icon-twitter" href="https://twitter.com/home?status={{ full_host }}{% url 'news' news.id news.slug %}"></a></span>
                        <span class="pull-right"><a class="icon-google-plus3" href="https://plus.google.com/share?url={{ full_host }}{% url 'news' news.id news.slug %}"></a></span>
                        <span class="pull-right"><a class="icon-linkedin2" href="https://www.linkedin.com/shareArticle?mini=true&url={{ full_host }}{% url 'news' news.id news.slug %}&title={{ news.name }}&summary=&source="></a></span>
    {#                                <span><a class="icon-pinterest" href="https://pinterest.com/pin/create/button/?url={{ full_host }}{% url 'news' news.id news.slug %}&media=&description={{ news.description }}"></a></span>#}

                    </p>
                            <a href="{% url 'news' news.id news.slug %}"><img
                                    src="{{ news.image|thumbnail_url:'category_post_thumb' }}" alt=""></a>
                        <h3><a href="{% url 'news' news.id news.slug %}">{{ news.name|slice:'55' }}</a></h3>
                        <p class="kp-metadata"><span>-
                            {% if request.user.is_authenticated %}
                                {% if request.user.is_superuser or news.author.username == request.user.username %}
                                    {{ news.publish_start_date|date:'H:i d F ,Y' }}
                                {% else %}
                                    {{ news.publish_start_date|date:'d F ,Y' }}
                                {% endif %}
                            {% else %}
                                {{ news.publish_start_date|date:'d F ,Y' }}
                            {% endif %}
                        </span></p>
                        <p>{% if news.short_text %}{{ news.short_text|slice:'200' }}{% else %}{{ news.full_text|striptags|safe|slice:'200' }}{% endif %}</p>
                        <a href="{% url 'news' news.id news.slug %}"
                           class="continue-reading">{% trans 'Continue Reading' %} ...</a>
                  </div>
                  <!-- item -->
            {% endfor %}
            



            </div>
            <!-- list-posts-cat -->
            <div class="clearfix"></div>
              <ul class="page-numbers clearfix">
                {% if newss.has_previous %}
                    <li><a href="?page={{ newss.previous_page_number }}"
                           class="prev page-numbers">{% trans 'Previous' %}</a></li>
                {% else %}
                    <li class="prev page-numbers disabled"><a>{% trans 'Previous' %}</a></li>
                {% endif %}
                {% for i in newss.paginator.page_range %}
                    {% if newss.number == i %}
                        <li class="page-numbers current"><span class="page-numbers current">{{ i }} </span>
                        </li>
                    {% else %}
                        <li><a href="?page={{ i }}" class="page-numbers">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if newss.has_next %}
                    <li><a href="?page={{ newss.next_page_number }}" class="prev page-numbers">{% trans 'Next' %}</a>
                    </li>
                {% else %}
                    <li class="prev page-numbers disabled"><a>{% trans 'Next' %}</a></li>
                {% endif %}
              </ul>
        </div>
        <!-- main-col -->

    </div>
    <!-- main-content -->

{% endblock %}