{% extends 'base_change_logo.html' %}
{% load static %}
{% load i18n %}
{% load thumbnail %}
{% block head_container %}
    <title>{{ site_info.site_name }} - {{ category.name }} </title>
    <meta name="keywords" content="{{ category.name }}"/>
    <meta name="description" content="{{ category.description }}">



    <meta property="og:url" content="{{ request.build_absolute_uri }}"/>
    <meta property="og:type" content="{{ category.name }}"/>
    <meta property="og:title" content="{{ category.name }}"/>
    <meta property="og:description" content="{{ category.description }}"/>
    <meta property="og:image" content="{{ site_info.image|thumbnail_url:'facebook_image' }}"/>


    <meta name="msapplication-TileImage"
          content="{{ site_info.image|thumbnail_url:'facebook_image' }}"/>
    <meta name="referrer" content="unsafe-url">
    <meta name="description" content="{{ category.description }} - {{ site_info.site_name }}"/>
    <meta property="og:type" content="website"/>
    <meta property="fb:app_id" content="180444840287"/>
    <meta property="al:ios:app_name" content="{{ site_info.site_name }}"/>
    <meta property="og:site_name" content="{{ site_info.site_name }}"/>

    <style>

    </style>
{% endblock %}
{% block header_logo_container %}
    {% if category.logo %}
        {#        <img src="{% static 'main/assets/logo/t-logo.png' %}">#}
        <img height="60" width="320" src="{{ category.logo.url }}">
    {% elif category.get_parent_category.logo %}
        {#        <img src="{% static 'main/assets/logo/t-logo.png' %}">#}
        <img height="60" width="320" src="{{ category.get_parent_category.logo.url }}">
    {% else %}
        <img height="60" width="320"
             src="{% static 'main/assets/logo/t-logo.png' %}">
    {% endif %}
{% endblock %}
{% block header_sub_category_container %}
    <nav class="navigation__container navigation__container--first" data-component="nav"
         role="navigation" aria-label="Current section">
        <ul class="signposting">
            {% for category_getcategory in category.get_categorys %}
                <li class="signposting__item signposting__item--home">
                    <a class="signposting__action" href="{% url 'category' category_getcategory.slug %}"
                       data-link-name="nav : signposting : home">{{ category_getcategory.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
{% endblock %}
{% block css_container %}
    {% include 'include/css/_category.html' %}
{% endblock %}
{% block main_container %}
    <style>
        .tone-feature--item {
            background: {% if category.news_background %}
                {{ category.news_background }}{% else %}#d0b160 {% endif %}!important;
        }

        .tone-feature--item .fc-item__kicker {
            color: {% if category.suffix_color %} {{ category.suffix_color }}{% else %}#FFFFFF {% endif %}!important;
        }

        .tone-feature--item .u-faux-block-link__cta {
            color: {% if category.prefix_color %} {{ category.prefix_color }}{% else %}#FFFFFF {% endif %}!important;
        }
        @media (min-width: 71.25em) {
            .fc-container__header__reklam_web {
                display: block;
            }

            .fc-container__header__reklam_mobile {
                display: none;
            }
        }

        @media (max-width: 71.25em) {
            .fc-container__header__reklam_web {
                display: none;
            }

            .fc-container__header__reklam_mobile {
                display: none;
            }
        }
    </style>
    <div class="l-side-margins">
        <div class="facia-page" data-link-name="Front | /{{ category.name }}" role="main">
            <section id="{{ category.name }}" class="fc-container fc-container--first js-container--first "
                     data-link-name="container-1 | {{ category.name }}" data-id="1a78-862a-834b-b1d3"
                     data-component="{{ category.name }}"
                     aria-expanded="true">
                <div class="fc-container__inner">
                    <div class="fc-container__header js-container__header ">
                        <div class="fc-container__header__title">
                            <span tabindex="0">{{ category.name }}</span>
                        </div>
                        {% if base_ads %}
                            <div class="fc-container__header__reklam_web">
                                {% if base_ads.headline_1_ads_script or base_ads.headline_1_ads_image %}
                                    {% if base_ads.headline_1_ads_script %}
                                        {{ base_ads.headline_1_ads_script }}
                                    {% elif base_ads.headline_1_ads_image %}
                                        <a target="_blank" href="{{ base_ads.headline_1_ads_link }}">
                                            <img src="{{ base_ads.headline_1_ads_image.url }}">
                                        </a>
                                    {% endif %}
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="fc-container--rolled-up-hide fc-container__body" data-title="football"
                         data-id="1a78-862a-834b-b1d3">
                        <div class="fc-slice-wrapper">
                            <ul class="u-unstyled l-row  l-row--cols-4 fc-slice fc-slice--qqq-q">
                                {% for news in newss %}
                                    {% if forloop.counter == 1 %}
                                        <li class="fc-slice__item l-row__item l-row__item--span-3 u-faux-block-link">
                                            <div class="fc-item fc-item--force-image-upgrade fc-item--has-image js-fc-item tone-news--item fc-item--standard-mobile fc-item--three-quarters-tablet js-snappable"
                                                 data-link-name="news | group-2+ | card-1" data-item-visibility="all"
                                                 data-test-id="facia-card"
                                                 data-id="{% url 'news' news.id news.slug %}"
                                                 data-loyalty-short-url="/p/5qezc">
                                                <div class="fc-item__container">
                                                    <div class="fc-item__media-wrapper">
                                                        <div class="fc-item__image-container u-responsive-ratio inlined-image">
                                                            <picture>
                                                                <!--[if IE 9]><video style="display: none;"><![endif]-->
                                                                <source media="(min-width: 980px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 980px) and (min-resolution: 120dpi)"
                                                                        sizes="460px"
                                                                        srcset="{{ news.image.url }} 920w">
                                                                <source media="(min-width: 980px)" sizes="460px"
                                                                        srcset="{{ news.image.url }} 460w">
                                                                <source media="(min-width: 740px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 740px) and (min-resolution: 120dpi)"
                                                                        sizes="340px"
                                                                        srcset="{{ news.image.url }} 680w">
                                                                <source media="(min-width: 740px)" sizes="340px"
                                                                        srcset="{{ news.image.url }} 340w">
                                                                <source media="(min-width: 0px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 0px) and (min-resolution: 120dpi)"
                                                                        sizes="95vw"
                                                                        srcset="{{ news.image.url }} 1210w">
                                                                <source media="(min-width: 0px)" sizes="95vw"
                                                                        srcset="{{ news.image.url }} 605w">
                                                                <!--[if IE 9]></video><![endif]-->
                                                                <img class="responsive-img" alt=""
                                                                     src="{{ news.image.url }} ">
                                                            </picture>
                                                        </div>
                                                    </div>
                                                    <div class="fc-item__content">
                                                        <div class="fc-item__header">
                                                            <h1 class="fc-item__title"><a
                                                                    href="{% url 'news' news.id news.slug %}"
                                                                    class="fc-item__link" data-link-name="article"><span
                                                                    class="fc-item__kicker">{{ news.first_name }}</span>
                                                                <span
                                                                        class="u-faux-block-link__cta fc-item__headline"> <span
                                                                        class="js-headline-text">{{ news.second_name }}</span></span>
                                                            </a></h1>
                                                        </div>
                                                        <div class="fc-item__standfirst">
                                                            {{ news.short_text }}
                                                        </div>
                                                        <aside class="fc-item__meta js-item__meta">
                                                        </aside>
                                                    </div>
                                                    <a href="
                                                            {% url 'news' news.id news.slug %}"
                                                       class="u-faux-block-link__overlay js-headline-text"
                                                       data-link-name="article" tabindex="-1">{{ news.short_text }}</a>
                                                </div>
                                            </div>
                                        </li>
                                    {% endif %}
                                    {% if forloop.counter == 2 %}

                                        <li class="fc-slice__item l-row__item l-row__item--span-1 u-faux-block-link">
                                            <div class="fc-item fc-item--force-image-upgrade fc-item--has-image js-fc-item tone-news--item fc-item--list-media-mobile fc-item--standard-tablet js-snappable"
                                                 data-link-name="news | group-2 | card-2" data-item-visibility="all"
                                                 data-test-id="facia-card"
                                                 data-id="{% url 'news' news.id news.slug %}"
                                                 data-loyalty-short-url="/p/5qfh8">
                                                <div class="fc-item__container">
                                                    <div class="fc-item__media-wrapper">
                                                        <div class="fc-item__image-container u-responsive-ratio inlined-image">
                                                            <picture>
                                                                <!--[if IE 9]><video style="display: none;"><![endif]-->
                                                                <source media="(min-width: 980px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 980px) and (min-resolution: 120dpi)"
                                                                        sizes="220px"
                                                                        srcset="{{ news.image.url }} 440w">
                                                                <source media="(min-width: 980px)" sizes="220px"
                                                                        srcset="{{ news.image.url }} 220w">
                                                                <source media="(min-width: 740px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 740px) and (min-resolution: 120dpi)"
                                                                        sizes="160px"
                                                                        srcset="{{ news.image.url }} 320w">
                                                                <source media="(min-width: 740px)" sizes="160px"
                                                                        srcset="{{ news.image.url }} 160w">
                                                                <source media="(min-width: 0px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 0px) and (min-resolution: 120dpi)"
                                                                        sizes="127px"
                                                                        srcset="{{ news.image.url }} 254w">
                                                                <source media="(min-width: 0px)" sizes="127px"
                                                                        srcset="{{ news.image.url }} 127w">
                                                                <!--[if IE 9]></video><![endif]-->
                                                                <img class="responsive-img" alt=""
                                                                     src="{{ news.image.url }}">
                                                            </picture>
                                                        </div>
                                                    </div>
                                                    <div class="fc-item__content">
                                                        <div class="fc-item__header">
                                                            <h2 class="fc-item__title"><a
                                                                    href="{% url 'news' news.id news.slug %}"
                                                                    class="fc-item__link" data-link-name="article"><span
                                                                    class="fc-item__kicker">{{ news.first_name }}</span>
                                                                <span
                                                                        class="u-faux-block-link__cta fc-item__headline"> <span
                                                                        class="js-headline-text">{{ news.second_name }}</span></span>
                                                            </a></h2>
                                                        </div>
                                                        <div class="fc-item__standfirst">
                                                            {{ news.short_text }}
                                                        </div>
                                                        <aside class="fc-item__meta js-item__meta">
                                                        </aside>
                                                    </div>
                                                    <a href="{% url 'news' news.id news.slug %}"
                                                       class="u-faux-block-link__overlay js-headline-text"
                                                       data-link-name="article" tabindex="-1">{{ news.short_text }}</a>
                                                </div>
                                            </div>
                                        </li>
                                    {% endif %}
                                    {% if forloop.counter == 3 %}
                                        </ul>
                                        </div>
                                        <div class="fc-slice-wrapper">
                                        <ul class="u-unstyled l-row  l-row--cols-4 fc-slice fc-slice--q-q-q-ql">
                                    {% endif %}
                                {% if forloop.counter > 2 and forloop.counter < 6 %}
                                    <li class="fc-slice__item l-row__item l-row__item--span-1 u-faux-block-link">
                                        <div class="fc-item fc-item--force-image-upgrade fc-item--has-image fc-item--has-metadata fc-item--is-commentable js-fc-item tone-feature--item fc-item--list-media-mobile fc-item--standard-tablet js-snappable"
                                             data-discussion-id="/p/5q738" data-discussion-closed="false"
                                             data-discussion-url="{% url 'news' news.id news.slug %}#comments"
                                             data-link-name="feature | group-1 | card-3" data-item-visibility="all"
                                             data-test-id="facia-card"
                                             data-id="{% url 'news' news.id news.slug %}">
                                            <div class="fc-item__container">
                                                <div class="fc-item__media-wrapper">
                                                    <div class="fc-item__image-container u-responsive-ratio inlined-image">
                                                        <picture>
                                                            <!--[if IE 9]><video style="display: none;"><![endif]-->
                                                            <source media="(min-width: 980px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 980px) and (min-resolution: 120dpi)"
                                                                    sizes="220px"
                                                                    srcset="{{ news.image.url }} 440w">
                                                            <source media="(min-width: 980px)" sizes="220px"
                                                                    srcset="{{ news.image.url }} 220w">
                                                            <source media="(min-width: 740px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 740px) and (min-resolution: 120dpi)"
                                                                    sizes="160px"
                                                                    srcset="{{ news.image.url }} 320w">
                                                            <source media="(min-width: 740px)" sizes="160px"
                                                                    srcset="{{ news.image.url }} 160w">
                                                            <source media="(min-width: 0px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 0px) and (min-resolution: 120dpi)"
                                                                    sizes="127px"
                                                                    srcset="{{ news.image.url }} 254w">
                                                            <source media="(min-width: 0px)" sizes="127px"
                                                                    srcset="{{ news.image.url }} 127w">
                                                            <!--[if IE 9]></video><![endif]-->
                                                            <img class="responsive-img" alt=""
                                                                 src="{{ news.image.url }} ">
                                                        </picture>
                                                    </div>
                                                </div>
                                                <div class="fc-item__content">
                                                    <div class="fc-item__header">
                                                        <h2 class="fc-item__title">
                                                            <a href="{% url 'news' news.id news.slug %}"
                                                               class="fc-item__link" data-link-name="article"><span
                                                                    class="fc-item__kicker">{{ news.first_name }}</span>
                                                                <span
                                                                        class="u-faux-block-link__cta fc-item__headline"> <span
                                                                        class="js-headline-text">{{ news.second_name }}</span></span>
                                                            </a>
                                                        </h2>
                                                    </div>
                                                    <div class="fc-item__standfirst">
                                                        Liga MX is the best attended league outside of Europe; there
                                                        are two
                                                        champions every year; every game counts; and tickets are as
                                                        cheap as
                                                        £2. What’s not to like?
                                                    </div>
                                                    <aside class="fc-item__meta js-item__meta">
                                                    </aside>
                                                </div>
                                                <a href="{% url 'news' news.id news.slug %}"
                                                   class="u-faux-block-link__overlay js-headline-text"
                                                   data-link-name="article" tabindex="-1">Want to watch a new
                                                    league? Try
                                                    Mexico's exciting Liga MX</a>
                                            </div>
                                        </div>
                                    </li>
                                {% endif %}
                                {% if forloop.counter == 6 %}
                                    {#                                    </ul>#}
                                    {#                                    </div>#}
                                    {#                                    <div class="fc-slice-wrapper">#}
                                    {#                                    <ul class="u-unstyled l-row  l-row--cols-4 fc-slice fc-slice--q-q-q-ql">#}
                                    <li class="fc-slice__item l-row__item l-row__item--span-1">
                                    <ul class="u-unstyled l-list l-list--columns-1 l-list--rows-3">
                                {% endif %}
                                {% if forloop.counter > 5 and forloop.counter < 9 %}

                                    <li class="fc-slice__item l-list__item l-row__item l-row__item--span-1 u-faux-block-link">
                                        <div class="fc-item fc-item--force-image-upgrade fc-item--has-image js-fc-item tone-feature--item fc-item--list-mobile fc-item--list-tablet js-snappable"
                                             data-link-name="feature | group-0 | card-6" data-item-visibility="all"
                                             data-test-id="facia-card"
                                             data-id="{% url 'news' news.id news.slug %}">
                                            <div class="fc-item__container">
                                                <div class="fc-item__content">
                                                    <div class="fc-item__header">
                                                        <h2 class="fc-item__title fc-item__title--quoted">
                                                            <a href="{% url 'news' news.id news.slug %}"
                                                               class="fc-item__link" data-link-name="article"><span
                                                                    class="fc-item__kicker">{{ news.first_name }}</span>
                                                                <span
                                                                        class="u-faux-block-link__cta fc-item__headline">  <span
                                                                        class="js-headline-text">{{ news.second_name }}</span></span>
                                                            </a>
                                                        </h2>
                                                    </div>
                                                    <aside class="fc-item__meta js-item__meta">
                                                    </aside>
                                                </div>
                                                <a href="{% url 'news' news.id news.slug %}"
                                                   class="u-faux-block-link__overlay js-headline-text"
                                                   data-link-name="article" tabindex="-1">
                                                    {{ news.second_name }}
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    {% if forloop.counter == 8 or  forloop.counter < 9 and forloop.last %}
                                        </ul>
                                        </li>
                                    {% endif %}
                                {% endif %}
                                {% if forloop.counter == 9 %}
                                    </ul>
                                    </div>
                                    </div>
                                    </div>
                                    </section>
                                    <section id="{{ category.name }}"
                                             class="fc-container fc-container--has-show-more js-container--toggle "
                                             data-link-name="container-5 | {{ category.name }}"
                                             data-id="d972-2641-c242-f3ac"
                                             data-component="{{ category.name }}" aria-expanded="true">
                                    <div class="fc-container__inner">
                                    <div class="fc-container__header js-container__header">
                                        <div class="fc-container__header__title">
                                            <span tabindex="0">{{ category.name }}</span>
                                        </div>
                                        {% if base_ads and base_ads.headline_1_ads_active %}
                                            <div class="fc-container__header__reklam_web">
                                                {% if base_ads.category_vertical_ads_script or base_ads.category_vertical_ads_image %}
                                                    {% if base_ads.category_vertical_ads_script %}
                                                        {{ base_ads.category_vertical_ads_script }}
                                                    {% elif base_ads.category_vertical_ads_image %}
                                                        <a target="_blank" href="{{ base_ads.category_vertical_ads_link }}">
                                                            <img src="{{ base_ads.category_vertical_ads_image.url }}">
                                                        </a>
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="fc-container--rolled-up-hide fc-container__body fc-show-more--hidden js-container--fc-show-more"
                                         data-title="{{ category.name }}" data-id="d972-2641-c242-f3ac">
                                    <div class="fc-slice-wrapper">
                                {% endif %}
                                    {% if forloop.counter > 8 %}
                                        {% if forloop.counter == 9 %}
                                            <ul class="u-unstyled l-row  l-row--cols-4 fc-slice fc-slice--t-t-t">
                                        {% endif %}
                                    <li id="{{ forloop.counter }}"
                                        class="fc-slice__item l-row__item l-row__item--span-1 u-faux-block-link">
                                        <div class="fc-item fc-item--has-image fc-item--has-metadata fc-item--is-commentable js-fc-item tone-news--item fc-item--standard-mobile fc-item--third-tablet js-snappable"
                                             data-discussion-closed="false"
                                             data-discussion-url="{% url 'news' news.id news.slug %}"
                                             data-link-name="news | group-0 | card-1" data-item-visibility="all"
                                             data-test-id="facia-card"
                                             data-id="{% url 'news' news.id news.slug %}">
                                            <div class="fc-item__container">
                                                <div class="fc-item__media-wrapper">
                                                    <div class="fc-item__image-container u-responsive-ratio ">
                                                        <picture>
                                                            <!--[if IE 9]><video style="display: none;"><![endif]-->
                                                            <source media="(min-width: 980px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 980px) and (min-resolution: 120dpi)"
                                                                    sizes="300px"
                                                                    srcset="{{ news.image.url }} 600w">
                                                            <source media="(min-width: 980px)" sizes="300px"
                                                                    srcset="{{ news.image.url }} 300w">
                                                            <source media="(min-width: 740px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 740px) and (min-resolution: 120dpi)"
                                                                    sizes="220px"
                                                                    srcset="{{ news.image.url }} 440w">
                                                            <source media="(min-width: 740px)" sizes="220px"
                                                                    srcset="{{ news.image.url }} 220w">
                                                            <source media="(min-width: 0px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 0px) and (min-resolution: 120dpi)"
                                                                    sizes="95vw"
                                                                    srcset="{{ news.image.url }} 600w, {{ news.image.url }} 440w, {{ news.image.url }} 890w, {{ news.image.url }} 1210w">
                                                            <source media="(min-width: 0px)" sizes="95vw"
                                                                    srcset="{{ news.image.url }} 300w, {{ news.image.url }} 220w, {{ news.image.url }} 445w, {{ news.image.url }} 605w">
                                                            <!--[if IE 9]></video><![endif]-->
                                                            <img class="responsive-img" alt="">
                                                        </picture>
                                                    </div>
                                                </div>
                                                <div class="fc-item__content">
                                                    <div class="fc-item__header">
                                                        <h2 class="fc-item__title">
                                                            <a href="{% url 'news' news.id news.slug %}"
                                                               class="fc-item__link" data-link-name="article"><span
                                                                    class="fc-item__kicker">{{ news.first_name }}</span>
                                                                <span
                                                                        class="u-faux-block-link__cta fc-item__headline"> <span
                                                                        class="js-headline-text">{{ news.second_name }}</span></span>
                                                            </a></h2>
                                                    </div>
                                                    <div class="fc-item__standfirst">
                                                        {{ news.short_text }}
                                                    </div>
                                                    <aside class="fc-item__meta js-item__meta">
                                                    </aside>
                                                </div>
                                                <a href="{% url 'news' news.id news.slug %}"
                                                   class="u-faux-block-link__overlay js-headline-text"
                                                   data-link-name="article" tabindex="-1">
                                                    {{ news.first_name }}:{{ news.second_name }}
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    {% if forloop.counter|divisibleby:4 or forloop.last %}
                                        </ul>
                                        <ul class="u-unstyled l-row  l-row--cols-4 fc-slice fc-slice--t-t-t">
                                    {% endif %}
                                    {% elif forloop.counter > 20 %}
                                        {% if forloop.counter == 21 %}
                                            <ul class="u-unstyled l-row  l-row--cols-3 fc-slice fc-slice--tl-tl-mpu">
                                        {% endif %}
                                        {% if forloop.counter|divisibleby:2 %}
                                            <li class="fc-slice__item l-list__item l-row__item l-row__item--span-1 u-faux-block-link">
                                                <div class="fc-item fc-item--has-image fc-item--has-metadata fc-item--is-commentable js-fc-item tone-news--item fc-item--list-mobile fc-item--list-tablet js-snappable"
                                                     data-discussion-id="/p/5qdgf" data-discussion-closed="false"
                                                     data-discussion-url="{% url 'news' news.id news.slug %}#comments"
                                                     data-link-name="news | group-0 | card-4" data-item-visibility="all"
                                                     data-test-id="facia-card"
                                                     data-id="{% url 'news' news.id news.slug %}"
                                                     data-loyalty-short-url="/p/5qdgf">
                                                    <div class="fc-item__container">
                                                        <div class="fc-item__content">
                                                            <div class="fc-item__header">
                                                                <h2 class="fc-item__title"><a
                                                                        href="{% url 'news' news.id news.slug %}"
                                                                        class="fc-item__link"
                                                                        data-link-name="article"><span
                                                                        class="fc-item__kicker">{{ news.first_name }}</span>
                                                                    <span class="u-faux-block-link__cta fc-item__headline"> <span
                                                                            class="js-headline-text">{{ news.second_name }}</span></span>
                                                                </a></h2>
                                                            </div>
                                                            <aside class="fc-item__meta js-item__meta">
                                                            </aside>
                                                        </div>
                                                        <a href="{% url 'news' news.id news.slug %}"
                                                           class="u-faux-block-link__overlay js-headline-text"
                                                           data-link-name="article"
                                                           tabindex="-1">{{ news.first_name }}:{{ news.second_name }}</a>
                                                    </div>
                                                </div>
                                            </li>
                                        {% else %}
                                            <li class="fc-slice__item l-list__item l-row__item l-row__item--span-1 u-faux-block-link">
                                                <div class="fc-item fc-item--has-image fc-item--has-metadata fc-item--is-commentable js-fc-item tone-feature--item fc-item--list-mobile fc-item--list-tablet js-snappable"
                                                     data-discussion-id="/p/5q3ca" data-discussion-closed="false"
                                                     data-discussion-url="{% url 'news' news.id news.slug %}#comments"
                                                     data-link-name="feature | group-0 | card-5"
                                                     data-item-visibility="all"
                                                     data-test-id="facia-card"
                                                     data-id="{% url 'news' news.id news.slug %}"
                                                     data-loyalty-short-url="/p/5q3ca">
                                                    <div class="fc-item__container">
                                                        <div class="fc-item__content">
                                                            <div class="fc-item__header">
                                                                <h2 class="fc-item__title fc-item__title--quoted"><a
                                                                        href="{% url 'news' news.id news.slug %}"
                                                                        class="fc-item__link"
                                                                        data-link-name="article"><span
                                                                        class="fc-item__kicker">{{ news.first_name }}</span>
                                                                    <span
                                                                            class="u-faux-block-link__cta fc-item__headline"><span
                                                                            class="js-headline-text">{{ news.second_name }}</span></span>
                                                                </a>
                                                                </h2>
                                                                <div class="fc-item__byline">
                                                                    {{ news.first_name }}:
                                                                </div>
                                                            </div>
                                                            <aside class="fc-item__meta js-item__meta">
                                                            </aside>
                                                        </div>
                                                        <a href="{% url 'news' news.id news.slug %}"
                                                           class="u-faux-block-link__overlay js-headline-text"
                                                           data-link-name="article"
                                                           tabindex="-1">{{ news.second_name }}</a>
                                                    </div>
                                                </div>
                                            </li>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                                </ul>
                                </div>
                                </div>
                                </div>
                                </section>
            <section class="fc-container fc-container--lazy-load js-container--lazy-load ">
                <div class="fc-container__inner">
                    <div class="fc-container--rolled-up-hide fc-container__body" style="text-align: center;">

                        {% if newss.has_previous %}
                            <a href="?page={{ newss.previous_page_number }}" style="padding: 0 1.5rem;"
                               class="button button--medium button--primary button--show-more collection__show-more js-show-more-button"
                               data-test-id="show-more" data-link-name="more"> <span
                                    class="inline-plus inline-icon ">
                                </span> <span class="inline-minus inline-icon ">
                                 </span> <span class="js-button-text">
                                <i class="fa fa-chevron-left" aria-hidden="true"></i>
                            </span>
                            </a>
                        {% endif %}
                        <a disabled="" href="javascript:void(0)" style="padding: 0 1.5rem;"
                           class="button button--medium button--primary button--show-more collection__show-more js-show-more-button"
                           data-test-id="show-more" data-link-name="more"> <span
                                class="inline-plus inline-icon ">
                                </span> <span class="inline-minus inline-icon ">
                                 </span> <span class="js-button-text">
                                <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                                 {% trans 'page' %} {{ newss.number }} - {{ newss.paginator.num_pages }} <i
                                class="fa fa-angle-double-right" aria-hidden="true"></i>
                            </span>
                        </a>
                        {% if newss.has_next %}
                            <a href="?page={{ newss.next_page_number }}" style="padding: 0 1.5rem;"
                               class="button button--medium button--primary button--show-more collection__show-more js-show-more-button"
                               data-test-id="show-more" data-link-name="more"> <span
                                    class="inline-plus inline-icon ">
                                </span> <span class="inline-minus inline-icon ">
                                 </span> <span class="js-button-text">
                                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            </span>
                            </a>
                        {% endif %}


                    </div>
                </div>
            </section>
            {#                        <div class="fc-container fc-container--commercial">#}
            {#                            <div id="dfp-ad--merchandising-high"#}
            {#                                 class="js-ad-slot ad-slot ad-slot--merchandising-high ad-slot--commercial-component-high "#}
            {#                                 data-link-name="ad slot merchandising-high" data-test-id="ad-slot-merchandising-high"#}
            {#                                 data-name="merchandising-high" data-label="false" data-refresh="false"#}
            {#                                 data-mobile="1,1|2,2|88,87|fluid">#}
            {#                            </div>#}
            {#                        </div>#}
            <section id="most-viewed-in-{{ category.name }}"
                     class="fc-container fc-container--lazy-load js-container--lazy-load js-container--toggle "
                     data-link-name="container-11 | most-viewed-in-{{ category.name }}" data-id="b6d2-ab5f-7af8-8fc0"
                     data-component="most-viewed-in-{{ category.name }}" aria-expanded="true">
                <div class="fc-container__inner">
                    <div class="fc-container__header js-container__header">
                        <div class="fc-container__header__title">
                            <span tabindex="0"> {% trans 'most_viewed' %} </span>
                        </div>
                    </div>
                    <div class="fc-container__body fc-container--rolled-up-hide js-popular-trails">
                        <div id="popular-trails" class="fc-slice fc-slice--popular" data-link-name="most popular Test"
                             data-test-id="popular-in">
                            <div class="tabs tabs--mostpop u-cf">
                                <ol class="tabs__container js-tabs" id="js-popular-tabs" role="tablist">
                                    <li class="tabs__tab tabs__tab--selected tone-colour tone-accent-border" role="tab"
                                        id="tabs-popular-1-tab" aria-selected="true" aria-controls="tabs-popular-1">
                                        <a href="#tabs-popular-1"
                                           data-link-name="tab 1 most viewed in {{ category.name }}"><span
                                                class="u-h">{% trans 'most_viewed' %}</span>{% trans 'most_viewed' %}
                                        </a>
                                    </li>
                                </ol>
                                <div class="tabs__content js-tabs-content">
                                    <div id="tabs-popular-1" class="js-tab-1  tabs__pane u-cf" role="tabpanel"
                                         aria-labelledby="tabs-popular-1-tab"
                                         data-link-name="most viewed in {{ category.name }}"
                                         data-link-context="most-read/most viewed">
                                        <ul class="u-unstyled headline-list headline-list--large headline-column headline-column--tablet headline-column--desktop">
                                            {% for category_most_popular_news in category_most_popular_newss %}
                                                <li class="headline-list__item headline-column__item headline-column--tablet__item headline-column--desktop__item tone-news--most-popular">
                                                    <div class="headline-list__link"
                                                         data-link-name="{{ forloop.counter }} | text">
                                                        <p class="headline-list__count">{{ forloop.counter }}</p>
                                                        <div class="headline-list__text">
                                                            <h2 class="fc-item__title">
                                                                <a href="{% url 'news' category_most_popular_news.id category_most_popular_news.slug %}"
                                                                   class="fc-item__link" data-link-name="article"> <span
                                                                        class="headline-list__body fc-item__headline"> <span
                                                                        class="js-headline-text">{{ category_most_popular_news.first_name }}:{{ category_most_popular_news.second_name }}</span></span>
                                                                </a>
                                                            </h2>
                                                        </div>
                                                    </div>
                                                </li>
                                            {% endfor %}


                                        </ul>
                                    </div>
                                    <div class="fc-slice__popular-mpu js-fc-slice-mpu-candidate fc-slice__item--mpu-candidate fc-slice__item--no-mpu"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <div class="js-front-bottom"></div>

            <section id="site-info"
                     class="fc-container fc-container--has-show-more fc-container--lazy-load js-container--lazy-load js-container--toggle "
                     data-link-name="container-10 | site-info"
                     data-id="7b297ef5-a3f9-45e5-b915-b54951d7f6ec"
                     data-component="site-info" aria-expanded="true">
                <div class="fc-container__inner">
                    <div class="fc-container__header
                        js-container__header
                        ">
                        <div class="fc-container__header__title">
                            <span tabindex="0"></span>
                        </div>
                    </div>
                    <div class="fc-container--rolled-up-hide fc-container__body fc-show-more--hidden js-container--fc-show-more"
                         data-title=""
                         data-id="7b297ef5-a3f9-45e5-b915-b54951d7f6ec">
                        <div class="fc-slice-wrapper">
                            <p style="margin-bottom: 0.3rem;"><span style=" padding-bottom: 0.3rem;">Qaynar xətt: +994 050 400 67 67</span></p>
                            <p style="margin-bottom: 0.3rem;"><span style=" padding-bottom: 0.3rem;">E-mail: goldnews@gmail.com</span></p>
                            <p style="margin-bottom: 0.3rem;"><span style=" padding-bottom: 0.3rem;">Əhməd Rəcəbli 198, Comərd iş mərkəzi 5-ci mərtəbə</span></p>
                        </div>
                    </div>
                </div>
            </section>

            <div class="js-front-bottom"></div>

        </div>
    </div>
{% endblock %}