{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load thumbnail %}
{% load admin_urls %}
{% load embed_video_tags %}

{% block head_container %}
    <title>{{ site_info.site_name }} - {{ gallery.first_name }} {{ gallery.second_name }}</title>
    <meta name="keywords" content="{{ gallery.meta_keywords }}"/>
    <meta name="description" content="{{ gallery.short_text }}">


    <meta property="og:url" content="{{ request.build_absolute_uri }}"/>
    <meta property="og:type" content="gallery"/>
    <meta property="og:title" content="{{ gallery.name }}"/>
    <meta property="og:description" content="






            {% if gallery.short_text %}{{ gallery.short_text|truncatechars:'160' }}{% else %}{{ gallery.full_text|striptags|safe|truncatechars:'160' }}{% endif %}"/>
    <meta property="og:image" content="{{ gallery.image|thumbnail_url:'facebook_image' }}"/>
    <meta name="keywords" content="{{ gallery.meta_keywords }}">
{% endblock %}


{% block css_container %}
    {% include 'include/css/_news.html' %}
{% endblock %}
{% block main_container %}

    <div class="content content--immersive tonal tonal--tone-media immersive-main-media">

        <picture>
            <!--[if IE 9]><video style="display: none;"><![endif]-->
            <source media="
        (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.25), (orientation: portrait) and (min-resolution: 120dpi)
    " sizes="166.66666666666669vh"
                    srcset="{{ gallery.image.url }} 1000w, {{ gallery.image.url }} 1500w, {{ gallery.image.url }} 2000w, {{ gallery.image.url }} 2500w, {{ gallery.image.url }} 3000w, {{ gallery.image.url }} 3500w, {{ gallery.image.url }} 4000w, {{ gallery.image.url }} 4500w, {{ gallery.image.url }} 5000w, {{ gallery.image.url }} 5500w, {{ gallery.image.url }} 6000w, {{ gallery.image.url }} 6500w, {{ gallery.image.url }} 7000w"/>
            <source media="
        (orientation: portrait)
    " sizes="166.66666666666669vh"
                    srcset="{{ gallery.image.url }} 500w, {{ gallery.image.url }} 750w, {{ gallery.image.url }} 1000w, {{ gallery.image.url }} {{ gallery.image.url }} 1250w, {{ gallery.image.url }} 2000w, {{ gallery.image.url }} 2500w, {{ gallery.image.url }} 2750w, {{ gallery.image.url }} 3000w, {{ gallery.image.url }} 3250w, {{ gallery.image.url }} 3500w"/>
            <source media="(min-width: 1300px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 1300px) and (min-resolution: 120dpi)"
                    sizes="1900px"
                    srcset="{{ gallery.image.url }} 3800w"/>
            <source media="(min-width: 1300px)" sizes="1900px"
                    srcset="{{ gallery.image.url }} 1900w"/>
            <source media="(min-width: 1140px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 1140px) and (min-resolution: 120dpi)"
                    sizes="1300px"
                    srcset="{{ gallery.image.url }} 2600w"/>
            <source media="(min-width: 1140px)" sizes="1300px"
                    srcset="{{ gallery.image.url }} 1300w"/>
            <source media="(min-width: 980px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 980px) and (min-resolution: 120dpi)"
                    sizes="1140px"
                    srcset="{{ gallery.image.url }} 2280w"/>
            <source media="(min-width: 980px)" sizes="1140px"
                    srcset="{{ gallery.image.url }} 1140w"/>
            <source media="(min-width: 740px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 740px) and (min-resolution: 120dpi)"
                    sizes="980px"
                    srcset="{{ gallery.image.url }} 1960w"/>
            <source media="(min-width: 740px)" sizes="980px"
                    srcset="{{ gallery.image.url }} 980w"/>
            <source media="(min-width: 660px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 660px) and (min-resolution: 120dpi)"
                    sizes="740px"
                    srcset="{{ gallery.image.url }} 1480w"/>
            <source media="(min-width: 660px)" sizes="740px"
                    srcset="{{ gallery.image.url }} 740w"/>
            <source media="(min-width: 480px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 480px) and (min-resolution: 120dpi)"
                    sizes="660px"
                    srcset="{{ gallery.image.url }} 1320w"/>
            <source media="(min-width: 480px)" sizes="660px"
                    srcset="{{ gallery.image.url }} 660w"/>
            <source media="(min-width: 0px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 0px) and (min-resolution: 120dpi)"
                    sizes="480px"
                    srcset="{{ gallery.image.url }} 960w"/>
            <source media="(min-width: 0px)" sizes="480px"
                    srcset="{{ gallery.image.url }} 480w"/>
            <!--[if IE 9]></video><![endif]-->
            <img class="immersive-main-media__media" itemprop="contentUrl" alt=""
                 src="{{ gallery.image.url }} "/>
        </picture>
        <div class="immersive-main-media__headline-container--dark immersive-main-media__headline-container">
            <div class="gs-container">
                <div class="content__labels content__labels--gallery">
                    <div class="content__section-label ">
                        <a class="content__section-label__link" data-link-name="article section">
                            {{ gallery.author.first_name }} {{ gallery.author.last_name }}
                        </a>
                    </div>

                </div>
                <h1 class="content__headline content__headline--immersive content__headline--gallery content__headline--immersive--with-main-media">
                    <span class="inline-camera inline-icon inline-tone-fill inline-icon--media">
                    <svg width="18" height="13" viewbox="0 0 18 13"
                         class="inline-tone-fill__svg inline-icon--media__svg inline-camera__svg inline-icon__svg">
                    <path d="M18 3.5v8L16.5 13h-15L0 11.5v-8L1.5 2H5l2-2h4l2 2h3.5L18 3.5zM9 11c1.9 0 3.5-1.6 3.5-3.5S10.9 4 9 4 5.5 5.6 5.5 7.5 7.1 11 9 11z"/>
                    </svg>
                    </span>
                    {{ gallery.first_name }} {{ gallery.second_name }}
                </h1>
            </div>
        </div>
    </div>
    <div class="l-side-margins l-side-margins--media l-side-margins--gallery">
        <article id="article" class="content content--gallery content--immersive content--media tonal tonal--tone-media"
                 itemscope itemtype="https://schema.org/ImageGallery" role="main">
            <header class="content__head tonal__head tonal__head--tone-media">
                <h1 class="is-hidden" itemprop="headline">{{ gallery.first_name }} {{ gallery.second_name }}</h1>
                <div class="gs-container">
                    <div class="content__meta-container js-content-meta js-football-meta u-cf content__meta-container--no-byline">
                        <div class="meta__extras ">
                            <div class="meta__social" data-component="share">
                                <!-- AddToAny BEGIN -->
                                <div class="a2a_kit a2a_kit_size_32 a2a_default_style">

                                    <a class="a2a_button_facebook"></a>
                                    <a class="a2a_button_whatsapp"></a>
                                    <a class="a2a_button_twitter"></a>
                                    <a class="a2a_button_linkedin"></a>
                                    <a class="a2a_button_pinterest"></a>
                                    <a class="a2a_button_odnoklassniki"></a>
                                    <a class="a2a_button_telegram"></a>
                                    <a class="a2a_button_viber"></a>
                                    <a class="a2a_button_yahoo_messenger"></a>
                                    <a class="a2a_button_google_plus"></a>
                                </div>
                                <script async src="https://static.addtoany.com/menu/page.js"></script>
                                <!-- AddToAny END -->
                            </div>
                            <div class="meta__numbers">
                                <div class="u-h meta__number js-sharecount">
                                </div>
                                <div class="u-h meta__number" data-discussion-id="/p/5qbpa"
                                     data-commentcount-format="content" data-discussion-closed="true">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tonal__standfirst">
                        <div class="content__standfirst content__standfirst--gallery" data-link-name="standfirst"
                             data-component="standfirst">
                            <meta itemprop="description"
                                  content="GoT’s Jaime Lannister has shown little love for the far north, unlike the man who plays him, Danish actor Nikolaj Coster-Waldau, who has been collecting street view imagery for Google in southern Greenland to highlight the impact of climate change"/>
                            <p>
                                {{ gallery.short_text }}
                            </p>
                        </div>
                        <div class="content__meta-container gallery__meta-container">
                            <p class="content__dateline" aria-hidden="true">
                                <time itemprop="datePublished" datetime='2017-02-09T23:46:10+1100'
                                      data-timestamp="1486644370000" class="content__dateline-wpd js-wpd">
                                    {{ gallery.publish_start_date|date:' D d F Y' }} <span
                                        class="content__dateline-time">{{ gallery.publish_start_date|date:'H:i' }}</span>
                                </time>
                            </p>
                            <p class="byline" data-link-name="byline" data-component="meta-byline"><span itemscope=""
                                                                                                         itemtype="http://schema.org/Person"
                                                                                                         itemprop="author">
<span
        itemprop="name">{{ news.author.first_name }}</span></span> {{ news.author.last_name }}</p>
                            {% if  request.user.is_authenticated and request.user.is_staff %}
                                <p>
                                    <a href="{% url 'admin:content_multimedia_change' gallery.id %}">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>{% trans 'edit_news' %}
                                    </a>
                                </p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </header>
            <div class="content__main tonal__main tonal__main--tone-media">
                <div class="gs-container gallery__divider">

                    <div class="content__main-column content__main-column--gallery">
                    {% if base_ads and base_ads.news_horizental_top_active %}
                        <div style="margin: 10px auto;">
                            {% if base_ads.news_horizental_top_ads_script or base_ads.news_horizental_bottom_ads_image %}
                                {% if base_ads.news_horizental_top_ads_script %}
                                    {{ base_ads.news_horizental_top_ads_script }}
                                {% elif base_ads.news_horizental_bottom_ads_image %}
                                    <a target="_blank" href="{{ base_ads.news_horizental_top_ads_link }}">
                                        <img src="{{ base_ads.news_horizental_bottom_ads_image.url }}">
                                    </a>
                                {% endif %}
                            {% endif %}
                        </div>
                    {% endif %}
                        <ul class="gallery" style="list-style: none;">
                            {% for gallery_get_image in gallery.get_images %}
                                <li id="img-1" class="gallery__item js-gallery-item" style="margin: 10px auto;"
                                    data-link-name="Gallery item | 1">
                                    <figure itemscope itemtype="http://schema.org/ImageObject">
                                        {% if gallery_get_image.context %}
                                            <div class="gallery__figcaption" style="margin-bottom: 10px;">
                                                <div class="gallery__caption" itemprop="caption">
                                                    <br>
                                                    <html>
                                                    <head></head>
                                                    <body>
                                                    {{ gallery_get_image.context }}
                                                    </body>
                                                    </html>
                                                </div>
                                            </div>
                                        {% endif %}
                                        <a class="gallery__img-container gallery__img-container--landscape js-gallerythumbs"
                                           style="max-width: calc(1.7777777777777777 * 96vh)"
                                           href="{% url 'gallery' gallery.id gallery.slug %}#img-1"
                                           data-link-name="Launch Gallery Lightbox" data-is-ajax>
                                            <div class="u-responsive-ratio" style="padding-bottom: 56.25%">
                                                <picture>
                                                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                                                    <source media="(min-width: 1300px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 1300px) and (min-resolution: 120dpi)"
                                                            sizes="1010px"
                                                            srcset="{{ gallery_get_image.image.url }} 2020w"/>
                                                    <source media="(min-width: 1300px)" sizes="1010px"
                                                            srcset="{{ gallery_get_image.image.url }} 1010w"/>
                                                    <source media="(min-width: 1140px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 1140px) and (min-resolution: 120dpi)"
                                                            sizes="880px"
                                                            srcset="{{ gallery_get_image.image.url }} 1760w"/>
                                                    <source media="(min-width: 1140px)" sizes="880px"
                                                            srcset="{{ gallery_get_image.image.url }} 880w"/>
                                                    <source media="(min-width: 980px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 980px) and (min-resolution: 120dpi)"
                                                            sizes="720px"
                                                            srcset="{{ gallery_get_image.image.url }} 1440w"/>
                                                    <source media="(min-width: 980px)" sizes="720px"
                                                            srcset="{{ gallery_get_image.image.url }} 720w"/>
                                                    <source media="(min-width: 740px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 740px) and (min-resolution: 120dpi)"
                                                            sizes="700px"
                                                            srcset="{{ gallery_get_image.image.url }} 1400w"/>
                                                    <source media="(min-width: 740px)" sizes="700px"
                                                            srcset="{{ gallery_get_image.image.url }} 700w"/>
                                                    <source media="(min-width: 660px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 660px) and (min-resolution: 120dpi)"
                                                            sizes="700px"
                                                            srcset="{{ gallery_get_image.image.url }} 1400w"/>
                                                    <source media="(min-width: 660px)" sizes="700px"
                                                            srcset="{{ gallery_get_image.image.url }} 700w"/>
                                                    <source media="(min-width: 480px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 480px) and (min-resolution: 120dpi)"
                                                            sizes="660px"
                                                            srcset="{{ gallery_get_image.image.url }} 1320w"/>
                                                    <source media="(min-width: 480px)" sizes="660px"
                                                            srcset="{{ gallery_get_image.image.url }} 660w"/>
                                                    <source media="(min-width: 0px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 0px) and (min-resolution: 120dpi)"
                                                            sizes="480px"
                                                            srcset="{{ gallery_get_image.image.url }} 960w"/>
                                                    <source media="(min-width: 0px)" sizes="480px"
                                                            srcset="{{ gallery_get_image.image.url }} 480w"/>
                                                    <!--[if IE 9]></video><![endif]-->
                                                    <img class="gallery__img gallery__img--landscape"
                                                         itemprop="contentUrl"
                                                         alt="These are stranded icebergs that have broken off from a nearby glacier"
                                                         src="{{ gallery_get_image.image.url }} "/>
                                                </picture>
                                            </div>
                                        </a>
                                    </figure>
                                </li>
                                {#                                {% if forloop.counter|divisibleby:4 %}#}
                                {#                                    <li class="gallery__item gallery__item--advert">#}
                                {#                                        <div class="gallery__img-container">#}
                                {#                                            <div id="dfp-ad--inline1"#}
                                {#                                                 class="js-ad-slot ad-slot ad-slot--inline1 ad-slot--gallery-inline ad-slot--dark hide-until-tablet"#}
                                {#                                                 data-link-name="ad slot inline1" data-test-id="ad-slot-inline1"#}
                                {#                                                 data-name="inline1"#}
                                {#                                                 data-mobile="1,1|2,2|300,250|fluid"></div>#}
                                {#                                            <div id="dfp-ad--top-above-nav--mobile"#}
                                {#                                                 class="js-ad-slot ad-slot ad-slot--top-above-nav ad-slot--gallery-inline ad-slot--dark ad-slot--mobile mobile-only"#}
                                {#                                                 data-link-name="ad slot top-above-nav"#}
                                {#                                                 data-test-id="ad-slot-top-above-nav"#}
                                {#                                                 data-name="top-above-nav"#}
                                {#                                                 data-mobile="1,1|2,2|88,70|88,71|300,250|fluid"></div>#}
                                {#                                        </div>#}
                                {#                                    </li>#}
                                {#                                {% endif %}#}
                            {% endfor %}
                        </ul>
                            {% if base_ads and base_ads.news_horizental_bottom_active %}
                                <div style="margin: 10px auto;">
                                    {% if base_ads.news_horizental_bottom_ads_script or base_ads.news_horizental_bottom_ads_image %}
                                        {% if base_ads.news_horizental_bottom_ads_script %}
                                            {{ base_ads.news_horizental_bottom_ads_script }}
                                        {% elif base_ads.news_horizental_bottom_ads_image %}
                                            <a target="_blank" href="{{ base_ads.news_horizental_bottom_ads_link }}">
                                                <img src="{{ base_ads.news_horizental_bottom_ads_image.url }}">
                                            </a>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            {% endif %}
                        <div class="submeta ">
                            <hr/>
                            <div data-link-name="keywords" data-component="keywords">
                                <h2 class="submeta__head">{% trans 'topics' %}</h2>
                                <ul class="keyword-list inline-list">

                                    <li class="inline-list__item ">
                                        {% for gallery_tag in gallery.tags.all %}
                                            <a class="  button button--small button--tag button--tone-media"
                                               href="{% url 'tag' 'gallery' gallery_tag.slug %}"
                                               data-link-name="keyword: travel/greenland"
                                               itemprop="keywords">
                                                {{ gallery_tag.title }}
                                            </a>
                                        {% endfor %}
                                    </li>
                                </ul>
                            </div>
                            {#                            <br/>#}
                            <hr/>
                            <div class="u-cf">
                                <div data-component="share" class="submeta__share">
                                    <!-- AddToAny BEGIN -->
                                    <div class="a2a_kit a2a_kit_size_32 a2a_default_style">

                                        <a class="a2a_button_facebook"></a>
                                        <a class="a2a_button_whatsapp"></a>
                                        <a class="a2a_button_twitter"></a>
                                        <a class="a2a_button_linkedin"></a>
                                        <a class="a2a_button_pinterest"></a>
                                        <a class="a2a_button_odnoklassniki"></a>
                                        <a class="a2a_button_telegram"></a>
                                        <a class="a2a_button_viber"></a>
                                        <a class="a2a_button_yahoo_messenger"></a>
                                        <a class="a2a_button_google_plus"></a>
                                    </div>
                                    <script async src="https://static.addtoany.com/menu/page.js"></script>
                                    <!-- AddToAny END -->
                                </div>
                            </div>

                            <hr/>
                        </div>
                    </div>
                </div>
            </div>
        </article>

    </div>

{% endblock %}