{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load thumbnail %}
{% load admin_urls %}
{% load embed_video_tags %}

{% block head_container %}
    <title>{{ site_info.site_name }} - {{ news.first_name }} {{ news.second_name }}</title>
    <meta name="keywords" content="{{ news.meta_keywords }}"/>
    <meta name="description" content="{{ news.short_text }}">


    <meta property="og:url" content="{{ request.build_absolute_uri }}"/>
    <meta property="og:type" content="news"/>
    <meta property="og:title" content="{{ news.first_name }} {{ news.second_name }}"/>
    <meta property="og:description" content="{% if news.short_text %}{{ news.short_text|truncatechars:'160' }}{% else %}{{ news.full_text|striptags|safe|truncatechars:'160' }}{% endif %}"/>
    <meta property="og:image" content="{{ news.image|thumbnail_url:'facebook_image' }}"/>
    <meta name="keywords" content="{{ news.meta_keywords }}">
{% endblock %}


{% block css_container %}
    {% include 'include/css/_news.html' %}
{% endblock %}
{% block main_container %}


    <div class="l-side-margins">
        <article id="article" data-test-id="article-root"
                 class="content content--article section-world-news tonal tonal--tone-news" itemscope
                 itemtype="http://schema.org/NewsArticle" role="main">
            <meta itemprop="mainEntityOfPage"
                  content="{{ request.build_absolute_uri }}">
            <div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
                <meta itemprop="name" content="{{ site_name }}">
                <link itemprop="sameAs" href="{% url 'index' %}">
            </div>
            <header class="content__head tonal__head tonal__head--tone-news

    ">
                <div class="content__header tonal__header">
                    <div class="gs-container">
                        <div class="content__main-column u-cf">
                            <div class="content__labels content__labels--not-immersive ">
                                <div class="content__section-label ">
                                    {#                                    <a class="content__section-label__link" data-link-name="article section">#}
                                    {#                                        {{ news.author.first_name }} {{ news.author.last_name }}#}
                                    {#                                    </a>#}
                                </div>

                            </div>
                            <h1 class="content__headline js-score" itemprop="headline">
                                {{ news.first_name }} {{ news.second_name }}
                            </h1>
                        </div>
                    </div>
                </div>
                <div class="tonal__standfirst u-cf">
                    <div class="gs-container">
                        <div class="content__main-column">
                            <div class="content__standfirst" data-link-name="standfirst" data-component="standfirst">
                                <meta itemprop="description"
                                      content="{{ news.short_text }}"/>
                                {#                                <p>{{ news.short_text }} </p>#}
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <div class="content__main tonal__main tonal__main--tone-news">
                <div class="gs-container">
                    <div class="content__main-column content__main-column--article js-content-main-column ">
                        <div class="js-sport-tabs football-tabs content__mobile-full-width"></div>
                        <figure itemprop="associatedMedia image" itemscope itemtype="http://schema.org/ImageObject"
                                data-component="image" class="media-primary media-content()  "
                                data-media-id="a2d2049e46e744c65ca82891c9ec532f234f8470" id="img-1">
                            <meta itemprop="representativeOfPage" content="true">
                            <meta itemprop="url"
                                  content="{{ news.image.url }}">
                            <meta itemprop="width" content="3309">
                            <meta itemprop="height" content="1986">
                            <a href="#img-1" class="article__img-container js-gallerythumbs"
                               data-link-name="Launch Article Lightbox" data-is-ajax>
                                <div class="u-responsive-ratio" style="padding-bottom: 60.02%">
                                    <picture>
                                        <!--[if IE 9]><video style="display: none;"><![endif]-->
                                        <!--[if IE 9]></video><![endif]-->
                                        <img class="maxed responsive-img" itemprop="contentUrl"
                                             alt="Justin Welby, the archbishop Of Canterbury"
                                             src="{{ news.image.url }}"/>
                                    </picture>
                                </div>

                            </a>

                        </figure>
                        <div class="content__meta-container js-content-meta js-football-meta u-cf content__meta-container--twitter ">
                            <p class="byline" data-link-name="byline" data-component="meta-byline"><span itemscope=""
                                                                                                         itemtype="http://schema.org/Person"
                                                                                                         itemprop="author">
<span
        itemprop="name">{{ news.author.first_name }}</span></span> {{ news.author.last_name }}</p>
                            <p class="content__dateline"
                               style="    font-size: 18px; margin: 5px auto; padding: 0; min-height: 0;">
                                <i class="fa fa-eye" aria-hidden="true"></i> {{ news.read_count }}
                            </p>
                            <p>
                                {% if  request.user.is_authenticated and request.user.is_staff %}
                                    <a href="{% url 'admin:content_news_change' news.id %}">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>{% trans 'edit_news' %}
                                    </a>
                                {% endif %}
                            </p>
                            {% if news.author.email %}
                                <p>
                                    <a href="mailto:{{ news.author.email }}">
                                        <i class="fa fa-envelope"
                                           aria-hidden="true"></i> Email
                                    </a>
                                </p>
                            {% endif %}
                            <p class="content__dateline" aria-hidden="true">
                                <time itemprop="datePublished" datetime='2017-02-10T01:11:05+1100'
                                      data-timestamp="1486649465000" class="content__dateline-wpd js-wpd">
                                    {{ news.publish_start_date|date:' D d F Y' }}<span
                                        class="content__dateline-time"> {{ news.publish_start_date|date:'h:i' }}</span>
                                </time>
                            </p>
                        </div>
                        <div class="content__article-body from-content-api js-article__body" style="margin-top: 15px;"
                             itemprop="articleBody"
                             data-test-id="article-review-body">
                            {% if related_topics %}
                                {% for related_topic in related_topics|slice:'1' %}
                                    <aside class="element element-rich-link element--thumbnail element-rich-link--not-upgraded"
                                           data-component="rich-link" data-link-name="rich-link-1 | 1">
                                        <div class="rich-link">
                                            <div class="rich-link__container">
                                                <div class="rich-link__header">
                                                    <h1 class="rich-link__title">{{ related_topic.first_name }} {{ related_topic.second_name }}</h1>
                                                </div>
                                                <div class="rich-link__read-more">
                                                    <div class="rich-link__arrow">
                                                <span class="inline-arrow-in-circle inline-icon ">
                                                <svg width="24" height="24" viewbox="0 0 24 24"
                                                     class="inline-arrow-in-circle__svg inline-icon__svg">
                                                <path class="rich-link__arrow-icon"
                                                      d="M12 0C5.373 0 0 5.373 0 12s5.373 12 12 12 12-5.373 12-12S18.627 0 12 0m.21 19l-.637-.668 4.888-6.326H4.996v-1.01h11.465l-4.888-6.333.637-.668L19 11.153v.685l-6.79 7.157"
                                                      fill="#b5984a" fill-rule="evenodd"/>
                                                </svg> </span>
                                                    </div>
                                                    <div class="rich-link__read-more-text">
                                                        {% trans 'read_more' %}
                                                    </div>
                                                </div>
                                                <a class="rich-link__link u-faux-block-link__overlay"
                                                   href="{% url 'news' related_topic.id related_topic.slug %}"></a>
                                            </div>
                                        </div>
                                    </aside>
                                {% endfor %}
                            {% endif %}
                            {% if base_ads %}
                                <div style="margin: 10px auto;">
                                    {% if base_ads.news_horizental_top_ads_script or base_ads.news_horizental_bottom_ads_image %}
                                        {% if base_ads.news_horizental_top_ads_script %}
                                            {{ base_ads.news_horizental_top_ads_script }}
                                        {% elif base_ads.news_horizental_bottom_ads_image %}
                                            <a target="_blank" href="{{ base_ads.news_horizental_top_ads_link }}">
                                                <img src="{{ base_ads.news_horizental_bottom_ads_image.url }}">
                                            </a>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            {% endif %}
                            {% autoescape off %}
                                {{ news.full_text }}
                            {% endautoescape %}
                            {#  <style>#}
                            {#  .carousel-inner > .item > img,#}
                            {#  .carousel-inner > .item > a > img {#}
                            {#      width: 70%;#}
                            {#      margin: auto;#}
                            {#  }#}
                            {#  </style>#}
                            {#  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">#}
                            {% if news.multimedias %}
                                <style>
                                    .carousel-inner > .item > img,
                                    .carousel-inner > .item > a > img {
                                        width: 100%;
                                        margin: auto;
                                    }

                                    .carousel {
                                        position: relative;
                                    }

                                    .carousel-inner {
                                        position: relative;
                                        overflow: hidden;
                                        width: 100%;
                                    }

                                    .carousel-inner > .item {
                                        display: none;
                                        position: relative;
                                        -webkit-transition: 0.6s ease-in-out left;
                                        transition: 0.6s ease-in-out left;
                                    }

                                    .carousel-inner > .item > img,
                                    .carousel-inner > .item > a > img {
                                        line-height: 1;
                                    }

                                    .carousel-inner > .active,
                                    .carousel-inner > .next,
                                    .carousel-inner > .prev {
                                        display: block;
                                    }

                                    .carousel-inner > .active {
                                        left: 0;
                                    }

                                    .carousel-inner > .next,
                                    .carousel-inner > .prev {
                                        position: absolute;
                                        top: 0;
                                        width: 100%;
                                    }

                                    .carousel-inner > .next {
                                        left: 100%;
                                    }

                                    .carousel-inner > .prev {
                                        left: -100%;
                                    }

                                    .carousel-inner > .next.left,
                                    .carousel-inner > .prev.right {
                                        left: 0;
                                    }

                                    .carousel-inner > .active.left {
                                        left: -100%;
                                    }

                                    .carousel-inner > .active.right {
                                        left: 100%;
                                    }

                                    .carousel-control {
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        bottom: 0;
                                        width: 15%;
                                        opacity: .5;
                                        filter: alpha(opacity=50);
                                        font-size: 20px;
                                        color: #fff;
                                        text-align: center;
                                        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
                                    }

                                    .carousel-control.left {
                                        background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, 0.5) 0), color-stop(rgba(0, 0, 0, 0.0001) 100%));
                                        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0, rgba(0, 0, 0, 0.0001) 100%);
                                        background-repeat: repeat-x;
                                        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
                                    }

                                    .carousel-control.right {
                                        left: auto;
                                        right: 0;
                                        background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, 0.0001) 0), color-stop(rgba(0, 0, 0, 0.5) 100%));
                                        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0, rgba(0, 0, 0, 0.5) 100%);
                                        background-repeat: repeat-x;
                                        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
                                    }

                                    .carousel-control:hover,
                                    .carousel-control:focus {
                                        outline: none;
                                        color: #fff;
                                        text-decoration: none;
                                        opacity: .9;
                                        filter: alpha(opacity=90);
                                    }

                                    .carousel-control .icon-prev,
                                    .carousel-control .icon-next,
                                    .carousel-control .glyphicon-chevron-left,
                                    .carousel-control .glyphicon-chevron-right {
                                        position: absolute;
                                        top: 50%;
                                        z-index: 5;
                                        display: inline-block;
                                    }

                                    .carousel-control .icon-prev,
                                    .carousel-control .glyphicon-chevron-left {
                                        left: 50%;
                                    }

                                    .carousel-control .icon-next,
                                    .carousel-control .glyphicon-chevron-right {
                                        right: 50%;
                                    }

                                    .carousel-control .icon-prev,
                                    .carousel-control .icon-next {
                                        width: 20px;
                                        height: 20px;
                                        margin-top: -10px;
                                        margin-left: -10px;
                                        font-family: serif;
                                    }

                                    .carousel-control .icon-prev:before {
                                        content: '\2039';
                                    }

                                    .carousel-control .icon-next:before {
                                        content: '\203a';
                                    }

                                    .carousel-indicators {
                                        position: absolute;
                                        bottom: 10px;
                                        left: 50%;
                                        z-index: 15;
                                        width: 60%;
                                        margin-left: -30%;
                                        padding-left: 0;
                                        list-style: none;
                                        text-align: center;
                                    }

                                    .carousel-indicators li {
                                        display: inline-block;
                                        width: 10px;
                                        height: 10px;
                                        margin: 1px;
                                        text-indent: -999px;
                                        border: 1px solid #fff;
                                        border-radius: 10px;
                                        cursor: pointer;
                                        background-color: #000 \9;
                                        background-color: rgba(0, 0, 0, 0);
                                    }

                                    .carousel-indicators .active {
                                        margin: 0;
                                        width: 12px;
                                        height: 12px;
                                        background-color: #ffffff;
                                    }

                                    .carousel-caption {
                                        position: absolute;
                                        left: 15%;
                                        right: 15%;
                                        bottom: 20px;
                                        z-index: 10;
                                        padding-top: 20px;
                                        padding-bottom: 20px;
                                        color: #fff;
                                        text-align: center;
                                        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
                                    }

                                    .carousel-caption .btn {
                                        text-shadow: none;
                                    }

                                    @media screen and (min-width: 768px) {
                                        .carousel-control .glyphicon-chevron-left,
                                        .carousel-control .glyphicon-chevron-right,
                                        .carousel-control .icon-prev,
                                        .carousel-control .icon-next {
                                            width: 30px;
                                            height: 30px;
                                            margin-top: -15px;
                                            margin-left: -15px;
                                            font-size: 30px;
                                        }

                                        .carousel-caption {
                                            left: 20%;
                                            right: 20%;
                                            padding-bottom: 30px;
                                        }

                                    }
                                </style>
                                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
                                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
                                {% for news_multimedia in news.multimedias.all %}
                                    {% if news_multimedia.type == 'gallery_news' %}
                                        <hr>
                                        <div class="carousel slide" data-ride="carousel">

                                            <!-- Wrapper for slides -->
                                            <div class="carousel-inner" role="listbox">
                                                <div class="item active">
                                                    <a target="_blank"
                                                       href="{% url 'gallery' news_multimedia.id news_multimedia.slug %}"><img
                                                            src="{{ news_multimedia.image.url }}"
                                                            alt="{{ news_multimedia.first_name }} {{ news_multimedia.second_name }}"
                                                            width="460" height="auto">
                                                    </a>
                                                </div>
                                            </div>
                                            <!-- Left and right controls -->
                                            <a target="_blank" class="left carousel-control"
                                               href="{% url 'gallery' news_multimedia.id news_multimedia.slug %}"
                                               role="button" data-slide="prev">
                                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true">
                                                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                                                </span>
                                            </a>
                                            <a target="_blank" class="right carousel-control"
                                               href="{% url 'gallery' news_multimedia.id news_multimedia.slug %}"
                                               role="button" data-slide="next">
                                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true">
                                                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                                </span>
                                            </a>
                                        </div>
                                    {% elif news_multimedia.type == 'video_news' %}
                                        <hr>
                                        <div class="carousel slide" data-ride="carousel">

                                            <!-- Wrapper for slides -->
                                            <div class="carousel-inner" role="listbox">
                                                <div class="item active">
                                                    <a target="_blank"
                                                       href="{% url 'video' news_multimedia.id news_multimedia.slug %}"><img
                                                            src="{{ news_multimedia.image.url }}"
                                                            alt="{{ news_multimedia.first_name }} {{ news_multimedia.second_name }}"
                                                            width="460" height="auto">
                                                        <div style="    display: block !important;"
                                                             data-link-name="video-play-button-overlay"
                                                             class="fc-item__video-play js-video-play-button media__placeholder--hidden vjs-big-play-button">
                                                            <span class="vjs-control-text"></span>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                    {% endif %}
                                {% endfor %}


                            {% endif %}
                            {% if base_ads %}
                                <div style="margin: 10px auto;">
                                    {% if base_ads.news_horizental_bottom_ads_script or base_ads.news_horizental_bottom_ads_image %}
                                        {% if base_ads.news_horizental_bottom_ads_script %}
                                            {{ base_ads.news_horizental_bottom_ads_script }}
                                        {% elif base_ads.news_horizental_bottom_ads_image %}
                                            <a target="_blank" href="{{ base_ads.news_horizental_bottom_ads_link }}">
                                                <img src="{{ base_ads.news_horizental_bottom_ads_image.url }}">
                                            </a>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            {% endif %}
                        </div>
                        <div class="submeta ">
                            {% if news.tags %}
                                <hr/>
                                <div data-link-name="keywords" data-component="keywords">
                                    <h2 class="submeta__head">{% trans 'topics' %}</h2>
                                    <ul class="keyword-list inline-list">
                                        {% for news_tag in news.tags.all %}
                                            <li class="inline-list__item ">
                                                <a class="  button button--small button--tag button--secondary"
                                                   href="{% url 'tag' 'news' news_tag.slug %}"
                                                   itemprop="keywords">
                                                    {{ news_tag.title }}
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                            <br/>
                            <hr/>
                            <div class="u-cf">
                                <div data-component="share" class="submeta__share">
                                    <!-- AddToAny BEGIN -->
                                    <div class="a2a_kit a2a_kit_size_32 a2a_default_style">

                                        <a class="a2a_button_facebook"></a>
                                        <a class="a2a_button_whatsapp"></a>
                                        <a class="a2a_button_twitter"></a>
                                        <a class="a2a_button_linkedin"></a>
                                        <a class="a2a_button_pinterest"></a>
                                        <a class="a2a_button_odnoklassniki"></a>
                                        <a class="a2a_button_telegram"></a>
                                        <a class="a2a_button_viber"></a>
                                        <a class="a2a_button_yahoo_messenger"></a>
                                        <a class="a2a_button_google_plus"></a>
                                    </div>
                                    <script async src="https://static.addtoany.com/menu/page.js"></script>
                                    <!-- AddToAny END -->
                                </div>
                            </div>

                            <hr/>
                            <div id="comments" class="comments">
                                <div class="fb-comment-embed" width="100%"
                                     data-href="{{ request.build_absolute_uri }}"></div>
                            </div>
                        </div>
                    </div>

                    <div class="content__secondary-column js-secondary-column" aria-hidden="true">
                            {% if base_ads %}
                                <div class="ad-slot-container js-ad-slot-container" >
                                    {% if base_ads.news_vertical_ads_script or base_ads.news_vertical_ads_image  %}
                                        {% if base_ads.news_vertical_ads_script %}
                                            {{ base_ads.news_vertical_ads_script }}
                                        {% elif base_ads.news_vertical_ads_image  %}
                                            <a target="_blank" href="{{ base_ads.news_vertical_ads_link }}">
                                                <img src="{{ base_ads.news_vertical_ads_image|thumbnail_url:'news_vertical_ads_image' }}">
                                            </a>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            {% endif %}
                        <div class="widget-content">
                            <div id="fb-root"></div>
                            <div class="fb-page" data-href="https://www.facebook.com/GoldNews.Az/"
                                 data-width="370px"
                                 data-height="250" data-small-header="false" data-adapt-container-width="true"
                                 data-hide-cover="false" data-show-facepile="true" data-show-posts="true"></div>
                        </div>
                        <div class="js-components-container"></div>
                    </div>
                </div>
        </article>

    </div>

{% endblock %}