{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load thumbnail %}
{% block head_container %}
    <title>{{ site_info.site_name }} - {% trans 'Tag' %}</title>
    <meta name="keywords" content="{{ tag.title }}"/>
    <meta name="description" content="{{ tag.title }}">

    <meta property="og:url" content="{{ request.build_absolute_uri }}"/>
    <meta property="og:type" content="{{ tag.title }}"/>
    <meta property="og:title" content="{{ site_info.site_name }} - {{ tag.title }}"/>
    <meta property="og:description" content="{{ site_info.site_name }} - {{ tag.title }}"/>
    <meta property="og:image" content="{{ site_info.image|thumbnail_url:'facebook_image' }}"/>
{% endblock %}


{% block css_container %}
    {% include 'include/css/_index.html' %}
{% endblock %}
{% block main_container %}
    <div class="l-side-margins">
        <section id="{% trans 'tag' %}" class="fc-container fc-container--has-show-more js-container--toggle "
                 data-link-name="container-5 | {% trans 'tag' %}" data-id="d972-2641-c242-f3ac"
                 data-component="{% trans 'tag' %}" aria-expanded="true">
            <div class="fc-container__inner">
                <div class="fc-container__header js-container__header">
                    <div class="fc-container__header__title">
                        <span tabindex="0">{% trans 'tag' %}</span>
                    </div>
                </div>
                <div class="fc-container--rolled-up-hide fc-container__body fc-show-more--hidden js-container--fc-show-more"
                     data-title="{% trans 'tag' %}" data-id="d972-2641-c242-f3ac">
                    <div class="fc-slice-wrapper">
                        <ul class="u-unstyled l-row  l-row--cols-3 fc-slice fc-slice--t-t-t">
                            {% for data in datas %}
                                <li class="fc-slice__item l-row__item l-row__item--span-1 u-faux-block-link">
                                    <div class="fc-item fc-item--has-image fc-item--has-metadata fc-item--is-commentable js-fc-item tone-news--item fc-item--standard-mobile fc-item--third-tablet js-snappable"
                                         data-discussion-id="/p/5q9bg" data-discussion-closed="false"
                                         data-discussion-url="{% url 'news' data.id data.slug %}#comments"
                                         data-link-name="news | group-0 | card-1" data-item-visibility="all"
                                         data-test-id="facia-card"
                                         data-id="{% url 'news' data.id data.slug %}">
                                        <div class="fc-item__container">
                                            <div class="fc-item__media-wrapper">
                                                <div class="fc-item__image-container u-responsive-ratio ">
                                                    <picture>
                                                        <!--[if IE 9]><video style="display: none;"><![endif]-->
                                                        <source media="(min-width: 980px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 980px) and (min-resolution: 120dpi)"
                                                                sizes="300px"
                                                                srcset="{{ data.image.url }} 600w">
                                                        <source media="(min-width: 980px)" sizes="300px"
                                                                srcset="{{ data.image.url }} 300w">
                                                        <source media="(min-width: 740px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 740px) and (min-resolution: 120dpi)"
                                                                sizes="220px"
                                                                srcset="{{ data.image.url }} 440w">
                                                        <source media="(min-width: 740px)" sizes="220px"
                                                                srcset="{{ data.image.url }} 220w">
                                                        <source media="(min-width: 0px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 0px) and (min-resolution: 120dpi)"
                                                                sizes="95vw"
                                                                srcset="{{ data.image.url }} 600w, {{ data.image.url }} 440w, {{ data.image.url }} 890w, {{ data.image.url }} 1210w">
                                                        <source media="(min-width: 0px)" sizes="95vw"
                                                                srcset="{{ data.image.url }} 300w, {{ data.image.url }} 220w, {{ data.image.url }} 445w, {{ data.image.url }} 605w">
                                                        <!--[if IE 9]></video><![endif]-->
                                                        <img class="responsive-img" alt="">
                                                    </picture>
                                                </div>
                                            </div>
                                            <div class="fc-item__content">
                                                <div class="fc-item__header">
                                                    <h2 class="fc-item__title"><a
                                                            href="{% url 'news' data.id data.slug %}"
                                                            class="fc-item__link" data-link-name="article"><span
                                                            class="fc-item__kicker">{{ data.first_name }}</span> <span
                                                            class="u-faux-block-link__cta fc-item__headline"> <span
                                                            class="js-headline-text">{{ data.second_name }}</span></span>
                                                    </a></h2>
                                                </div>
                                                <aside class="fc-item__meta js-item__meta">
                                                </aside>
                                            </div>
                                            <a href="{% url 'news' data.id data.slug %}"
                                               class="u-faux-block-link__overlay js-headline-text"
                                               data-link-name="article"
                                               tabindex="-1">{{ data.second_name }}</a>
                                        </div>
                                    </div>
                                </li>
                                {% if forloop.counter|divisibleby:3 and not forloop.last %}
                        </ul>
                    </div>
                    <div class="fc-slice-wrapper">
                        <ul class="u-unstyled l-row  l-row--cols-3 fc-slice fc-slice--t-t-t">
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}