{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load thumbnail %}
{% load admin_urls %}
{% load embed_video_tags %}

{% block head_container %}
    <title>{{ site_info.site_name }}</title>
    <meta name="keywords" content="{{ site_info.meta_keywords }}"/>
    <meta name="description" content="{{ site_info.meta_description }}">
    <meta property="og:url" content="{{ request.build_absolute_uri }}"/>
    <meta property="og:type" content="home"/>
    <meta property="og:title" content="{{ site_info.site_name }}"/>
    <meta property="og:description" content="{{ site_info.meta_description }}"/>
    <meta property="og:image" content="{{ site_info.image|thumbnail_url:'facebook_image' }}"/>
{% endblock %}


{% block css_container %}
    {% include 'include/css/_videos.html' %}
{% endblock %}
{% block main_container %}


    <div class="l-side-margins">
        <div class="facia-page" data-link-name="Front | /video" role="main">
        {% if day_of_video %}
            <section id="video-of-the-day"
                     class="fc-container fc-container--first fc-container--has-show-more js-container--first fc-container--video-no-fill-sides"
                     data-link-name="container-1 | video-of-the-day" data-id="c2f76741-6824-4457-8479-9fbe36a0fbfd"
                     data-component="video-of-the-day" aria-expanded="true">
                <div class="fc-container__inner">
                    <div class="fc-container__header
                js-container__header
                ">
                        <div class="fc-container__header__title">
                            <a data-link-name="section heading" href="{% url 'videos' %}"> <span
                                    class="fc-container__title__text">{% trans 'video of the day' %}</span>
                            </a>
                        </div>
                    </div>
{#                    <ul class="treats__container">#}
{#                        <li class="treats__list-item"><a href="video/all.html"#}
{#                                                         data-link-name="treat | 1 | All today's videos"#}
{#                                                         class="treats__treat">All today's videos</a></li>#}
{#                    </ul>#}
                    <div class="fc-container--rolled-up-hide fc-container__body fc-show-more--hidden js-container--fc-show-more"
                         data-title="video of the day" data-id="c2f76741-6824-4457-8479-9fbe36a0fbfd">
                        <div class="fc-slice-wrapper">
                            <ul class="u-unstyled l-row  l-row--cols-1 fc-slice fc-slice--f">
                                <li class="fc-slice__item l-row__item l-row__item--span-1 u-faux-block-link">
                                    <div class="fc-item fc-item--force-image-upgrade fc-item--has-image fc-item--has-metadata fc-item--is-commentable fc-item--is-media-link fc-item--video js-fc-item tone-media--item fc-item--standard-mobile fc-item--full-media-75-tablet js-snappable"
                                         data-discussion-closed="false"
                                         data-discussion-url="{% url 'video' day_of_video.id day_of_video.slug %}#comments"
                                         data-link-name="media | group-0 | card-1" data-item-visibility="all"
                                         data-test-id="facia-card"
                                         data-id="{% url 'video' day_of_video.id day_of_video.slug %}"
                                         data-loyalty-short-url="/p/5q6t9">
                                        <div class="fc-item__container">
                                            <div class="fc-item__video fc-item__video-fallback media__placeholder--active js-video-placeholder gu-media__fallback">
                                        <div style="    display: block !important;" data-link-name="video-play-button-overlay"
                                             class="fc-item__video-play js-video-play-button media__placeholder--hidden vjs-big-play-button">
                                            <span class="vjs-control-text"></span>
                                        </div>
                                                <div class="fc-item__media-wrapper">
                                                    <div class="fc-item__image-container u-responsive-ratio inlined-image">
                                                        <picture>
                                                            <!--[if IE 9]><video style="display: none;"><![endif]-->
                                                            <source media="(min-width: 980px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 980px) and (min-resolution: 120dpi)"
                                                                    sizes="700px"
                                                                    srcset="{{ day_of_video.image.url }} 1400w">
                                                            <source media="(min-width: 980px)" sizes="700px"
                                                                    srcset="{{ day_of_video.image.url }} 700w">
                                                            <source media="(min-width: 740px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 740px) and (min-resolution: 120dpi)"
                                                                    sizes="520px"
                                                                    srcset="{{ day_of_video.image.url }} 1040w">
                                                            <source media="(min-width: 740px)" sizes="520px"
                                                                    srcset="{{ day_of_video.image.url }} 520w">
                                                            <source media="(min-width: 0px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 0px) and (min-resolution: 120dpi)"
                                                                    sizes="95vw"
                                                                    srcset="{{ day_of_video.image.url }} 1040w, {{ day_of_video.image.url }} 890w, {{ day_of_video.image.url }} 1210w">
                                                            <source media="(min-width: 0px)" sizes="95vw"
                                                                    srcset="{{ day_of_video.image.url }} 520w, {{ day_of_video.image.url }} 445w, {{ day_of_video.image.url }} 605w">
                                                            <!--[if IE 9]></video><![endif]-->
                                                            <img class="responsive-img" alt=""
                                                                 src="{{ day_of_video.image.url }}">
                                                        </picture>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="fc-item__content">
                                                <div class="fc-item__header">
                                                    <h1 class="fc-item__title"><a
                                                            href="{% url 'video' day_of_video.id day_of_video.slug %}"
                                                            class="fc-item__link" data-link-name="article"> <span
                                                            class="u-faux-block-link__cta fc-item__headline"> <span
                                                            class="inline-video-icon inline-icon ">
<svg width="36" height="23" viewbox="0 0 36 23" class="inline-video-icon__svg inline-icon__svg">
<path d="M3.2 0L0 3.3v16.4L3.3 23H22V0H3.2m30.4 1L25 9v5l8.6 8H36V1h-2.4"/>
</svg> </span> <span class="js-headline-text">{{ day_of_video.first_name }}:{{ day_of_video.last_name }}</span></span> </a></h1>
                                                </div>
                                                <div class="fc-item__standfirst">
                                                    {{ day_of_video.short_text }}
                                                </div>
                                                <aside class="fc-item__meta js-item__meta">
                                                </aside>
                                            </div>
                                            <a href="{% url 'video' day_of_video.id day_of_video.slug %}"
                                               class="u-faux-block-link__overlay js-headline-text"
                                               data-link-name="article"
                                               tabindex="-1">{{ day_of_video.first_name }}:{{ day_of_video.last_name }}</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="js-show-more-placeholder"></div>
                    </div>
                </div>
            </section>
        {% endif %}
            <section id="documentaries"
                     class="fc-container fc-container--story-package js-container--toggle fc-container--video-no-fill-sides"
                     data-link-name="container-2 | documentaries" data-id="d3bd0db5-872a-45ef-b84c-87f62af9601c"
                     data-component="documentaries" aria-expanded="true">
                <style>
                    .fc-container--story-package {
                        background-color: #dcdcdc;
                        margin-bottom: 0.75rem;
                        border-top: 0.0625rem solid #ffffff
                    }

                    .fc-container--story-package .fc-container__header__title {
                        border-top-color: #484f53;
                        color: #d0b160
                    }

                    .fc-container--story-package .fc-container__header__title a:hover {
                        color: #484f53
                    }

                    .fc-container--story-package .fc-container__header__description {
                        color: #484f53
                    }

                    .fc-container--story-package .treats__treat {
                        border-color: #d0b160;
                        background-color: transparent;
                        color: #484f53
                    }

                    .fc-container--story-package .treats__treat:hover {
                        background-color: inherit
                    }

                    .fc-container--story-package .button--primary {
                        color: #fff;
                        background-color: #d0b160;
                        border-color: #d0b160
                    }

                    .fc-container--story-package .button--primary:hover, .fc-container--story-package .button--primary:focus, .fc-container--story-package .button--primary:active {
                        background-color: #235f7a;
                        border-color: #235f7a
                    }

                    .fc-container--story-package .fc-slice__item + .fc-slice__item:before {
                        border-left-color: #b4bdc2
                    }

                    .fc-container--story-package .fc-item {
                        background-color: #484f53 !important
                    }

                    .fc-container--story-package .fc-item .u-faux-block-link--hover {
                        color: inherit;
                        background-color: #3e4143
                    }

                    .fc-container--story-package .fc-item__header, .fc-container--story-package .fc-sublink__title {
                        color: #ffffff
                    }

                    .fc-container--story-package .fc-sublink__title:before {
                        border-color: #6d7275
                    }

                    .fc-container--story-package .fc-item__standfirst {
                        color: #dcdcdc
                    }

                    .fc-container--story-package .fc-item__kicker:after, .fc-container--story-package .fc-sublink__kicker:after {
                        color: #6d7275
                    }

                    .fc-container--story-package .fc-item__link:visited, .fc-container--story-package .rich-link__link:visited, .fc-container--story-package .fc-sublink__link:visited {
                        color: #dadcdd
                    }

                    .fc-container--story-package .fc-item__title--quoted .inline-quote {
                        fill: #dcdcdc
                    }

                    .fc-container--story-package .fc-item__meta {
                        color: #dadcdd
                    }

                    .fc-container--story-package .fc-item__meta .inline-icon {
                        fill: #dadcdd
                    }

                    .fc-container--story-package .fc-save-for-later {
                        border-color: #6d7275
                    }

                    .fc-container--story-package .live-pulse-icon:before {
                        background-color: #ff5b3a
                    }

                    .fc-container--story-package .fc-item__liveblog-block__text {
                        background-color: #545c61;
                        border-top-color: #6c767c;
                        border-bottom-color: #545c61
                    }

                    .fc-container--story-package .fc-item__liveblog-block__text:after {
                        background-color: #545c61;
                        -webkit-box-shadow: -0.3125rem 0 0.3125rem -0.125rem #545c61;
                        box-shadow: -0.3125rem 0 0.3125rem -0.125rem #545c61
                    }

                    .fc-container--story-package .tone-analysis--item .fc-item__kicker, .fc-container--story-package .tone-analysis--item .rich-link__kicker, .fc-container--story-package .tone-analysis--item .fc-item__byline, .fc-container--story-package .tone-analysis--item .fc-save-for-later--is-saved {
                        color: #656661
                    }

                    .fc-container--story-package .tone-analysis--item .fc-save-for-later--is-saved .inline-tone-fill {
                        fill: #656661
                    }

                    .fc-container--story-package .tone-analysis--sublink .fc-sublink__kicker {
                        color: #656661
                    }

                    .fc-container--story-package .tone-comment--item .fc-item__kicker, .fc-container--story-package .tone-comment--item .rich-link__kicker, .fc-container--story-package .tone-comment--item .fc-item__byline, .fc-container--story-package .tone-comment--item .fc-save-for-later--is-saved {
                        color: #ff9b0b
                    }

                    .fc-container--story-package .tone-comment--item .fc-save-for-later--is-saved .inline-tone-fill {
                        fill: #ff9b0b
                    }

                    .fc-container--story-package .tone-comment--sublink .fc-sublink__kicker {
                        color: #ff9b0b
                    }

                    .fc-container--story-package .tone-dead--item .fc-item__kicker, .fc-container--story-package .tone-dead--item .rich-link__kicker, .fc-container--story-package .tone-dead--item .fc-item__byline, .fc-container--story-package .tone-dead--item .fc-save-for-later--is-saved {
                        color: #ff5b3a
                    }

                    .fc-container--story-package .tone-dead--item .fc-save-for-later--is-saved .inline-tone-fill {
                        fill: #ff5b3a
                    }

                    .fc-container--story-package .tone-dead--sublink .fc-sublink__kicker {
                        color: #ff5b3a
                    }

                    .fc-container--story-package .tone-editorial--item .fc-item__kicker, .fc-container--story-package .tone-editorial--item .rich-link__kicker, .fc-container--story-package .tone-editorial--item .fc-item__byline, .fc-container--story-package .tone-editorial--item .fc-save-for-later--is-saved {
                        color: #656661
                    }

                    .fc-container--story-package .tone-editorial--item .fc-save-for-later--is-saved .inline-tone-fill {
                        fill: #656661
                    }

                    .fc-container--story-package .tone-editorial--sublink .fc-sublink__kicker {
                        color: #656661
                    }

                    .fc-container--story-package .tone-external--item .fc-item__kicker, .fc-container--story-package .tone-external--item .rich-link__kicker, .fc-container--story-package .tone-external--item .fc-item__byline, .fc-container--story-package .tone-external--item .fc-save-for-later--is-saved {
                        color: #ceb41d
                    }

                    .fc-container--story-package .tone-external--item .fc-save-for-later--is-saved .inline-tone-fill {
                        fill: #ceb41d
                    }

                    .fc-container--story-package .tone-external--sublink .fc-sublink__kicker {
                        color: #ceb41d
                    }

                    .fc-container--story-package .tone-feature--item .fc-item__kicker, .fc-container--story-package .tone-feature--item .rich-link__kicker, .fc-container--story-package .tone-feature--item .fc-item__byline, .fc-container--story-package .tone-feature--item .fc-save-for-later--is-saved {
                        color: #fdadba
                    }

                    .fc-container--story-package .tone-feature--item .fc-save-for-later--is-saved .inline-tone-fill {
                        fill: #fdadba
                    }

                    .fc-container--story-package .tone-feature--sublink .fc-sublink__kicker {
                        color: #fdadba
                    }

                    .fc-container--story-package .tone-letters--item .fc-item__kicker, .fc-container--story-package .tone-letters--item .rich-link__kicker, .fc-container--story-package .tone-letters--item .fc-item__byline, .fc-container--story-package .tone-letters--item .fc-save-for-later--is-saved {
                        color: #ff9b0b
                    }

                    .fc-container--story-package .tone-letters--item .fc-save-for-later--is-saved .inline-tone-fill {
                        fill: #ff9b0b
                    }

                    .fc-container--story-package .tone-letters--sublink .fc-sublink__kicker {
                        color: #ff9b0b
                    }

                    .fc-container--story-package .tone-live--item .fc-item__kicker, .fc-container--story-package .tone-live--item .rich-link__kicker, .fc-container--story-package .tone-live--item .fc-item__byline, .fc-container--story-package .tone-live--item .fc-save-for-later--is-saved {
                        color: #ff5b3a
                    }

                    .fc-container--story-package .tone-live--item .fc-save-for-later--is-saved .inline-tone-fill {
                        fill: #ff5b3a
                    }

                    .fc-container--story-package .tone-live--sublink .fc-sublink__kicker {
                        color: #ff5b3a
                    }

                    .fc-container--story-package .tone-media--item .fc-item__kicker, .fc-container--story-package .tone-media--item .rich-link__kicker, .fc-container--story-package .tone-media--item .fc-item__byline, .fc-container--story-package .tone-media--item .fc-save-for-later--is-saved {
                        color: #fb0
                    }

                    .fc-container--story-package .tone-media--item .fc-save-for-later--is-saved .inline-tone-fill {
                        fill: #fb0
                    }

                    .fc-container--story-package .tone-media--sublink .fc-sublink__kicker {
                        color: #fb0
                    }

                    .fc-container--story-package .tone-news--item .fc-item__kicker, .fc-container--story-package .tone-news--item .rich-link__kicker, .fc-container--story-package .tone-news--item .fc-item__byline, .fc-container--story-package .tone-news--item .fc-save-for-later--is-saved {
                        color: #656661
                    }

                    .fc-container--story-package .tone-news--item .fc-save-for-later--is-saved .inline-tone-fill {
                        fill: #656661
                    }

                    .fc-container--story-package .tone-news--sublink .fc-sublink__kicker {
                        color: #656661
                    }

                    .fc-container--story-package .tone-review--item .fc-item__kicker, .fc-container--story-package .tone-review--item .rich-link__kicker, .fc-container--story-package .tone-review--item .fc-item__byline, .fc-container--story-package .tone-review--item .fc-save-for-later--is-saved {
                        color: #ffce4b
                    }

                    .fc-container--story-package .tone-review--item .fc-save-for-later--is-saved .inline-tone-fill {
                        fill: #ffce4b
                    }

                    .fc-container--story-package .tone-review--sublink .fc-sublink__kicker {
                        color: #ffce4b
                    }

                    @media all and (min-width: 46.25em) {
                        .fc-container--story-package .fc-item--three-quarters-tall-tablet .fc-item__standfirst {
                            display: block !important
                        }
                    }

                    .fc-container--story-package .fc-slice--qqqtall-q2 .l-row__item--span-1 .l-list .fc-slice__item .fc-item__media-wrapper, .fc-container--story-package .fc-slice--qqqtall-q2 .l-row__item--span-1 .l-list .fc-slice__item .fc-item__avatar {
                        display: block
                    }

                    .fc-container--story-package .fc-slice--qqqtall-q2 .l-row__item--span-1 .l-list .fc-slice__item:first-of-type [class*='fc-item--has-sublinks'] .fc-item__standfirst {
                        display: none
                    }

                    .fc-container--story-package .fc-slice--qqqtall-q2 .l-row__item--span-1 .l-list .fc-slice__item:nth-of-type(n+2) .fc-sublink:nth-of-type(n+2) {
                        display: none
                    }

                    .fc-container--story-package .fc-slice--qqqtall-q2-ql2 .fc-item--standard-tablet.fc-item--has-sublinks-1 .fc-item__media-wrapper {
                        display: none
                    }

                    .fc-container--story-package .fc-slice--qqqtall-q2-ql2 .fc-item--standard-tablet[class*='fc-item--has-sublinks'] .fc-sublink:nth-of-type(n+2) {
                        display: none
                    }

                    /*# sourceMappingURL=story-package.css.map */
                </style>
                <div class="fc-container__inner">
                    <div class="fc-container__header js-container__header">
                        <div class="fc-container__header

                ">
                        </div>
{#                        <div class="fc-container__header__description">#}
{#                            Watch our series of in-depth films exploring in rich detail the stories behind the headlines#}
{#                        </div>#}
                    </div>
                    <div class="fc-container--rolled-up-hide fc-container__body" data-title="documentaries"
                         data-id="d3bd0db5-872a-45ef-b84c-87f62af9601c">
                        <div class="fc-slice-wrapper">
                            <ul class="u-unstyled l-row  l-row--cols-4 fc-slice fc-slice--qqqtall-q2-ql2">
                                {% for slider_video in slider_videos %}
                                    {% if forloop.counter == 1 %}
                                        <li class="fc-slice__item l-row__item l-row__item--span-3 u-faux-block-link">
                                            <div class="fc-item fc-item--has-image js-fc-item tone-news--item fc-item--standard-mobile fc-item--three-quarters-tall-tablet js-snappable"
                                                 data-link-name="news | group-0 | card-1" data-item-visibility="all"
                                                 data-test-id="facia-card"
                                                 data-id="world/ng-interactive/2017/feb/01/battle-for-mosul-iraq-isis-dirty-war-video"
                                                 data-loyalty-short-url="/p/5ntad">
                                                <div class="fc-item__container">
                                                    <div class="fc-item__media-wrapper">
                                                        <div class="fc-item__image-container u-responsive-ratio ">
                                                            <picture>
                                                                <!--[if IE 9]><video style="display: none;"><![endif]-->
                                                                <source media="(min-width: 980px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 980px) and (min-resolution: 120dpi)"
                                                                        sizes="700px"
                                                                        srcset="{{ slider_video.image.url }} 1400w">
                                                                <source media="(min-width: 980px)" sizes="700px"
                                                                        srcset="{{ slider_video.image.url }} 700w">
                                                                <source media="(min-width: 740px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 740px) and (min-resolution: 120dpi)"
                                                                        sizes="520px"
                                                                        srcset="{{ slider_video.image.url }} 1040w">
                                                                <source media="(min-width: 740px)" sizes="520px"
                                                                        srcset="{{ slider_video.image.url }} 520w">
                                                                <source media="(min-width: 0px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 0px) and (min-resolution: 120dpi)"
                                                                        sizes="95vw"
                                                                        srcset="{{ slider_video.image.url }} 1040w, {{ slider_video.image.url }} 890w, {{ slider_video.image.url }} 1210w">
                                                                <source media="(min-width: 0px)" sizes="95vw"
                                                                        srcset="{{ slider_video.image.url }} 520w, {{ slider_video.image.url }} 445w, {{ slider_video.image.url }} 605w">
                                                                <!--[if IE 9]></video><![endif]-->
                                                                <img class="responsive-img" alt="">
                                                            </picture>
                                                        </div>
                                                    </div>
                                                    <div class="fc-item__content">
                                                        <div class="fc-item__header">
                                                            <h2 class="fc-item__title"><a
                                                                    href="{% url 'video' slider_video.id slider_video.slug %}"
                                                                    class="fc-item__link" data-link-name="article"><span
                                                                    class="fc-item__kicker">{{ slider_video.first_name }}</span>
                                                                <span
                                                                        class="u-faux-block-link__cta fc-item__headline"> <span
                                                                        class="js-headline-text">{{ slider_video.second_name }}</span></span>
                                                            </a></h2>
                                                        </div>
                                                        <div class="fc-item__standfirst">
                                                            {{ slider_video.short_text }}
                                                        </div>
                                                        <aside class="fc-item__meta js-item__meta">
                                                        </aside>
                                                    </div>
                                                    <a href="{% url 'video' slider_video.id slider_video.slug %}"
                                                       class="u-faux-block-link__overlay js-headline-text"
                                                       data-link-name="article"
                                                       tabindex="-1">{{ slider_video.first_name }}: {{ slider_video.second_name }}</a>
                                                </div>
                                            </div>
                                        </li>                                               {% endif %}
                                    {% if forloop.counter == 2 %}
                                        <li class="fc-slice__item l-row__item l-row__item--span-1">
                                        <ul class="u-unstyled l-list l-list--columns-1 l-list--rows-4">
                                    {% endif %}
                                {% if forloop.counter > 1 and forloop.counter < 4 %}
                                    <li class="fc-slice__item l-list__item l-row__item l-row__item--span-1 u-faux-block-link">
                                        <div class="fc-item fc-item--has-image js-fc-item tone-news--item fc-item--list-mobile fc-item--standard-tablet js-snappable"
                                             data-link-name="news | group-0 | card-2" data-item-visibility="all"
                                             data-test-id="facia-card"
                                             data-id="world/ng-interactive/2017/jan/06/radical-brownies-berets-badges-and-social-justice-video">
                                            <div class="fc-item__container">
                                                <div class="fc-item__media-wrapper">
                                                    <div class="fc-item__image-container u-responsive-ratio ">
                                                        <picture>
                                                            <!--[if IE 9]><video style="display: none;"><![endif]-->
                                                            <source media="(min-width: 980px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 980px) and (min-resolution: 120dpi)"
                                                                    sizes="220px"
                                                                    srcset="{{ slider_video.image.url }} 440w">
                                                            <source media="(min-width: 980px)" sizes="220px"
                                                                    srcset="{{ slider_video.image.url }} 220w">
                                                            <source media="(min-width: 740px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 740px) and (min-resolution: 120dpi)"
                                                                    sizes="160px"
                                                                    srcset="{{ slider_video.image.url }} 320w">
                                                            <source media="(min-width: 740px)" sizes="160px"
                                                                    srcset="{{ slider_video.image.url }} 160w">
                                                            <!--[if IE 9]></video><![endif]-->
                                                            <img class="responsive-img" alt="">
                                                        </picture>
                                                    </div>
                                                </div>
                                                <div class="fc-item__content">
                                                    <div class="fc-item__header">
                                                        <h2 class="fc-item__title"><a
                                                                href="{% url 'video' slider_video.id slider_video.slug %}"
                                                                class="fc-item__link" data-link-name="article"><span
                                                                class="fc-item__kicker">{{ slider_video.first_name }}</span>
                                                            <span
                                                                    class="u-faux-block-link__cta fc-item__headline"> <span
                                                                    class="js-headline-text">{{ slider_video.second_name }}</span></span>
                                                        </a></h2>
                                                    </div>
                                                    <div class="fc-item__standfirst">
                                                        {{ slider_video.short_text }}
                                                    </div>
                                                    <aside class="fc-item__meta js-item__meta">
                                                    </aside>
                                                </div>
                                                <a href="{% url 'video' slider_video.id slider_video.slug %}"
                                                   class="u-faux-block-link__overlay js-headline-text"
                                                   data-link-name="article" tabindex="-1">{{ slider_video.first_name }}:{{ slider_video.second_name }}</a>
                                            </div>
                                        </div>
                                    </li>
                                {% endif %}
                                {% if forloop.counter == 4 %}
                                    <li class="fc-slice__item l-list__item l-row__item l-row__item--span-1 u-faux-block-link">
                                        <div class="fc-item fc-item--has-image js-fc-item tone-news--item fc-item--list-mobile fc-item--list-tablet js-snappable"
                                             data-link-name="news | group-0 | card-4" data-item-visibility="all"
                                             data-test-id="facia-card"
                                             data-id="{% url 'video' slider_video.id slider_video.slug %}">
                                            <div class="fc-item__container">
                                                <div class="fc-item__content">
                                                    <div class="fc-item__header">
                                                        <h2 class="fc-item__title"><a
                                                                href="{% url 'video' slider_video.id slider_video.slug %}"
                                                                class="fc-item__link" data-link-name="article"><span
                                                                class="fc-item__kicker">{{ slider_video.first_name }}</span> <span
                                                                class="u-faux-block-link__cta fc-item__headline"> <span
                                                                class="js-headline-text">{{ slider_video.second_name }}</span></span>
                                                        </a></h2>
                                                    </div>
                                                    <aside class="fc-item__meta js-item__meta">
                                                    </aside>
                                                </div>
                                                <a href="{% url 'video' slider_video.id slider_video.slug %}"
                                                   class="u-faux-block-link__overlay js-headline-text"
                                                   data-link-name="article" tabindex="-1">
                                                    {{ slider_video.first_name }}:{{ slider_video.second_name }}
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                {% endif %}
                                {% if forloop.counter == 4 or forloop.counter < 5 and forloop.last %}
                                    </ul>
                                    </li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <div class="fc-container fc-container--commercial">
                <div id="dfp-ad--merchandising-high"
                     class="js-ad-slot ad-slot ad-slot--merchandising-high ad-slot--commercial-component-high "
                     data-link-name="ad slot merchandising-high" data-test-id="ad-slot-merchandising-high"
                     data-name="merchandising-high" data-label="false" data-refresh="false"
                     data-mobile="1,1|2,2|88,87|fluid">
                </div>
            </div>
            <section id="interviews"
                     class="fc-container fc-container--has-show-more js-container--toggle fc-container--video-no-fill-sides"
                     data-link-name="container-9 | interviews" data-id="5c6ba84c-e9a5-47b5-997d-e19e45751a20"
                     data-component="interviews" aria-expanded="true">
                <div class="fc-container__inner">
                    <div class="fc-container__header
                js-container__header
                ">
                        <div class="fc-container__header__title">
                            <span tabindex="0">{% trans 'videos' %}</span>
                        </div>
                    </div>
                    <div class="fc-container--rolled-up-hide fc-container__body fc-show-more--hidden js-container--fc-show-more"
                         data-title="interviews" data-id="5c6ba84c-e9a5-47b5-997d-e19e45751a20">
                        <div class="fc-slice-wrapper">
                            <ul class="u-unstyled l-row  l-row--cols-4 fc-slice fc-slice--q-q-q-q">
                                {% for video in videos %}
                                    <li class="fc-slice__item l-row__item l-row__item--span-1 u-faux-block-link">
                                        <div class="fc-item fc-item--has-image fc-item--is-media-link fc-item--video js-fc-item tone-media--item fc-item--list-media-mobile fc-item--standard-tablet js-snappable"
                                             data-link-name="media | group-0 | card-1" data-item-visibility="all">
                                            <div class="fc-item__container">
                                                <div class="fc-item__video fc-item__video-fallback media__placeholder--active js-video-placeholder gu-media__fallback">
                                        <div style="    display: block !important;" data-link-name="video-play-button-overlay"
                                             class="fc-item__video-play js-video-play-button media__placeholder--hidden vjs-big-play-button">
                                            <span class="vjs-control-text"></span>
                                        </div>
                                                    <div class="fc-item__media-wrapper">
                                                        <div class="fc-item__image-container u-responsive-ratio ">
                                                            <picture>
                                                                <!--[if IE 9]><video style="display: none;"><![endif]-->
                                                                <source media="(min-width: 980px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 980px) and (min-resolution: 120dpi)"
                                                                        sizes="220px"
                                                                        srcset="{{ video.image.url }}">
                                                                <source media="(min-width: 980px)" sizes="220px"
                                                                        srcset="{{ video.image.url }}">
                                                                <source media="(min-width: 740px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 740px) and (min-resolution: 120dpi)"
                                                                        sizes="160px"
                                                                        srcset="{{ video.image.url }}">
                                                                <source media="(min-width: 740px)" sizes="160px"
                                                                        srcset="{{ video.image.url }}">
                                                                <source media="(min-width: 0px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 0px) and (min-resolution: 120dpi)"
                                                                        sizes="127px"
                                                                        srcset="{{ video.image.url }}">
                                                                <source media="(min-width: 0px)" sizes="127px"
                                                                        srcset="{{ video.image.url }}">
                                                                <!--[if IE 9]></video><![endif]-->
                                                                <img class="responsive-img" alt="">
                                                            </picture>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="fc-item__content">
                                                    <div class="fc-item__header">
                                                        <h2 class="fc-item__title"><a
                                                                href="{% url 'video' video.id video.slug %}"
                                                                class="fc-item__link" data-link-name="article"> <span
                                                                class="u-faux-block-link__cta fc-item__headline"> <span
                                                                class="inline-video-icon inline-icon ">
                                                                <svg width="36" height="23" viewbox="0 0 36 23"
                                                                     class="inline-video-icon__svg inline-icon__svg">
                                                                <path d="M3.2 0L0 3.3v16.4L3.3 23H22V0H3.2m30.4 1L25 9v5l8.6 8H36V1h-2.4"/>
                                                                </svg> </span> <span
                                                                class="js-headline-text">{{ video.first_name }}: {{ video.second_name }}</span></span>
                                                        </a></h2>
                                                    </div>
                                                </div>
                                                <a href="{% url 'video' video.id video.slug %}"
                                                   class="u-faux-block-link__overlay js-headline-text"
                                                   data-link-name="article"
                                                   tabindex="-1">{{ video.first_name }}: {{ video.second_name }}
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    {% if forloop.counter|divisibleby:4 and not forloop.last %}
                                        </ul>
                                        </div>
                                        <div class="fc-slice-wrapper">
                                        <ul class="u-unstyled l-row  l-row--cols-4 fc-slice fc-slice--q-q-q-q">
                                    {% endif %}
                                {% endfor %}
                                </ul>
                                </div>
                        <div class="js-show-more-placeholder"></div>

                    </div>
                </div>
            </section>
            <section id="most-watched"
                     class="fc-container fc-container--lazy-load js-container--lazy-load js-container--toggle fc-container--video-no-fill-sides"
                     data-link-name="container-12 | most-watched" data-id="d78faddd-b38e-45fc-a033-ae2e3f0fdec8"
                     data-component="most-watched" aria-expanded="true">
                <div class="fc-container__inner">
                    <div class="fc-container__header js-container__header">
                        <div class="fc-container__header__title">
                            <span tabindex="0"> {% trans 'most viewed' %}</span>
                        </div>
                    </div>
                    <div class="fc-container__body fc-container--rolled-up-hide js-popular-trails">
                        <div id="popular-trails" class="fc-slice fc-slice--popular" data-link-name="most popular Test"
                             data-test-id="popular-in">
                            <div class="tabs tabs--mostpop u-cf">
                                <ol class="tabs__container js-tabs" id="js-popular-tabs" role="tablist">
                                    <li class="tabs__tab tabs__tab--selected tone-colour tone-accent-border" role="tab"
                                        id="tabs-popular-1-tab" aria-selected="true" aria-controls="tabs-popular-1"><a
                                            href="#tabs-popular-1" data-link-name="tab 1 most watched"><span
                                            class="u-h">{% trans 'most_viewed' %}</span>{% trans 'most_watched' %}</a></li>
{#                                    <li class="tabs__tab" role="tab" id="tabs-popular-2-tab"#}
{#                                        aria-controls="tabs-popular-2">#}
{#                                        <a href="#tabs-popular-2" data-link-name="tab 2 across the guardian"><span#}
{#                                                class="u-h">Most viewed </span>across the guardian</a></li>#}
                                </ol>
                                <div class="tabs__content js-tabs-content">
                                    <div id="tabs-popular-1" class="js-tab-1  tabs__pane u-cf" role="tabpanel"
                                         aria-labelledby="tabs-popular-1-tab" data-link-name="most watched"
                                         data-link-context="most-read/most viewed">
                                        <ul class="u-unstyled headline-list headline-list--large headline-column headline-column--tablet headline-column--desktop">
                                            {% for most_viewed_video in most_viewed_videos %}
                                                <li class="headline-list__item headline-column__item headline-column--tablet__item headline-column--desktop__item tone-media--most-popular">
                                                    <div class="headline-list__link" data-link-name="1 | text">
                                                        <p class="headline-list__count">1</p>
                                                        <div class="headline-list__text">
                                                            <h2 class="fc-item__title">
                                                                <a href="{% url 'video' most_viewed_video.id most_viewed_video.slug %}"
                                                                   class="fc-item__link" data-link-name="article"> <span
                                                                        class="headline-list__body fc-item__headline"> <span
                                                                        class="inline-video-icon inline-icon ">
                                                        <svg width="36" height="23" viewbox="0 0 36 23"
                                                             class="inline-video-icon__svg inline-icon__svg">
                                                        <path d="M3.2 0L0 3.3v16.4L3.3 23H22V0H3.2m30.4 1L25 9v5l8.6 8H36V1h-2.4"/>
                                                        </svg> </span> <span
                                                                        class="js-headline-text">{{ most_viewed_video.first_name }}:{{ most_viewed_video.second_name }}</span></span>
                                                                </a></h2>
                                                        </div>
                                                    </div>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
{#                                    <div id="tabs-popular-2" class="js-tab-2 modern-hidden tabs__pane u-cf"#}
{#                                         role="tabpanel"#}
{#                                         aria-labelledby="tabs-popular-2-tab" data-link-name="across the guardian"#}
{#                                         data-link-context="most-read/most viewed">#}
{#                                        <ul class="u-unstyled headline-list headline-list--large headline-column headline-column--tablet headline-column--desktop">#}
{#                                        </ul>#}
{#                                    </div>#}
                                    <div class="fc-slice__popular-mpu js-fc-slice-mpu-candidate fc-slice__item--mpu-candidate fc-slice__item--no-mpu"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="js-front-bottom"></div>
        </div>
    </div>

{% endblock %}