{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load thumbnail %}
{% load admin_urls %}
{% load embed_video_tags %}

{% block head_container %}
    <title>{{ site_info.site_name }} - {{ video.first_name }} {{ video.second_name }}</title>
    <meta name="keywords" content="{{ video.meta_keywords }}"/>
    <meta name="description" content="{{ video.short_text }}">


    <meta property="og:url" content="{{ request.build_absolute_uri }}"/>
    <meta property="og:type" content="video"/>
    <meta property="og:title" content="{{ video.first_name }} {{ video.second_name }}"/>
    <meta property="og:description" content="





            {% if video.short_text %}{{ video.short_text|truncatechars:'160' }}{% else %}{{ video.full_text|striptags|safe|truncatechars:'160' }}{% endif %}"/>
    <meta property="og:image" content="{{ video.image|thumbnail_url:'facebook_image' }}"/>
    <meta name="keywords" content="{{ video.meta_keywords }}">
{% endblock %}


{% block css_container %}
    {% include 'include/css/_news.html' %}
{% endblock %}
{% block main_container %}


    <div class="l-side-margins l-side-margins--media">
        <article id="article" class="content content--media content--media--video tonal tonal--tone-media" itemscope
                 itemtype="http://schema.org/VideoObject" role="main">
            <header class="content__head tonal__head tonal__head--tone-media

    ">
                <div class="content__header tonal__header">
                    <div class="gs-container">
                        <div class="content__main-column u-cf">
                            <div class="content__labels content__labels--not-immersive ">
                                <div class="content__section-label ">
                                    <a class="content__section-label__link" data-link-name="article section">
                                        {{ video.author.first_name }} {{ video.author.last_name }}
                                    </a>
                                </div>

                            </div>
                            <h1 class="content__headline js-score" itemprop="headline">
                                <span class="inline-video-icon inline-icon inline-tone-fill inline-icon--media">
                                <svg width="36" height="23" viewbox="0 0 36 23"
                                     class="inline-tone-fill__svg inline-icon--media__svg inline-video-icon__svg inline-icon__svg">
                                <path d="M3.2 0L0 3.3v16.4L3.3 23H22V0H3.2m30.4 1L25 9v5l8.6 8H36V1h-2.4"/>
                                </svg>
                                </span>
                                {{ video.first_name }}  {{ video.second_name }}
                            </h1>
                        </div>
                    </div>
                </div>
                <div class="tonal__standfirst u-cf">
                    <div class="gs-container">
                        <div class="content__main-column">
                        </div>
                    </div>
                </div>
            </header>
            <div class="content__main tonal__main tonal__main--tone-media">
                <div class="gs-container">
                    <div class="content__main-column content__main-column--media content__main-column--video">
                        <div class="media-body">
                    {% if base_ads and base_ads.news_horizental_top_active %}
                        <div style="margin: 10px auto;">
                            {% if base_ads.news_horizental_top_ads_script or base_ads.news_horizental_bottom_ads_image %}
                                {% if base_ads.news_horizental_top_ads_script %}
                                    {{ base_ads.news_horizental_top_ads_script }}
                                {% elif base_ads.news_horizental_bottom_ads_image %}
                                    <a target="_blank" href="{{ base_ads.news_horizental_top_ads_link }}">
                                        <img src="{{ base_ads.news_horizental_bottom_ads_image.url }}">
                                    </a>
                                {% endif %}
                            {% endif %}
                        </div>
                    {% endif %}

                            {% for video_get_video in video.get_videos %}
                                <div class="media-primary player">
                                    {% if video_get_video.video_file %}
                                        <figure data-component="main video">
                                            <meta itemprop="name"
                                                  content="{{ video.first_name }}  {{ video.second_name }}"/>
                                            <meta itemprop="headline"
                                                  content="{{ video.first_name }}  {{ video.second_name }}"/>
                                            <meta itemprop="url"
                                                  content="{{ request.build_absolute_uri }}"/>
                                            <meta itemprop="description"
                                                  content="{{ video.first_name }}  {{ video.second_name }}"/>
                                            <meta itemprop="about"
                                                  content="{{ video.first_name }}  {{ video.second_name }}"/>
                                            <meta itemprop="datePublished" content="2017-02-08"/>
                                            <meta itemprop="name"
                                                  content="{{ video.first_name }}  {{ video.second_name }}"/>
                                            <meta itemprop="uploadDate" content="2017-02-08"/>
                                            <meta itemprop="duration" content="PT123S"/>
                                            <meta itemprop="height" content="1080"/>
                                            <meta itemprop="width" content="1920"/>
                                            <meta itemprop="requiresSubscription" content="false"/>
                                            <meta itemprop="image"
                                                  content="{{ video.image.url }}"/>
                                            <meta itemprop="thumbnail"
                                                  content="{{ video.image.url }}"/>
                                            <meta itemprop="thumbnailUrl"
                                                  content="{{ video.image.url }}"/>
                                            <div class="gu-media-wrapper gu-media-wrapper--video">
                                                <div class="u-responsive-ratio u-responsive-ratio--hd">
                                                    <video controls
                                                           class="gu-media gu-media--show-controls-at-start gu-media--video js-gu-media--enhance"
                                                           data-title="{{ video.first_name }}  {{ video.second_name }}"
                                                           data-auto-play="true" data-show-end-slate="true"
                                                           poster="{{ video.image.url }}"
                                                           data-duration="123"
                                                           data-block-video-ads="false" data-embeddable="false"
                                                           preload="none"
                                                           data-canonical-url="{{ request.build_absolute_uri }}">
                                                        <source src="{{ video_get_video.video_file.url }}"
                                                                type="video/m3u8"/>
                                                        <source src="{{ video_get_video.video_file.url }}"
                                                                type="video/mp4"/>
                                                        <source src="{{ video_get_video.video_file.url }}"
                                                                type="video/webm"/>
                                                    </video>
                                                </div>
                                            </div>
                                        </figure>
                                    {% elif video_get_video.video_url %}
{#                                            {{ video_get_video.video_url }}#}
                                        {% video video_get_video.video_url '610x420' %}
                                    {% endif %}
                                </div>
                            {% endfor %}


                            <div class="content__main-column__body" data-component="body">
                                <div class="tonal__standfirst">
                                    <div class="content__standfirst" data-link-name="standfirst"
                                         data-component="standfirst">
                                        <meta itemprop="description"
                                              content="{{ video.first_name }}  {{ video.second_name }}"/>
                                        <p>{{ video.short_text }}</p>
                                    </div>
                                </div>
                                <div class="content__meta-container js-content-meta js-football-meta u-cf">
                                    <div class="meta__extras ">
                                        <div class="meta__social" data-component="share">
                                            {#                                            <ul class="social social--top js-social--top u-unstyled u-cf"#}
                                            {#                                                data-component="social">#}
                                            {#                                                <li class="social__item social__item--facebook "#}
                                            {#                                                    data-link-name="facebook">#}
                                            {#                                                    <a class="social__action js-social__action--top social-icon-wrapper"#}
                                            {#                                                       data-link-name="social top"#}
                                            {#                                                       href="https://www.facebook.com/dialog/share?app_id=180444840287&amp;href=https%3A%2F%2Fwww.theguardian.com%2Fcommentisfree%2Fvideo%2F2017%2Ffeb%2F08%2Fpoor-people-can-be-fat-too-video%3FCMP%3Dshare_btn_fb"#}
                                            {#                                                       target="_blank" title="Facebook">#}
                                            {#                                                        <span class='inline-icon__fallback button share-modal__item share-modal__item--facebook'>Share on Facebook</span>#}
                                            {#                                                        <span class="inline-share-facebook inline-icon rounded-icon centered-icon social-icon social-icon--facebook">#}
                                            {#                                                            <svg width="32" height="32" viewbox="-2 -2 32 32"#}
                                            {#                                                                 class="rounded-icon__svg centered-icon__svg social-icon__svg social-icon--facebook__svg inline-share-facebook__svg inline-icon__svg">#}
                                            {#                                                            <path d="M17.9 14h-3v8H12v-8h-2v-2.9h2V8.7C12 6.8 13.1 5 16 5c1.2 0 2 .1 2 .1v3h-1.8c-1 0-1.2.5-1.2 1.3v1.8h3l-.1 2.8z"/>#}
                                            {#                                                            </svg>#}
                                            {#                                                            </span>#}
                                            {#                                                    </a>#}
                                            {#                                                </li>#}
                                            {#                                                <li class="social__item social__item--twitter "#}
                                            {#                                                    data-link-name="twitter">#}
                                            {#                                                    <a class="social__action js-social__action--top social-icon-wrapper"#}
                                            {#                                                       data-link-name="social top"#}
                                            {#                                                       href="https://twitter.com/intent/tweet?text=Poor%20people%20are%20allowed%20to%20be%20fat%20%E2%80%93%20video&amp;url=https%3A%2F%2Fwww.theguardian.com%2Fcommentisfree%2Fvideo%2F2017%2Ffeb%2F08%2Fpoor-people-can-be-fat-too-video%3FCMP%3Dshare_btn_tw"#}
                                            {#                                                       target="_blank" title="Twitter">#}
                                            {#                                                        <span class='inline-icon__fallback button share-modal__item share-modal__item--twitter'>Share on Twitter</span>#}
                                            {#                                                        <span class="inline-share-twitter inline-icon rounded-icon centered-icon social-icon social-icon--twitter">#}
                                            {#<svg width="32" height="32" viewbox="-2 -2 32 32"#}
                                            {#     class="rounded-icon__svg centered-icon__svg social-icon__svg social-icon--twitter__svg inline-share-twitter__svg inline-icon__svg">#}
                                            {#<path d="M21.3 10.5v.5c0 4.7-3.5 10.1-9.9 10.1-2 0-3.8-.6-5.3-1.6.3 0 .6.1.8.1 1.6 0 3.1-.6 4.3-1.5-1.5 0-2.8-1-3.3-2.4.2 0 .4.1.7.1l.9-.1c-1.6-.3-2.8-1.8-2.8-3.5.5.3 1 .4 1.6.4-.9-.6-1.6-1.7-1.6-2.9 0-.6.2-1.3.5-1.8 1.7 2.1 4.3 3.6 7.2 3.7-.1-.3-.1-.5-.1-.8 0-2 1.6-3.5 3.5-3.5 1 0 1.9.4 2.5 1.1.8-.1 1.5-.4 2.2-.8-.3.8-.8 1.5-1.5 1.9.7-.1 1.4-.3 2-.5-.4.4-1 1-1.7 1.5z"/>#}
                                            {#</svg>#}
                                            {#</span>#}
                                            {#                                                    </a>#}
                                            {#                                                </li>#}
                                            {#                                                <li class="social__item social__item--email " data-link-name="email">#}
                                            {#                                                    <a class="social__action js-social__action--top social-icon-wrapper"#}
                                            {#                                                       data-link-name="social top"#}
                                            {#                                                       href="mailto:?subject=Poor%20people%20are%20allowed%20to%20be%20fat%20%E2%80%93%20video&amp;body=https%3A%2F%2Fwww.theguardian.com%2Fcommentisfree%2Fvideo%2F2017%2Ffeb%2F08%2Fpoor-people-can-be-fat-too-video%3FCMP%3Dshare_btn_link"#}
                                            {#                                                       target="_blank" title="Email">#}
                                            {#                                                        <span class='inline-icon__fallback button share-modal__item share-modal__item--email'>Share via Email</span>#}
                                            {#                                                        <span class="inline-share-email inline-icon rounded-icon centered-icon social-icon social-icon--email">#}
                                            {#<svg width="32" height="32" viewbox="0 0 32 32"#}
                                            {#     class="rounded-icon__svg centered-icon__svg social-icon__svg social-icon--email__svg inline-share-email__svg inline-icon__svg">#}
                                            {#<path d="M23.363 20.875H8.637v-8.938l6.545 5.687h1.637l6.544-5.687v8.938zm-1.635-9.75L16 16l-5.728-4.875h11.456zM23.363 9.5H8.637L7 11.125v9.75L8.637 22.5h14.727L25 20.875v-9.75L23.363 9.5z"/>#}
                                            {#</svg>#}
                                            {#</span>#}
                                            {#                                                    </a>#}
                                            {#                                                </li>#}
                                            {#                                                <li class="js-social__secondary social__item social--hidden social__item--more js-social__item--more">#}
                                            {#                                                    <button class="meta-button social-tray__button">#}
                                            {#<span class="inline-ellipsis-36 inline-icon rounded-icon centered-icon social-icon social-icon--more">#}
                                            {#<svg viewbox="0 0 24 18" width="24" height="18" fill="#fff"#}
                                            {#     class="rounded-icon__svg centered-icon__svg social-icon__svg social-icon--more__svg inline-ellipsis-36__svg inline-icon__svg">#}
                                            {#<circle cx="3" cy="10" r="3"/>#}
                                            {#<circle cx="12" cy="10" r="3"/>#}
                                            {#<circle cx="21" cy="10" r="3"/>#}
                                            {#</svg>#}
                                            {#</span>#}
                                            {#                                                        <span class="u-h">View more sharing options</span>#}
                                            {#                                                    </button>#}
                                            {#                                                </li>#}
                                            {#                                                <li class="social__item social__item--linkedin social--hidden js-social__secondary"#}
                                            {#                                                    data-link-name="linkedin">#}
                                            {#                                                    <a class="social__action js-social__action--top social-icon-wrapper"#}
                                            {#                                                       data-link-name="social top"#}
                                            {#                                                       href="http://www.linkedin.com/shareArticle?mini=true&amp;title=Poor%20people%20are%20allowed%20to%20be%20fat%20%E2%80%93%20video&amp;url=https%3A%2F%2Fwww.theguardian.com%2Fcommentisfree%2Fvideo%2F2017%2Ffeb%2F08%2Fpoor-people-can-be-fat-too-video"#}
                                            {#                                                       target="_blank" title="LinkedIn">#}
                                            {#                                                        <span class=' u-h '>Share on LinkedIn</span>#}
                                            {#                                                        <span class="inline-share-linkedin inline-icon rounded-icon centered-icon social-icon social-icon--linkedin">#}
                                            {#<svg width="30" height="30" viewbox="0 0 30 30"#}
                                            {#     class="rounded-icon__svg centered-icon__svg social-icon__svg social-icon--linkedin__svg inline-share-linkedin__svg inline-icon__svg">#}
                                            {#<path d="M10.576 7.985a1.57 1.57 0 0 1 0 3.137 1.568 1.568 0 0 1 0-3.137zm-1.353 4.327h2.706v8.704H9.223v-8.704zm4.403 0h2.595v1.19h.037c.361-.685 1.244-1.407 2.56-1.407 2.737 0 3.243 1.803 3.243 4.147v4.774h-2.702v-4.232c0-1.01-.02-2.308-1.406-2.308-1.408 0-1.623 1.1-1.623 2.235v4.305h-2.704v-8.704"/>#}
                                            {#</svg>#}
                                            {#</span>#}
                                            {#                                                    </a>#}
                                            {#                                                </li>#}
                                            {#                                                <li class="social__item social__item--pinterest social--hidden js-social__secondary"#}
                                            {#                                                    data-link-name="pinterest">#}
                                            {#                                                    <a class="social__action js-social__action--top social-icon-wrapper"#}
                                            {#                                                       data-link-name="social top"#}
                                            {#                                                       href="http://www.pinterest.com/pin/find/?url=https%3A%2F%2Fwww.theguardian.com%2Fcommentisfree%2Fvideo%2F2017%2Ffeb%2F08%2Fpoor-people-can-be-fat-too-video"#}
                                            {#                                                       target="_blank" title="Pinterest">#}
                                            {#                                                        <span class=' u-h '>Share on Pinterest</span>#}
                                            {#                                                        <span class="inline-share-pinterest inline-icon rounded-icon centered-icon social-icon social-icon--pinterest">#}
                                            {#<svg viewbox="0 0 32 32"#}
                                            {#     class="rounded-icon__svg centered-icon__svg social-icon__svg social-icon--pinterest__svg inline-share-pinterest__svg inline-icon__svg">#}
                                            {#<path d="M16.363 8C12.133 8 10 11.13 10 13.74c0 1.582.58 2.988 1.823 3.512.204.086.387.003.446-.23.04-.16.137-.568.18-.737.06-.23.037-.312-.127-.513-.36-.436-.588-1-.588-1.802 0-2.322 1.684-4.402 4.384-4.402 2.39 0 3.703 1.508 3.703 3.522 0 2.65-1.136 4.887-2.822 4.887-.93 0-1.628-.795-1.405-1.77.268-1.165.786-2.42.786-3.262 0-.752-.39-1.38-1.2-1.38-.952 0-1.716 1.017-1.716 2.38 0 .867.284 1.454.284 1.454l-1.146 5.006c-.34 1.487-.05 3.31-.026 3.493.014.108.15.134.21.05.09-.117 1.223-1.562 1.61-3.006.108-.41.625-2.526.625-2.526.31.61 1.215 1.145 2.176 1.145 2.862 0 4.804-2.693 4.804-6.298C22 10.54 19.763 8 16.363 8"/>#}
                                            {#</svg>#}
                                            {#</span>#}
                                            {#                                                    </a>#}
                                            {#                                                </li>#}
                                            {#                                                <li class="social__item social__item--gplus social--hidden js-social__secondary"#}
                                            {#                                                    data-link-name="gplus">#}
                                            {#                                                    <a class="social__action js-social__action--top social-icon-wrapper"#}
                                            {#                                                       data-link-name="social top"#}
                                            {#                                                       href="https://plus.google.com/share?url=https%3A%2F%2Fwww.theguardian.com%2Fcommentisfree%2Fvideo%2F2017%2Ffeb%2F08%2Fpoor-people-can-be-fat-too-video%3FCMP%3Dshare_btn_gp&amp;amp;hl=en-GB&amp;amp;wwc=1"#}
                                            {#                                                       target="_blank" title="Google plus">#}
                                            {#                                                        <span class=' u-h '>Share on Google+</span>#}
                                            {#                                                        <span class="inline-share-gplus inline-icon rounded-icon centered-icon social-icon social-icon--gplus">#}
                                            {#<svg width="32" height="32" viewbox="4 -4 32 32"#}
                                            {#     class="rounded-icon__svg centered-icon__svg social-icon__svg social-icon--gplus__svg inline-share-gplus__svg inline-icon__svg">#}
                                            {#<path d="M8.8 12c-.1 2.9 2 5.7 4.7 6.6 2.6.9 5.8.2 7.5-2 1.3-1.6 1.6-3.6 1.4-5.6h-6.7v2.4h4c-.3 1.2-1.1 2.2-2.3 2.7-2.3 1-5.1-.3-5.8-2.7-.9-2.3.5-5 2.9-5.7 1.4-.5 2.9.1 4.1.8l1.8-1.8c-1.4-1.2-3.2-1.9-5-1.7-3.6.1-6.8 3.4-6.6 7zm18-3v2h-2v2h2v2h2v-2h2v-2h-2V9h-2z"/>#}
                                            {#</svg>#}
                                            {#</span>#}
                                            {#                                                    </a>#}
                                            {#                                                </li>#}
                                            {#                                                <li class="social__item social__item--whatsapp social--hidden js-social__secondary"#}
                                            {#                                                    data-link-name="whatsapp">#}
                                            {#                                                    <a class="social__action js-social__action--top social-icon-wrapper"#}
                                            {#                                                       data-link-name="social top"#}
                                            {#                                                       href="whatsapp://send?text=%22Poor%20people%20are%20allowed%20to%20be%20fat%20%E2%80%93%20video%22%20https%3A%2F%2Fwww.theguardian.com%2Fcommentisfree%2Fvideo%2F2017%2Ffeb%2F08%2Fpoor-people-can-be-fat-too-video%3FCMP%3Dshare_btn_wa"#}
                                            {#                                                       target="_blank" title="WhatsApp">#}
                                            {#                                                        <span class=' u-h '>Share on WhatsApp</span>#}
                                            {#                                                        <span class="inline-share-whatsapp inline-icon rounded-icon centered-icon social-icon social-icon--whatsapp">#}
                                            {#<svg width="30" height="30" viewbox="0 0 30 30"#}
                                            {#     class="rounded-icon__svg centered-icon__svg social-icon__svg social-icon--whatsapp__svg inline-share-whatsapp__svg inline-icon__svg">#}
                                            {#<path d="M22.09 7.87a9.9 9.9 0 0 0-7.05-2.92c-5.49 0-9.96 4.47-9.96 9.96 0 1.75.46 3.47 1.33 4.98L5 25.04l5.28-1.38c1.45.79 3.09 1.21 4.76 1.21 5.49 0 9.96-4.47 9.96-9.96a9.92 9.92 0 0 0-2.91-7.04m-7.05 15.32c-1.49 0-2.95-.4-4.22-1.15l-.3-.18-3.13.82.84-3.05-.2-.31a8.19 8.19 0 0 1-1.26-4.41c0-4.56 3.71-8.27 8.28-8.27 2.21 0 4.29.86 5.85 2.43a8.222 8.222 0 0 1 2.42 5.85c0 4.56-3.72 8.27-8.28 8.27m4.54-6.2c-.25-.12-1.47-.73-1.7-.81s-.39-.12-.56.12c-.17.25-.64.81-.79.97-.14.17-.29.19-.54.06-.25-.12-1.05-.39-2-1.23a7.283 7.283 0 0 1-1.38-1.72c-.15-.25-.02-.38.11-.51.11-.11.25-.29.37-.44.12-.15.17-.25.25-.42.08-.17.04-.31-.02-.44-.06-.12-.56-1.35-.77-1.85-.2-.49-.41-.42-.56-.43-.14-.01-.31-.01-.48-.01-.17 0-.44.06-.66.31-.22.25-.87.85-.87 2.08 0 1.22.89 2.41 1.02 2.57.12.17 1.75 2.68 4.25 3.76.59.26 1.06.41 1.42.52.6.19 1.14.16 1.57.1.48-.07 1.47-.6 1.68-1.18s.21-1.08.14-1.18c-.06-.08-.23-.14-.48-.27"/>#}
                                            {#</svg>#}
                                            {#</span>#}
                                            {#                                                    </a>#}
                                            {#                                                </li>#}
                                            {#                                                <li class="social__item social__item--messenger social--hidden js-social__secondary"#}
                                            {#                                                    data-link-name="messenger">#}
                                            {#                                                    <a class="social__action js-social__action--top social-icon-wrapper"#}
                                            {#                                                       data-link-name="social top"#}
                                            {#                                                       href="fb-messenger_/shareb324.html?link=https%3A%2F%2Fwww.theguardian.com%2Fcommentisfree%2Fvideo%2F2017%2Ffeb%2F08%2Fpoor-people-can-be-fat-too-video%3FCMP%3Dshare_btn_me&amp;app_id=180444840287"#}
                                            {#                                                       target="_blank" title="Messenger">#}
                                            {#                                                        <span class=' u-h '>Share on Messenger</span>#}
                                            {#                                                        <span class="inline-share-messenger inline-icon rounded-icon centered-icon social-icon social-icon--messenger">#}
                                            {#<svg width="66" height="66" viewbox="-12 -12 90 90"#}
                                            {#     class="rounded-icon__svg centered-icon__svg social-icon__svg social-icon--messenger__svg inline-share-messenger__svg inline-icon__svg">#}
                                            {#<path fill-rule="evenodd" clip-rule="evenodd"#}
                                            {#      d="M33 61.1c-3.6 0-7.1-.5-10.4-1.5L10.1 66V52.5C3.9 47 0 39.2 0 30.6 0 13.7 14.8 0 33 0s33 13.7 33 30.6c0 16.8-14.8 30.5-33 30.5zM36.5 41L28 32.2l-16.4 9 18-18.9 8.5 8.8 16.4-9-18 18.9z"/>#}
                                            {#</svg>#}
                                            {#</span>#}
                                            {#                                                    </a>#}
                                            {#                                                </li>#}
                                            {#                                                <li class="social--hidden social__item social__secondary social__saveforlater js-social__secondary">#}
                                            {#                                                    <div class="meta__save-for-later js-save-for-later"#}
                                            {#                                                         data-position="top"></div>#}
                                            {#                                                </li>#}
                                            {#                                                <li class="social__item social__secondary js-social__secondary social--hidden social__tray-close js-social__tray-close">#}
                                            {#                                                    <button class="meta-button social-tray__button">#}
                                            {#                                                        <span class="u-h">Close</span>#}
                                            {#                                                        <span class="inline-close inline-icon inline-close--small centered-icon social-tray__icon">#}
                                            {#<svg width="18" height="18" viewbox="0 0 18 18"#}
                                            {#     class="inline-close--small__svg centered-icon__svg social-tray__icon__svg inline-close__svg inline-icon__svg">#}
                                            {#<path d="M7.5 9L1 2l1-1 7 6.5L16 1l1 1-6.5 7 6.5 7-1 1-7-6.5L2 17l-1-1 6.5-7z"/>#}
                                            {#</svg>#}
                                            {#</span>#}
                                            {#                                                    </button>#}
                                            {#                                                </li>#}
                                            {#                                            </ul>#}
                                        </div>
                                        <div class="meta__numbers">
                                            <div class="u-h meta__number js-sharecount">
                                            </div>
                                            <div class="u-h meta__number" data-discussion-id="/p/5q6t9"
                                                 data-commentcount-format="content" data-discussion-closed="false">
                                            </div>
                                        </div>
                                    </div>
                                    <p class="byline" data-link-name="byline" data-component="meta-byline">
                                        {{ video.first_name }} {{ video.second_name }}
                                    </p>
                                    <p class="content__dateline" aria-hidden="true">
                                        <time itemprop="datePublished" datetime='2017-02-10T01:11:05+1100'
                                              data-timestamp="1486649465000" class="content__dateline-wpd js-wpd">
                                            {{ video.publish_start_date|date:' D d F Y' }}<span
                                                class="content__dateline-time"> {{ video.publish_start_date|date:'h:m' }}</span>
                                        </time>
                                    </p>
                                </div>
                                <div class="submeta ">
                                    <hr/>
                                    <div data-link-name="keywords" data-component="keywords">
                                        <h2 class="submeta__head">{% trans 'topics' %}</h2>
                                        <ul class="keyword-list inline-list">
                                            {% for video_tag in video.tags.all %}
                                                <li class="inline-list__item ">
                                                    <a class="  button button--small button--tag button--tone-media"
                                                       href="{% url 'tag' 'video' video_tag.slug %}"
                                                       data-link-name="keyword: lifeandstyle/food-and-drink"
                                                       itemprop="keywords">
                                                        {{ video_tag.title }}
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            {% if base_ads and base_ads.news_horizental_bottom_active %}
                                <div style="margin: 10px auto;">
                                    {% if base_ads.news_horizental_bottom_ads_script or base_ads.news_horizental_bottom_ads_image %}
                                        {% if base_ads.news_horizental_bottom_ads_script %}
                                            {{ base_ads.news_horizental_bottom_ads_script }}
                                        {% elif base_ads.news_horizental_bottom_ads_image %}
                                            <a target="_blank" href="{{ base_ads.news_horizental_bottom_ads_link }}">
                                                <img src="{{ base_ads.news_horizental_bottom_ads_image.url }}">
                                            </a>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="content__secondary-column content__secondary-column--media content__secondary-column--video hide-on-childrens-books-site"
                         aria-hidden="true">
                        <div class="js-video-components-container"></div>
                    </div>
                </div>
            </div>
        </article>
    </div>

{% endblock %}