<span><a class="icon-facebook3" href="https://www.facebook.com/sharer/sharer.php?u=
        {{ full_host }}{% url 'news' base_category_get_recent_new.id base_category_get_recent_new.slug %}"></a></span>
<span><a class="icon-twitter" href="https://twitter.com/home?status=
        {{ full_host }}{% url 'news' base_category_get_recent_new.id base_category_get_recent_new.slug %}"></a></span>
<span><a class="icon-google-plus3" href="https://plus.google.com/share?url=
        {{ full_host }}{% url 'news' base_category_get_recent_new.id base_category_get_recent_new.slug %}"></a></span>
<span><a class="icon-linkedin2" href="https://www.linkedin.com/shareArticle?mini=true&url=

        {{ full_host }}{% url 'news' base_category_get_recent_new.id base_category_get_recent_new.slug %}&title={{ news.name }}&summary=&source="></a></span>
<span><a class="icon-pinterest" href="https://pinterest.com/pin/create/button/?url=

        {{ full_host }}{% url 'news' base_category_get_recent_new.id base_category_get_recent_new.slug %}&media=&description={{ base_category_get_recent_new.description }}"></a></span>


{% if request.user.is_authenticated %}
    {% if request.user.is_superuser or base_monthly_most_read_news.author.username == request.user.username %}
        {{ base_monthly_most_read_news.publish_start_date|date:'H:i d F ,Y' }}
    {% else %}
        {{ base_monthly_most_read_news.publish_start_date|date:'d F ,Y' }}
    {% endif %}
{% else %}
    {{ base_monthly_most_read_news.publish_start_date|date:'d F ,Y' }}
{% endif %}