{% load i18n %}
<div class="row header">
{#    <div class="cell">#}
{#        {% trans 'status' %}#}
{#    </div>#}
{#    <div class="cell">#}
{#        {% trans 'date' %}#}
{#    </div>#}
{#    <div class="cell">#}
        {#                                            {% trans 'rate' %}#}
{#    </div>#}
</div>
{% for key, value in weathers.items %}
    {#{% for w in weather.0.items %}#}
    <div class="row">
        <div style="vertical-align: middle;" class="cell">
            {{ value.fcttext_metric }}
        </div>
        <div style="vertical-align: middle;" class="cell">
            {{ value.title }}
        </div>
        <div class="cell">
            <img src="{{ value.icon_url }}">
        </div>
    </div>
    {#{% endfor %}#}

{% endfor %}