            <section id="headlines" class="fc-container fc-container--first js-container--first "
                     data-link-name="container-1 | headlines" data-id="10f21d96-18f6-426f-821b-19df55dfb831"
                     data-component="headlines" aria-expanded="true">
                <div class="fc-container__inner">
                    <div class="fc-container__header
                js-container__header
                ">
                        <div class="fc-container__header__title">
                            <span tabindex="0">headlines</span>
                            <div class="fc-today">
                                <span class="fc-today__dayofweek js-dayofweek">Friday</span>
                                <span class="u-nobr fc-today__sub"> <span
                                        class="fc-today__dayofmonth js-dayofmonth">31</span> <span
                                        class="fc-today__month">March</span> <span
                                        class="fc-today__year">2017</span> </span>
                            </div>
                        </div>
                    </div>
                    <div class="fc-container--rolled-up-hide fc-container__body" data-title="headlines"
                         data-id="10f21d96-18f6-426f-821b-19df55dfb831">
                        <div class="fc-slice-wrapper">
                            <ul class="u-unstyled l-row  l-row--cols-4 fc-slice fc-slice--qqq-q">
                                <li class="fc-slice__item l-row__item l-row__item--span-3 u-faux-block-link">
                                    <div class="fc-item fc-item--force-image-upgrade fc-item--has-image fc-item--has-sublinks-3 js-fc-item tone-news--item fc-item--standard-mobile fc-item--three-quarters-tablet js-snappable"
                                         data-link-name="news | group-2+ | card-1" data-item-visibility="all"
                                         data-test-id="facia-card"
                                         data-id="us-news/2017/mar/31/michael-flynn-new-evidence-spy-chiefs-had-concerns-about-russian-ties"
                                         data-loyalty-short-url="/p/672ty">
                                        <div class="fc-item__container">
                                            {% for base_slider_news in base_slider_newss|slice:'8' %}
                                                {% if forloop.counter == 1 %}
                                                    <div class="fc-item__media-wrapper">
                                                        <a href="{% url 'news' base_slider_news.id base_slider_news.slug %}">
                                                            <div class="fc-item__image-container u-responsive-ratio inlined-image">
                                                                <picture>
                                                                    <!--[if IE 9]>
                                                        <video style="display: none;"><![endif]-->
                                                                    <source media="(min-width: 980px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 980px) and (min-resolution: 120dpi)"
                                                                            sizes="460px"
                                                                            srcset="{{ base_slider_news.image.url }} 920w">
                                                                    <source media="(min-width: 980px)" sizes="460px"
                                                                            srcset="{{ base_slider_news.image.url }} 460w">
                                                                    <source media="(min-width: 740px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 740px) and (min-resolution: 120dpi)"
                                                                            sizes="340px"
                                                                            srcset="{{ base_slider_news.image.url }} 680w">
                                                                    <source media="(min-width: 740px)" sizes="340px"
                                                                            srcset="{{ base_slider_news.image.url }} 340w">
                                                                    <source media="(min-width: 0px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 0px) and (min-resolution: 120dpi)"
                                                                            sizes="95vw"
                                                                            srcset="{{ base_slider_news.image.url }} , {{ base_slider_news.image.url }} 680w, {{ base_slider_news.image.url }} 890w, {{ base_slider_news.image.url }} 1210w">
                                                                    <source media="(min-width: 0px)" sizes="95vw"
                                                                            srcset="{{ base_slider_news.image.url }} , {{ base_slider_news.image.url }} 340w, {{ base_slider_news.image.url }} 445w, {{ base_slider_news.image.url }} 605w">
                                                                    <!--[if IE 9]></video><![endif]-->
                                                                    <img class="responsive-img" alt=""
                                                                         src="{{ base_slider_news.image.url }} ">
                                                                </picture>
                                                            </div>
                                                        </a>
                                                    </div>
                                                    <div class="fc-item__content">
                                                        <div class="fc-item__header">
                                                            <h1 class="fc-item__title"><a
                                                                    href="{% url 'news' base_slider_news.id base_slider_news.slug %}"
                                                                    class="fc-item__link" data-link-name="article">
                                                                <span style="color: #46464D;"
                                                                      class="fc-item__kicker">{{ base_slider_news.first_name }}</span>
                                                                <span class="u-faux-block-link__cta fc-item__headline"> <span
                                                                        class="js-headline-text">{{ base_slider_news.second_name }}</span></span>
                                                            </a></h1>
                                                        </div>
                                                        <div class="fc-item__standfirst">
                                                            {{ base_slider_news.short_text|slice:'100' }}
                                                        </div>
                                                    </div>
                                                {% endif %}
                                                {% if forloop.counter == 2 %}
                                                    <footer class="fc-item__footer--horizontal">
                                                    <ul class="fc-sublinks u-unstyled u-faux-block-link__promote">
                                                {% endif %}
                                            {% if forloop.counter > 1 and forloop.counter < 5 %}
                                                <li class="fc-sublink tone-comment--sublink"
                                                    data-link-name="sublinks | 1"><h3 class="fc-sublink__title"><a
                                                        href="{% url 'news' base_slider_news.id base_slider_news.slug %}"
                                                        data-link-name="kicker"
                                                        class="fc-sublink__kicker"
                                                        style="color:#464646;">{{ base_slider_news.first_name }}</a>
                                                    <a style="color:#ab1500;"
                                                       href="{% url 'news' base_slider_news.id base_slider_news.slug %}"
                                                       class="fc-sublink__link" data-link-name="article">
                                                        {{ base_slider_news.second_name }}
                                                    </a></h3></li>
                                            {% endif %}

                                            {% if forloop.counter < 5 and forloop.last or forloop.counter == 4 %}
                                                </div>
                                                </div>
                                                </li>
                                            {% endif %}
                                                {% if forloop.counter == 5 %}
                                                    <li class="fc-slice__item l-row__item l-row__item--span-1 u-faux-block-link">
                                                        <div class="fc-item fc-item--force-image-upgrade fc-item--has-image fc-item--has-sublinks-1 js-fc-item tone-news--item fc-item--list-media-mobile fc-item--standard-tablet js-snappable"
                                                             data-link-name="news | group-2 | card-2"
                                                             data-item-visibility="all"
                                                             data-test-id="facia-card"
                                                             data-id="{% url 'news' base_slider_news.id base_slider_news.slug %}">
                                                            <div class="fc-item__container">
                                                                <div class="fc-item__media-wrapper">
                                                                    <div class="fc-item__image-container u-responsive-ratio inlined-image">
                                                                        <picture>
                                                                            <!--[if IE 9]>
                                                    <video style="display: none;"><![endif]-->
                                                                            <source media="(min-width: 980px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 980px) and (min-resolution: 120dpi)"
                                                                                    sizes="220px"
                                                                                    srcset="{{ base_slider_news.image.url }} 440w">
                                                                            <source media="(min-width: 980px)"
                                                                                    sizes="220px"
                                                                                    srcset="{{ base_slider_news.image.url }} 220w">
                                                                            <source media="(min-width: 740px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 740px) and (min-resolution: 120dpi)"
                                                                                    sizes="160px"
                                                                                    srcset="{{ base_slider_news.image.url }} 320w">
                                                                            <source media="(min-width: 740px)"
                                                                                    sizes="160px"
                                                                                    srcset="{{ base_slider_news.image.url }} 160w">
                                                                            <source media="(min-width: 0px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 0px) and (min-resolution: 120dpi)"
                                                                                    sizes="127px"
                                                                                    srcset="{{ base_slider_news.image.url }} 254w">
                                                                            <source media="(min-width: 0px)"
                                                                                    sizes="127px"
                                                                                    srcset="{{ base_slider_news.image.url }} 127w">
                                                                            <!--[if IE 9]></video><![endif]-->
                                                                            <img class="responsive-img" alt=""
                                                                                 src="{{ base_slider_news.image.url }} ">
                                                                        </picture>
                                                                    </div>
                                                                </div>
                                                                <div class="fc-item__content">
                                                                    <div class="fc-item__header">
                                                                        <h2 class="fc-item__title"><a
                                                                                href="{% url 'news' base_slider_news.id base_slider_news.slug %}"
                                                                                class="fc-item__link"
                                                                                data-link-name="article"><span
                                                                                class="fc-item__kicker">{{ base_slider_news.first_name }}</span>
                                                                            <span
                                                                                    class="u-faux-block-link__cta fc-item__headline"> <span
                                                                                    class="js-headline-text">{{ base_slider_news.second_name }}</span></span>
                                                                        </a></h2>
                                                                    </div>
                                                                    <div class="fc-item__standfirst">
                                                                        {{ base_slider_news.short_text }}
                                                                    </div>
                                                                    <div class="fc-item__footer--vertical"
                                                                         aria-hidden="true">
                                                                    </div>
                                                                    <aside class="fc-item__meta js-item__meta">
                                                                    </aside>
                                                                </div>
                                                                <footer class="fc-item__footer--horizontal">
                                                                    <ul class="fc-sublinks u-unstyled u-faux-block-link__promote">
                                                                        <li class="fc-sublink tone-news--sublink"
                                                                            data-link-name="sublinks | 1">
                                                                            <h3 class="fc-sublink__title"><a
                                                                                    href="{% url 'news' base_slider_news.id base_slider_news.slug %}"
                                                                                    class="fc-sublink__link"
                                                                                    data-link-name="article"><span
                                                                                    class="fc-sublink__kicker">{{ base_slider_news.first_name }}</span>
                                                                                {{ base_slider_news.second_name }}</a>
                                                                            </h3></li>
                                                                    </ul>
                                                                </footer>
                                                                <a href="{% url 'news' base_slider_news.id base_slider_news.slug %}"
                                                                   class="u-faux-block-link__overlay js-headline-text"
                                                                   data-link-name="article"
                                                                   tabindex="-1">
                                                                    {{ base_slider_news.first_name }} {{ base_slider_news.second_name }}
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </li>
                                                {% endif %}
                                                {% if forloop.counter < 6 and forloop.last or forloop.counter == 5 %}
                                                    </ul>
                                                    </div>
                                                {% endif %}
                                                {% if forloop.counter == 6 %}
                                                    <div class="fc-slice-wrapper">
                                                    <ul class="u-unstyled l-row  l-row--cols-4 fc-slice fc-slice--h-q_ql2-ql4">
                                                    <li class="fc-slice__item l-row__item l-row__item--span-2 u-faux-block-link">
                                                    <div class="fc-item fc-item--force-image-upgrade fc-item--has-image fc-item--has-sublinks-2 js-fc-item tone-news--item fc-item--list-media-mobile fc-item--half-tablet js-snappable"
                                                         data-link-name="news | group-1+ | card-3"
                                                         data-item-visibility="all"
                                                         data-test-id="facia-card"
                                                         data-id="world/2017/mar/31/future-of-gibraltar-at-stake-in-brexit-negotiations"
                                                         data-loyalty-short-url="/p/67yx2">
                                                    <div class="fc-item__container">
                                                {% endif %}
                                                {% if forloop.counter > 5 and forloop.counter < 7 %}
                                                    <div class="fc-item__media-wrapper">
                                                        <div class="fc-item__image-container u-responsive-ratio inlined-image">
                                                            <picture>
                                                                <!--[if IE 9]><video style="display: none;"><![endif]-->
                                                                <source media="(min-width: 980px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 980px) and (min-resolution: 120dpi)"
                                                                        sizes="460px"
                                                                        srcset="https://i.guim.co.uk/img/media/272e7900a16c22c399dd9ae2768c9361e38e88df/0_232_3500_2101/master/3500.jpg?w=460&amp;q=20&amp;auto=format&amp;usm=12&amp;fit=max&amp;dpr=2&amp;s=923ee9924f2c9b3a1846dfc554952e87 920w">
                                                                <source media="(min-width: 980px)" sizes="460px"
                                                                        srcset="https://i.guim.co.uk/img/media/272e7900a16c22c399dd9ae2768c9361e38e88df/0_232_3500_2101/master/3500.jpg?w=460&amp;q=55&amp;auto=format&amp;usm=12&amp;fit=max&amp;s=60bd835944a167a3a273fa015795b2ae 460w">
                                                                <source media="(min-width: 740px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 740px) and (min-resolution: 120dpi)"
                                                                        sizes="340px"
                                                                        srcset="https://i.guim.co.uk/img/media/272e7900a16c22c399dd9ae2768c9361e38e88df/0_232_3500_2101/master/3500.jpg?w=340&amp;q=20&amp;auto=format&amp;usm=12&amp;fit=max&amp;dpr=2&amp;s=4eb00aee5f5475159fd92e7a087884a5 680w">
                                                                <source media="(min-width: 740px)" sizes="340px"
                                                                        srcset="https://i.guim.co.uk/img/media/272e7900a16c22c399dd9ae2768c9361e38e88df/0_232_3500_2101/master/3500.jpg?w=340&amp;q=55&amp;auto=format&amp;usm=12&amp;fit=max&amp;s=988799fd094f8344614934841efb1ddd 340w">
                                                                <source media="(min-width: 0px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 0px) and (min-resolution: 120dpi)"
                                                                        sizes="127px"
                                                                        srcset="https://i.guim.co.uk/img/media/272e7900a16c22c399dd9ae2768c9361e38e88df/0_232_3500_2101/master/3500.jpg?w=127&amp;q=20&amp;auto=format&amp;usm=12&amp;fit=max&amp;dpr=2&amp;s=67228168bd3bcf9d20dee26e39e68a93 254w">
                                                                <source media="(min-width: 0px)" sizes="127px"
                                                                        srcset="https://i.guim.co.uk/img/media/272e7900a16c22c399dd9ae2768c9361e38e88df/0_232_3500_2101/master/3500.jpg?w=127&amp;q=55&amp;auto=format&amp;usm=12&amp;fit=max&amp;s=d7440aff87b6fad2cf32a698c9db3780 127w">
                                                                <!--[if IE 9]></video><![endif]-->
                                                                <img class="responsive-img" alt=""
                                                                     src="https://i.guim.co.uk/img/media/272e7900a16c22c399dd9ae2768c9361e38e88df/0_232_3500_2101/master/3500.jpg?w=300&amp;q=55&amp;auto=format&amp;usm=12&amp;fit=max&amp;s=06d7cd17d7d7a9658a1c94d4aae10d01">
                                                            </picture>
                                                        </div>
                                                    </div>
                                                    <div class="fc-item__content">
                                                    <div class="fc-item__header">
                                                        <h2 class="fc-item__title"><a
                                                                href="https://www.theguardian.com/world/2017/mar/31/future-of-gibraltar-at-stake-in-brexit-negotiations"
                                                                class="fc-item__link" data-link-name="article"><span
                                                                class="fc-item__kicker">Brexit</span> <span
                                                                class="u-faux-block-link__cta fc-item__headline"> <span
                                                                class="js-headline-text">Future of Gibraltar at stake in negotiations</span></span>
                                                        </a></h2>
                                                    </div>
                                                    <div class="fc-item__standfirst">
                                                        EU guidelines make clear bloc will not overrule Spain in any
                                                        trade
                                                        or
                                                        sovereignty dispute over British overseas territory
                                                        <br>
                                                    </div>
                                                {% endif %}
                                                {% if forloop.counter == 7 %}
                                                    <div class="fc-item__footer--vertical" aria-hidden="true">
                                                    <ul class="fc-sublinks u-unstyled u-faux-block-link__promote">
                                                {% endif %}
                                            {% if forloop.counter > 6 and forloop.counter < 9 %}
                                                <li class="fc-sublink tone-news--sublink"
                                                    data-link-name="sublinks | 1"><h3 class="fc-sublink__title">
                                                    <a
                                                            href="https://www.theguardian.com/politics/2017/mar/31/eu-willing-to-discuss-free-trade-deal-before-final-terms-of-brexit"
                                                            class="fc-sublink__link"
                                                            data-link-name="article"><span
                                                            class="fc-sublink__kicker">{{ base_slider_news.first_name }}</span>
                                                        {{ base_slider_news.second_name }}
                                                    </a></h3>
                                                </li>
                                            {% endif %}
                                            {% if forloop.counter == 8  or forloop.last %}
                                                </ul>
                                                </div>
                                                <aside class="fc-item__meta js-item__meta">
                                                </aside>

                                                </div>
                                                </div>
                                                </div>
                                                </li>
                                            {% endif %}

                                            {% endfor %}
                                            <li class="fc-slice__item l-row__item l-row__item--span-1">
                                                <ul class="u-unstyled l-list l-list--columns-1 l-list--rows-3">
                                                    <li class="fc-slice__item l-list__item l-row__item l-row__item--span-1 u-faux-block-link">
                                                        <div class="fc-item fc-item--force-image-upgrade fc-item--has-image js-fc-item tone-news--item fc-item--list-media-mobile fc-item--standard-tablet js-snappable"
                                                             data-link-name="news | group-1 | card-4"
                                                             data-item-visibility="all"
                                                             data-test-id="facia-card"
                                                             data-id="world/2017/mar/31/china-to-create-giant-giant-panda-reserve-to-boost-wild-population"
                                                             data-loyalty-short-url="/p/67yxf">
                                                            <div class="fc-item__container">
                                                                <div class="fc-item__media-wrapper">
                                                                    <div class="fc-item__image-container u-responsive-ratio inlined-image">
                                                                        <picture>
                                                                            <!--[if IE 9]><video style="display: none;">
                                                                            <![endif]-->
                                                                            <source media="(min-width: 980px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 980px) and (min-resolution: 120dpi)"
                                                                                    sizes="220px"
                                                                                    srcset="https://i.guim.co.uk/img/media/b06c2a0584d20e796ba68405e0384ecabb8a61ab/0_92_2044_1226/master/2044.jpg?w=220&amp;q=20&amp;auto=format&amp;usm=12&amp;fit=max&amp;dpr=2&amp;s=e429c290ab45504a6c94ec5ba0b9952f 440w">
                                                                            <source media="(min-width: 980px)"
                                                                                    sizes="220px"
                                                                                    srcset="https://i.guim.co.uk/img/media/b06c2a0584d20e796ba68405e0384ecabb8a61ab/0_92_2044_1226/master/2044.jpg?w=220&amp;q=55&amp;auto=format&amp;usm=12&amp;fit=max&amp;s=fe4e67b8fcc033fe13fac394d2855ea8 220w">
                                                                            <source media="(min-width: 740px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 740px) and (min-resolution: 120dpi)"
                                                                                    sizes="160px"
                                                                                    srcset="https://i.guim.co.uk/img/media/b06c2a0584d20e796ba68405e0384ecabb8a61ab/0_92_2044_1226/master/2044.jpg?w=160&amp;q=20&amp;auto=format&amp;usm=12&amp;fit=max&amp;dpr=2&amp;s=d2f6efe823428b0abb8e13c2de38fd2b 320w">
                                                                            <source media="(min-width: 740px)"
                                                                                    sizes="160px"
                                                                                    srcset="https://i.guim.co.uk/img/media/b06c2a0584d20e796ba68405e0384ecabb8a61ab/0_92_2044_1226/master/2044.jpg?w=160&amp;q=55&amp;auto=format&amp;usm=12&amp;fit=max&amp;s=243bbe0e0b30a4bfbdad7b65ab5c3878 160w">
                                                                            <source media="(min-width: 0px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 0px) and (min-resolution: 120dpi)"
                                                                                    sizes="127px"
                                                                                    srcset="https://i.guim.co.uk/img/media/b06c2a0584d20e796ba68405e0384ecabb8a61ab/0_92_2044_1226/master/2044.jpg?w=127&amp;q=20&amp;auto=format&amp;usm=12&amp;fit=max&amp;dpr=2&amp;s=b8d2d47b3c602bd3a90f7aa1f5679cc9 254w">
                                                                            <source media="(min-width: 0px)"
                                                                                    sizes="127px"
                                                                                    srcset="https://i.guim.co.uk/img/media/b06c2a0584d20e796ba68405e0384ecabb8a61ab/0_92_2044_1226/master/2044.jpg?w=127&amp;q=55&amp;auto=format&amp;usm=12&amp;fit=max&amp;s=ccf74238ca34a957f9d717226d62606c 127w">
                                                                            <!--[if IE 9]></video><![endif]-->
                                                                            <img class="responsive-img" alt=""
                                                                                 src="https://i.guim.co.uk/img/media/b06c2a0584d20e796ba68405e0384ecabb8a61ab/0_92_2044_1226/master/2044.jpg?w=300&amp;q=55&amp;auto=format&amp;usm=12&amp;fit=max&amp;s=94178200718e292b9221109240bd4011">
                                                                        </picture>
                                                                    </div>
                                                                </div>
                                                                <div class="fc-item__content">
                                                                    <div class="fc-item__header">
                                                                        <h2 class="fc-item__title"><a
                                                                                href="https://www.theguardian.com/world/2017/mar/31/china-to-create-giant-giant-panda-reserve-to-boost-wild-population"
                                                                                class="fc-item__link"
                                                                                data-link-name="article"> <span
                                                                                class="u-faux-block-link__cta fc-item__headline"> <span
                                                                                class="js-headline-text">China to create 'giant' giant panda reserve to boost wild population</span></span>
                                                                        </a></h2>
                                                                    </div>
                                                                    <div class="fc-item__standfirst">
                                                                        National park three times the size of
                                                                        Yellowstone in the US
                                                                        will
                                                                        link up 67 existing reserves to make mating
                                                                        easier
                                                                        <br>
                                                                    </div>
                                                                    <aside class="fc-item__meta js-item__meta">
                                                                    </aside>
                                                                </div>
                                                                <a href="https://www.theguardian.com/world/2017/mar/31/china-to-create-giant-giant-panda-reserve-to-boost-wild-population"
                                                                   class="u-faux-block-link__overlay js-headline-text"
                                                                   data-link-name="article" tabindex="-1">China to
                                                                    create 'giant'
                                                                    giant
                                                                    panda reserve to boost wild population</a>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="fc-slice__item l-list__item l-row__item l-row__item--span-1 u-faux-block-link">
                                                        <div class="fc-item fc-item--force-image-upgrade fc-item--has-image js-fc-item tone-news--item fc-item--list-mobile fc-item--list-tablet js-snappable"
                                                             data-link-name="news | group-0 | card-5"
                                                             data-item-visibility="all"
                                                             data-test-id="facia-card"
                                                             data-id="world/2017/mar/31/venezuela-senior-prosecutor-congress-nicolas-madura"
                                                             data-loyalty-short-url="/p/67m7a">
                                                            <div class="fc-item__container">
                                                                <div class="fc-item__content">
                                                                    <div class="fc-item__header">
                                                                        <h2 class="fc-item__title"><a
                                                                                href="https://www.theguardian.com/world/2017/mar/31/venezuela-senior-prosecutor-congress-nicolas-madura"
                                                                                class="fc-item__link"
                                                                                data-link-name="article"><span
                                                                                class="fc-item__kicker">Venezuela</span>
                                                                            <span
                                                                                    class="u-faux-block-link__cta fc-item__headline"> <span
                                                                                    class="js-headline-text">Top prosecutor condemns court move to strip congress of power</span></span>
                                                                        </a></h2>
                                                                    </div>
                                                                    <aside class="fc-item__meta js-item__meta">
                                                                    </aside>
                                                                </div>
                                                                <a href="https://www.theguardian.com/world/2017/mar/31/venezuela-senior-prosecutor-congress-nicolas-madura"
                                                                   class="u-faux-block-link__overlay js-headline-text"
                                                                   data-link-name="article" tabindex="-1">Top prosecutor
                                                                    condemns
                                                                    court
                                                                    move to strip congress of power</a>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="fc-slice__item l-list__item l-row__item l-row__item--span-1 u-faux-block-link">
                                                        <div class="fc-item fc-item--force-image-upgrade fc-item--has-image js-fc-item tone-news--item fc-item--list-mobile fc-item--list-tablet js-snappable"
                                                             data-link-name="news | group-0 | card-6"
                                                             data-item-visibility="all"
                                                             data-test-id="facia-card"
                                                             data-id="world/2017/mar/30/israel-approves-west-bank-settlements-trump-administration"
                                                             data-loyalty-short-url="/p/67tq7">
                                                            <div class="fc-item__container">
                                                                <div class="fc-item__content">
                                                                    <div class="fc-item__header">
                                                                        <h2 class="fc-item__title"><a
                                                                                href="https://www.theguardian.com/world/2017/mar/30/israel-approves-west-bank-settlements-trump-administration"
                                                                                class="fc-item__link"
                                                                                data-link-name="article"><span
                                                                                class="fc-item__kicker">Israel</span>
                                                                            <span
                                                                                    class="u-faux-block-link__cta fc-item__headline"> <span
                                                                                    class="js-headline-text">Guidelines point to largely unconstrained settlement expansion</span></span>
                                                                        </a></h2>
                                                                    </div>
                                                                    <aside class="fc-item__meta js-item__meta">
                                                                    </aside>
                                                                </div>
                                                                <a href="https://www.theguardian.com/world/2017/mar/30/israel-approves-west-bank-settlements-trump-administration"
                                                                   class="u-faux-block-link__overlay js-headline-text"
                                                                   data-link-name="article" tabindex="-1">Guidelines
                                                                    point to
                                                                    largely
                                                                    unconstrained settlement expansion</a>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="fc-slice__item l-row__item l-row__item--span-1">
                                                <ul class="u-unstyled l-list l-list--columns-1 l-list--rows-5">
                                                    <li class="fc-slice__item l-list__item l-row__item l-row__item--span-1 u-faux-block-link">
                                                        <div class="fc-item fc-item--force-image-upgrade fc-item--has-image js-fc-item tone-news--item fc-item--list-mobile fc-item--list-tablet js-snappable"
                                                             data-link-name="news | group-0 | card-7"
                                                             data-item-visibility="all"
                                                             data-test-id="facia-card"
                                                             data-id="world/2017/mar/31/south-africa-anc-jacob-zuma-cyril-ramaphosa"
                                                             data-loyalty-short-url="/p/67mag">
                                                            <div class="fc-item__container">
                                                                <div class="fc-item__content">
                                                                    <div class="fc-item__header">
                                                                        <h2 class="fc-item__title"><a
                                                                                href="https://www.theguardian.com/world/2017/mar/31/south-africa-anc-jacob-zuma-cyril-ramaphosa"
                                                                                class="fc-item__link"
                                                                                data-link-name="article"><span
                                                                                class="fc-item__kicker">South Africa</span>
                                                                            <span
                                                                                    class="u-faux-block-link__cta fc-item__headline"> <span
                                                                                    class="js-headline-text">ANC in chaos after Jacob Zuma sacks finance minister</span></span>
                                                                        </a></h2>
                                                                    </div>
                                                                    <aside class="fc-item__meta js-item__meta">
                                                                    </aside>
                                                                </div>
                                                                <a href="https://www.theguardian.com/world/2017/mar/31/south-africa-anc-jacob-zuma-cyril-ramaphosa"
                                                                   class="u-faux-block-link__overlay js-headline-text"
                                                                   data-link-name="article" tabindex="-1">ANC in chaos
                                                                    after Jacob
                                                                    Zuma
                                                                    sacks finance minister</a>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="fc-slice__item l-list__item l-row__item l-row__item--span-1 u-faux-block-link">
                                                        <div class="fc-item fc-item--force-image-upgrade fc-item--has-image js-fc-item tone-news--item fc-item--list-mobile fc-item--list-tablet js-snappable"
                                                             data-link-name="news | group-0 | card-8"
                                                             data-item-visibility="all"
                                                             data-test-id="facia-card"
                                                             data-id="business/2017/mar/31/uk-raids-dutch-prosecutors-tax-germany-france"
                                                             data-loyalty-short-url="/p/67kh8">
                                                            <div class="fc-item__container">
                                                                <div class="fc-item__content">
                                                                    <div class="fc-item__header">
                                                                        <h2 class="fc-item__title"><a
                                                                                href="https://www.theguardian.com/business/2017/mar/31/uk-raids-dutch-prosecutors-tax-germany-france"
                                                                                class="fc-item__link"
                                                                                data-link-name="article"><span
                                                                                class="fc-item__kicker">Tax evasion</span>
                                                                            <span
                                                                                    class="u-faux-block-link__cta fc-item__headline"> <span
                                                                                    class="js-headline-text">Raids across globe as Dutch prosecutors launch investigation</span></span>
                                                                        </a></h2>
                                                                    </div>
                                                                    <aside class="fc-item__meta js-item__meta">
                                                                    </aside>
                                                                </div>
                                                                <a href="https://www.theguardian.com/business/2017/mar/31/uk-raids-dutch-prosecutors-tax-germany-france"
                                                                   class="u-faux-block-link__overlay js-headline-text"
                                                                   data-link-name="article" tabindex="-1">Raids across
                                                                    globe as
                                                                    Dutch
                                                                    prosecutors launch investigation</a>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="fc-slice__item l-list__item l-row__item l-row__item--span-1 u-faux-block-link">
                                                        <div class="fc-item fc-item--force-image-upgrade fc-item--has-image js-fc-item tone-news--item fc-item--list-mobile fc-item--list-tablet js-snappable"
                                                             data-link-name="news | group-0 | card-9"
                                                             data-item-visibility="all"
                                                             data-test-id="facia-card"
                                                             data-id="world/2017/mar/31/kuwait-woman-arrested-filming-maid-suicide-attempt"
                                                             data-loyalty-short-url="/p/67mv9">
                                                            <div class="fc-item__container">
                                                                <div class="fc-item__content">
                                                                    <div class="fc-item__header">
                                                                        <h2 class="fc-item__title"><a
                                                                                href="https://www.theguardian.com/world/2017/mar/31/kuwait-woman-arrested-filming-maid-suicide-attempt"
                                                                                class="fc-item__link"
                                                                                data-link-name="article"><span
                                                                                class="fc-item__kicker">Kuwait</span>
                                                                            <span
                                                                                    class="u-faux-block-link__cta fc-item__headline"> <span
                                                                                    class="js-headline-text">Woman detained for filming maid's suicide attempt without helping</span></span>
                                                                        </a></h2>
                                                                    </div>
                                                                    <aside class="fc-item__meta js-item__meta">
                                                                    </aside>
                                                                </div>
                                                                <a href="https://www.theguardian.com/world/2017/mar/31/kuwait-woman-arrested-filming-maid-suicide-attempt"
                                                                   class="u-faux-block-link__overlay js-headline-text"
                                                                   data-link-name="article" tabindex="-1">Woman detained
                                                                    for filming
                                                                    maid's suicide attempt without helping</a>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="fc-slice__item l-list__item l-row__item l-row__item--span-1 u-faux-block-link">
                                                        <div class="fc-item fc-item--force-image-upgrade fc-item--has-image js-fc-item tone-news--item fc-item--list-mobile fc-item--list-tablet js-snappable"
                                                             data-link-name="news | group-0 | card-10"
                                                             data-item-visibility="all"
                                                             data-test-id="facia-card"
                                                             data-id="world/2017/mar/31/saudi-arabia-yemen-military-campaign-general-ahmed-aisir-clashes-with-critics"
                                                             data-loyalty-short-url="/p/67yzn">
                                                            <div class="fc-item__container">
                                                                <div class="fc-item__content">
                                                                    <div class="fc-item__header">
                                                                        <h2 class="fc-item__title"><a
                                                                                href="https://www.theguardian.com/world/2017/mar/31/saudi-arabia-yemen-military-campaign-general-ahmed-aisir-clashes-with-critics"
                                                                                class="fc-item__link"
                                                                                data-link-name="article"><span
                                                                                class="fc-item__kicker">Saudi Arabia</span>
                                                                            <span
                                                                                    class="u-faux-block-link__cta fc-item__headline"> <span
                                                                                    class="js-headline-text">Egg thrown at Saudi general in protest against military campaign in Yemen</span></span>
                                                                        </a></h2>
                                                                    </div>
                                                                    <aside class="fc-item__meta js-item__meta">
                                                                    </aside>
                                                                </div>
                                                                <a href="https://www.theguardian.com/world/2017/mar/31/saudi-arabia-yemen-military-campaign-general-ahmed-aisir-clashes-with-critics"
                                                                   class="u-faux-block-link__overlay js-headline-text"
                                                                   data-link-name="article" tabindex="-1">Egg thrown at
                                                                    Saudi
                                                                    general in
                                                                    protest against military campaign in Yemen</a>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="fc-slice__item l-list__item l-row__item l-row__item--span-1 u-faux-block-link">
                                                        <div class="fc-item fc-item--force-image-upgrade fc-item--has-image fc-item--has-metadata fc-item--is-commentable js-fc-item tone-news--item fc-item--list-mobile fc-item--list-tablet js-snappable"
                                                             data-discussion-id="/p/67t5v"
                                                             data-discussion-closed="false"
                                                             data-discussion-url="https://www.theguardian.com/environment/2017/mar/31/can-you-dig-it-badger-captured-on-camera-burying-cow#comments"
                                                             data-link-name="news | group-0 | card-11"
                                                             data-item-visibility="all"
                                                             data-test-id="facia-card"
                                                             data-id="environment/2017/mar/31/can-you-dig-it-badger-captured-on-camera-burying-cow"
                                                             data-loyalty-short-url="/p/67t5v">
                                                            <div class="fc-item__container">
                                                                <div class="fc-item__content">
                                                                    <div class="fc-item__header">
                                                                        <h2 class="fc-item__title"><a
                                                                                href="https://www.theguardian.com/environment/2017/mar/31/can-you-dig-it-badger-captured-on-camera-burying-cow"
                                                                                class="fc-item__link"
                                                                                data-link-name="article"><span
                                                                                class="fc-item__kicker">Can you dig it?</span>
                                                                            <span
                                                                                    class="u-faux-block-link__cta fc-item__headline"> <span
                                                                                    class="js-headline-text">Badger captured on camera burying cow</span></span>
                                                                        </a></h2>
                                                                    </div>
                                                                    <aside class="fc-item__meta js-item__meta">
                                                                    </aside>
                                                                </div>
                                                                <a href="https://www.theguardian.com/environment/2017/mar/31/can-you-dig-it-badger-captured-on-camera-burying-cow"
                                                                   class="u-faux-block-link__overlay js-headline-text"
                                                                   data-link-name="article" tabindex="-1">Badger
                                                                    captured on camera
                                                                    burying cow</a>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </li>
                                            </ul>
                                            </div>
                    </div>
                </div>
            </section>