{% load i18n %}
<footer class="l-footer u-cf" data-link-name="footer" data-component="footer">
    <div class="l-footer__secondary js-footer__secondary  gs-container" role="contentinfo">
        <div class="l-footer__misc">
            <div class="really-serious-copyright">© {{ now.year }} - goldnews.az.
                All rights reserved.<span style="    float: right;" class="">
                    development by: <a style="color: #fff;" target="_blank" href="http://e-box.az/">e-Box.az</a></span>
            </div>
        </div>
    </div>
</footer>