{% load i18n %}
{% load static %}
<div id="bannerandheader">
    {% if base_ads %}
        {% if base_ads.header_horizontal_ads_1_script or base_ads.header_horizontal_ads_1_image %}
            <div class="top-banner-ad-container js-top-banner" style="display: block;">
                <div id="dfp-ad--top-above-nav"
                     class="js-ad-slot ad-slot ad-slot--top-above-nav ad-slot--top-banner-ad ad-slot--top-banner-ad-desktop "
                     data-link-name="ad slot top-above-nav" data-test-id="ad-slot-top-above-nav"
                     data-name="top-above-nav"
                     data-tablet="1,1|2,2|88,70|728,90|88,71|fluid"
                     data-desktop="1,1|2,2|88,70|728,90|940,230|900,250|970,250|88,71|fluid">
                    {% if base_ads.header_horizontal_ads_1_script %}
                        {{ base_ads.header_horizontal_ads_1_script }}
                    {% elif base_ads.header_horizontal_ads_1_image %}
                        <a target="_blank" href="{{ base_ads.header_horizontal_ads_1_link }}">
                            <img src="{{ base_ads.header_horizontal_ads_1_image.url }}">
                        </a>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    {% endif %}
    <header id="header" class="l-header u-cf  js-header " role="banner" data-link-name="global navigation: header">
        <div class="js-navigation-header navigation-container navigation-container--collapsed">
            <div class="gs-container l-header__inner">
                <div class="l-header-pre u-cf">
                    <div class="brand-bar">
                        <div class="brand-bar__item brand-bar__item--profile popup-container
                                    has-popup js-profile-nav" data-component="identity-profile">


                            <div class="js-profile-popup">
                                <ul class="popup popup--default popup__group popup--profile is-off"
                                    data-link-name="Sub Sections" data-test-id="popup-profile">
                                    <li class="popup__item"><a class="brand-bar__item--action js-comment-activity u-h"
                                                               data-link-name="Comment activity">Comment activity</a>
                                    </li>
                                    <li class="popup__item"><a href="#"
                                                               class="brand-bar__item--action"
                                                               data-link-name="Edit profile">Edit profile</a></li>
                                    <li class="popup__item"><a href="#"
                                                               class="brand-bar__item--action"
                                                               data-link-name="Email preferences">Email preferences</a>
                                    </li>
                                    <li class="popup__item"><a href="#"
                                                               class="brand-bar__item--action"
                                                               data-link-name="Change password">Change password</a></li>
                                    <li class="popup__item"><a href="#"
                                                               class="brand-bar__item--action"
                                                               data-link-name="Sign out">Sign out</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="brand-bar__item has-popup brand-bar__item--has-control
                                popup-container brand-bar__item--subscribe
                                 hide-on-slim-header hide-on-tablet" data-component="subscribe">


                            {#<span class="inline-marque-36 inline-icon rounded-icon control__icon-wrapper">#}
                            {#<svg width="36" height="36" viewbox="0 0 36 36"#}
                            {#     class="rounded-icon__svg control__icon-wrapper__svg inline-marque-36__svg inline-icon__svg">#}
                            {#<path d="M17.9 14h-3v8H12v-8h-2v-2.9h2V8.7C12 6.8 13.1 5 16 5c1.2 0 2 .1 2 .1v3h-1.8c-1 0-1.2.5-1.2 1.3v1.8h3l-.1 2.8z"/>#}
                            {#</svg>#}
                            {#</span>#}
                            {% for base_social in base_socials %}
                                <a href="{{ base_social.url }}" target="_blank">
                                    <span style="vert-align: middle;text-align: center;font-size: 30px;"
                                          class="inline-share-facebook inline-icon rounded-icon centered-icon social-icon ">
                                        <i class="{{ base_social.fa_icon }}" aria-hidden="true"></i>
                                    </span>
                                </a>
                            {% endfor %}

                            {#                                <a href="{% url 'pages' 'weather' %}">#}
                            {#                                    <span style="vert-align: middle;text-align: center;font-size: 30px;"#}
                            {#                                          class="inline-share-facebook inline-icon rounded-icon centered-icon social-icon ">#}
                            {#                                        <i class="fa fa-sun-o" aria-hidden="true"></i>#}
                            {#                                    </span>#}
                            {#                                </a>#}
                            {#                                <a href="{% url 'pages' 'currency' %}" >#}
                            {#                                    <span style="vert-align: middle;text-align: center;font-size: 30px;"#}
                            {#                                          class="inline-share-facebook inline-icon rounded-icon centered-icon social-icon ">#}
                            {#                                        <i class="fa fa-money" aria-hidden="true"></i>#}
                            {#                                    </span>#}
                            {#                                </a>#}
                        </div>
                    </div>

                    <div style="float: right;" class="brand-bar__item has-popup popup-container brand-bar__item--search"
                         data-component="search">
                        <a target="_blank"
                           href="https://www.google.co.uk/advanced_search?q=site:www.goldnews.az/"
                           data-is-ajax
                           data-link-name="Search icon"
                           class="brand-bar__item--action popup__toggle js-search-toggle"
                           data-toggle="popup--search" aria-haspopup="true">
                                <span class="inline-search-36 inline-icon rounded-icon control__icon-wrapper">
                                <svg width="18" height="18" viewbox="0 0 18 18"
                                     class="rounded-icon__svg control__icon-wrapper__svg inline-search-36__svg inline-icon__svg">
                                <path d="M6.5 1.6c2.7 0 4.9 2.2 4.9 4.9s-2.2 4.9-4.9 4.9-4.9-2.2-4.9-4.9 2.2-4.9 4.9-4.9m0-1.6C2.9 0 0 2.9 0 6.5S2.9 13 6.5 13 13 10.1 13 6.5 10.1 0 6.5 0zm6.6 11.5l4.9 4.9-1.6 1.6-4.9-4.9v-.8l.8-.8h.8z"/>
                                </svg>
                                </span>
                            <span class="control__info">{% trans 'advanced_search' %}</span>
                        </a>
                    </div>

                    <div style="float: right;" class="brand-bar__item has-popup popup-container brand-bar__item--search"
                         data-component="search">
                        <a href="{% url 'search' 'news' %}" id="search-spec" data-link-name="Search icon"
                           class="brand-bar__item--action popup__toggle js-search-toggle">
                                <span class="inline-search-36 inline-icon rounded-icon control__icon-wrapper">
                                <svg width="18" height="18" viewbox="0 0 18 18"
                                     class="rounded-icon__svg control__icon-wrapper__svg inline-search-36__svg inline-icon__svg">
                                <path d="M6.5 1.6c2.7 0 4.9 2.2 4.9 4.9s-2.2 4.9-4.9 4.9-4.9-2.2-4.9-4.9 2.2-4.9 4.9-4.9m0-1.6C2.9 0 0 2.9 0 6.5S2.9 13 6.5 13 13 10.1 13 6.5 10.1 0 6.5 0zm6.6 11.5l4.9 4.9-1.6 1.6-4.9-4.9v-.8l.8-.8h.8z"/>
                                </svg>
                                </span>
                            <span class="control__info">{% trans 'search' %}</span>
                        </a>
                    </div>

                    {% if request.user.is_authenticated and request.user.is_staff  or request.user.is_authenticated and request.user.is_superuser %}
                        <div class="brand-bar__item--right" data-component="guardian-services">
                            <div class="brand-bar__item brand-bar__item--jobs hide-until-tablet hide-on-slim-header">
                                <a target="_blank" class="brand-bar__item--action" data-link-name="uk : topNav : jobs"
                                   href="{% url 'admin:index' %}">{% trans 'admin' %}</a>
                            </div>
                            <div class="brand-bar__item brand-bar__item--jobs hide-until-tablet hide-on-slim-header">
                                <a target="_blank" class="brand-bar__item--action" data-link-name="uk : topNav : jobs"
                                   href="{% url 'myprofile' %}">{% trans 'myprofile' %}</a>
                            </div>
                            <div class="brand-bar__item brand-bar__item--soulmates desktop-only hide-on-slim-header">
                                <a class="brand-bar__item--action" data-link-name="int : topNav : soulmates"
                                   href="{% url 'logout' %}">{% trans 'logout' %}</a>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="popup popup--default popup--search is-off">
                    <div class="js-search-placeholder"></div>
                </div>
                <div class="l-header-main">
                    <a href="{% url 'index' %}" style="float: left;" data-link-name="site logo" id="logo"
                       class="logo-wrapper"
                       data-component="logo">
                        <span class="u-h"></span>
                        <!--[if (gt IE 8)|(IEMobile)]><!-->
                        <span class="inline-guardian-logo-320 inline-logo ">
                            <img height="60" width="320"
                                 src="{% static 'main/assets/logo/t-logo.png' %}">
                            </span>
                    </a>
                </div>
                <div class="l-header-main" style="float: right!important;">
                    <ul style="float:left;margin: 0 23px 0px 0px !important;list-style: none; color: #fff">
                        {% for currency_today in currencies_today|slice:'3' %}
                            <li style="border-bottom: 1px solid #fff;padding: 0 24px;">
                                {{ currency_today.code }}&nbsp;&nbsp;|&nbsp;&nbsp;{{ currency_today.rate }}&nbsp;&nbsp;|
                                {% if currency_today.difference < currency_today.rate %}
                                    {#                                                <img src="{% static 'main/custom/image/up.png' %}">#}
                                    &nbsp;&nbsp;<i class="fa fa-caret-up" aria-hidden="true"></i>
                                {% elif currency_today.difference > currency_today.rate %}
                                    {#                                                <img src="{% static 'main/custom/image/down.png' %}">#}
                                    &nbsp;&nbsp;<i class="fa fa-caret-down" aria-hidden="true"></i>
                                {% else %}
                                    {#                                                <img src="{% static 'main/custom/image/no.png' %}">#}
                                    &nbsp;&nbsp;<i class="fa fa-minus" aria-hidden="true"></i>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                    <a href="{% url 'pages' 'currency' %}" style="float: left;" data-link-name="site logo" id="logo"
                       class="logo-wrapper"
                       data-component="logo">
                        <span class="u-h"></span>
                        <!--[if (gt IE 8)|(IEMobile)]><!-->
                        <span class="inline-guardian-logo-320 inline-logo ">
                                                <img height="60"
                                                     src="{% static 'main/assets/logo/dollar-stack.png' %}">

                                                </span>
                    </a>
                </div>
            </div>
            <div class="js-navigation navigation navigation--has-signposting">
                <div class="gs-container">
                    <div class="navigation__inner">
                        <div class="navigation__scroll">
                            <nav class="navigation__container navigation__container--first" data-component="nav"
                                 role="navigation" aria-label="Current section">
                                <ul class="signposting">
                                    <li class="signposting__item signposting__item--home">
                                        <a class="signposting__action" href="{% url 'index' %}"
                                           data-link-name="nav : signposting : home">{% trans 'home' %}</a>
                                    </li>
                                </ul>
                            </nav>
                            <nav class="navigation__container navigation__container--second" data-component="nav"
                                 role="navigation" aria-label="Guardian sections">
                                <ul class="top-navigation js-top-navigation">
                                    <li class="top-navigation__item top-navigation__item--home">
                                        <a href="{% url 'index' %}"
                                           class="top-navigation__action top-navigation__action--has-icon"
                                           data-link-name="nav : primary : home" title="Back to homepage">
                                            <span class="top-navigation__icon top-navigation__icon--home"></span>
                                            <span class="u-h">{% trans 'home' %}</span>
                                        </a>
                                    </li>
                                    <li class="top-navigation__item">
                                        <a class="top-navigation__action" href="{% url 'all_news' %}"
                                           data-link-name="nav : primary : all_news" style="font-weight: 700;">
                                            {% trans 'all_news' %}
                                        </a>
                                    </li>
                                    {% for base_category in base_categorys %}
                                        <li class="top-navigation__item">
                                            <a class="top-navigation__action"
                                               href="{% url 'category' base_category.slug %}"
                                               data-link-name="nav : primary : {{ base_category.name }}">
                                                {{ base_category.name }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                    <li class="top-navigation__item">
                                        <a class="top-navigation__action" href="{% url 'videos' %}"
                                           data-link-name="nav : primary : videos">
                                            {% trans 'videos' %}
                                        </a>
                                    </li>
                                    <li class="top-navigation__item">
                                        <a class="top-navigation__action" href="{% url 'galleries' %}"
                                           data-link-name="nav : primary : galleries">
                                            {% trans 'galleries' %}
                                        </a>
                                    </li>
                                    <li class="top-navigation__item">
                                        <a class="top-navigation__action" href="{% url 'pages' 'weather' %}"
                                           data-link-name="nav : primary : weather">
                                            {% trans 'weather' %}
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        {#                        <a class="navigation-toggle js-navigation-toggle" href="#footer-nav"#}
                        {#                           data-link-name="nav : allSections" data-target-nav="js-navigation-header">#}
                        {#                            <i class="burger-icon"></i><span#}
                        {#                                class="navigation-toggle-label navigation-toggle-label--open" aria-haspopup="true"#}
                        {#                                aria-controls="all-sections-popup" aria-label="browse all sections"><span#}
                        {#                                class="navigation-toggle-label__extra navigation-toggle-label__extra--browse">{% trans 'browse' %} </span><span#}
                        {#                                class="navigation-toggle-label__extra"> {% trans 'all_section' %}</span></span>#}
                        {#                            <span class="navigation-toggle-label navigation-toggle-label--close"#}
                        {#                                  aria-label="close all sections">{% trans 'close' %}</span>#}
                        {#                        </a>#}
                    </div>
                    <div id="all-sections-popup" class="navigation__expandable js-mega-nav-placeholder"
                         data-component="all-nav"></div>
                </div>
            </div>
        </div>
    </header>
</div>