{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load thumbnail %}
{% block head_container %}
    <title>{{ site_info.site_name }} - {% trans '404' %}</title>
    <meta name="keywords" content="{% trans '404' %}"/>
    <meta name="description" content="{% trans '404' %}">
    <meta property="og:url" content="{{ request.build_absolute_uri }}"/>
    <meta property="og:type" content="{% trans '404' %}"/>
    <meta property="og:title" content="{% trans '404' %}"/>
    <meta property="og:description" content="{% trans '404' %}"/>
    <meta property="og:image" content="{{ site_info.image|thumbnail_url:'facebook_image' }}"/>

    <style>

    </style>
{% endblock %}
{% block css_container %}
    {% include 'include/css/_index.html' %}
{% endblock %}
{% block main_container %}


    <!-- main-content -->
    <div class="l-side-margins">
        <div class="facia-page" data-link-name="Front | /home" role="main">


            <section id="headlines" class="fc-container fc-container--first js-container--first "
                     data-link-name="container-1 | headlines" data-id="10f21d96-18f6-426f-821b-19df55dfb831"
                     data-component="headlines" aria-expanded="true">
                <div class="fc-container__inner">
                    <div class="fc-container__header
                js-container__header
                ">
                        <div class="fc-container__header__title">
                            <span tabindex="0">{% trans '404' %}</span>
                            <div class="fc-today">
                                <span class="fc-today__dayofweek js-dayofweek">{{ now|date:'l' }}</span>
                                <span class="u-nobr fc-today__sub"> <span
                                        class="fc-today__dayofmonth js-dayofmonth">{{ now|date:'d' }}</span> <span
                                        class="fc-today__month">{{ now|date:'F' }}</span> <span
                                        class="fc-today__year">{{ now|date:'Y' }}</span> </span>
                            </div>
                        </div>
                    </div>
                    <div class="fc-container--rolled-up-hide fc-container__body" data-title="headlines"
                         data-id="10f21d96-18f6-426f-821b-19df55dfb831">
                        <div class="fc-slice-wrapper">
                            <div id="main-content" class="container clearfix">
                                {#            {% include 'include/main_top.html' %}#}
                                <!-- owl-carousel-text -->
                                <!-- main-top -->
                                <div id="main-col" class="pull-left">
                                    <div class="list-posts-cat clearfix">


                                        <img src="{% static 'main/assets/logo/404.png' %}">


                                    </div>
                                    <!-- list-posts-cat -->
                                    <div class="clearfix"></div>

                                </div>
                                <!-- main-col -->

                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}